<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col size="12">
                <div class="head">
                    <ion-text>Enter Password</ion-text>
                </div>
                <div class="signup_line1">
                    <ion-text>
                        Welcome {{Mrss}}<span> {{PData.username}} {{PData.last_name}} </span>, please enter your
                        password to explore your exclusive offers
                    </ion-text>
                </div>
            </ion-col>

            <ion-col size="12">
                <div class="fblogin">
                    <div class="reward_text mt-25">
                        <ion-text>
                            Don't Know Password ?<span><a (click)="route_forgot()"
                                    style="color:#e42520; font-weight:600"> Forgot Password </a></span>
                        </ion-text>
                    </div>
                </div>
            </ion-col>

            <ion-col size="12">
                <div class="form">
                    <ion-item>
                        <ion-label position="floating">Enter Password</ion-label>
                        <ion-input type="password" pattern="[0-9]{6}" [(ngModel)]="PData.pwd"
                            [ngModelOptions]="{standalone: true}" required></ion-input>
                    </ion-item>
                    <label class="error">{{ErrorPwd}}</label>
                </div>
                <div class="sign_btn mt-20">
                    <button type="submit" (click)="pwd_submit()">Submit</button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>