<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Combo Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="combo_detail && is_api_request">
        <ion-row>
            <ion-col size="12">
                <ion-slide>
                    <div class="banner_coninr">
                        <div class="banner-img">
                            <img src="{{combo_image_url}}{{combo_detail?.image}}" alt="banner 1">
                        </div>
                    </div>
                </ion-slide>
            </ion-col>

            <ion-col size="12">

                <div class="market">
                    <p>{{combo_detail?.combo_name}}</p>
                </div>

                <div class="price">
                    <span></span>
                    <span class=""><i class="fa fa-inr"></i>{{combo_detail?.price}}</span>
                    <span></span> <span class=""><i class="fa fa-inr"></i>{{combo_detail?.mrp}}</span>
                </div>

                <div class="row box">
                    <div class="col-xs-6 col-xs-offset-6">
                        <div class="add_to_cart_btn combo-cart-action-container mt-20">
        
                            <div class="combo-action-btn add_btn no_login" *ngIf="!PData.user_id">
                                <button (click)="route_login()">+ADD</button>
                            </div>
        
                            <div [style.display]="combo_detail?.availability == 1 && PData.user_id && combo_detail?.in_cart_quantity == 0 ? 'block' : 'none' "
                                class="combo-action-btn add_btn">
        
                                <button (click)="updateComboQuantity(combo_detail.id, 'add')">+ADD</button>
        
                            </div>
        
                            <div [style.display]="combo_detail?.availability == 0 && PData.user_id ? 'block' : 'none' "
                                class="combo-action-btn out_stock">
                                <button>OUT OF STOCK</button>
                            </div>
        
                            <div [style.display]="combo_detail?.in_cart_quantity && combo_detail?.in_cart_quantity > 0 && combo_detail?.availability == 1 ? 'block' : 'none'"
                                class="combo-action-btn update_btn">
                                <button (click)="updateComboQuantity(combo_detail.id, 'down')">&minus;</button>
                                <button class="combo_quantity" id="combo_count_{{combo_detail?.id}}">{{combo_detail.in_cart_quantity}}</button>
                                <button (click)="updateComboQuantity(combo_detail.id, 'up')">&#43;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>

            <ion-col size="12">
                <div class="info">
                    <span>Combo Description</span>
                    <p style="font-weight: 300;font-size: 14px;"> {{combo_detail?.description}}</p>
                    <div class="main_c_details" *ngFor="let dt of combo_detail?.combo_product">
                        <div class="combo_item" *ngIf="dt.unit_status ==0">
                            <div class="img">
                                <img src="{{image_url}}{{dt.product_image}}">
                            </div>
                            <div class="combo_title">{{dt.product_name}} ({{dt.product_pec_weight}}</div>
                            <div class="combo_price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>
                                {{dt.product_price}}</div>
                            <span style="color:red;text-align: left;font-size:12px;" *ngIf="dt.unit_status ==0">*Out Of
                                Stock</span>
                        </div>

                        <div class="combo_item" *ngIf="dt.unit_status !=0"
                            (click)="route_product_view(dt.product_id, dt.product_name);">
                            <div class="img">
                                <img src="{{image_url}}{{dt.product_image}}">
                            </div>
                            <div class="combo_title">{{dt.product_name}} ({{dt.product_pec_weight}})</div>
                            <div class="combo_price"><span><i class="fa fa-inr"
                                        aria-hidden="true"></i></span>{{dt.product_price}}</div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Start Sketon-section -->
    <ion-list class="skelton" style="padding-top:0px" id="skeleton" *ngIf="is_api_request == false">
        <ion-item style="--border-color:transparent;--padding-start:0px;--inner-padding-end:0px;--padding-bottom:10px">
            <ion-thumbnail animated style="width: 100%;height: 80px;margin-right:0px;" slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 0 auto 5px auto;">
                <ion-thumbnail style="width: 100%;height: 40px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 5px auto;">
                <ion-thumbnail style="width: 100%;height: 25px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;" *ngFor="let item of [1,2,3]">
            <div style="width: 100%;margin: auto;">
                <ion-thumbnail style="width: 100%;height: 100px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>

                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </div>
        </ion-item>
    </ion-list>
    <!-- End Skelton-product-section -->
</ion-content>

<app-footer-tabs></app-footer-tabs>