ion-item{
    text-align: center;
}
.banner_coninr{
    width: 100%;
    padding: 17px 10px 0px 10px;
}
.banner_off{
    border: solid 1px red;
    color: red;
    width: 75px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    background-color: #ea6f6f17;
}
.banner_fvr{
    width: 50%;
    display: inline-block;
    text-align: right
}
.banner_dis_off{
    text-align: left;
    width: 50%;
    display: inline-block;
}
.banner_dis_fvr{
    text-align: right;
    width: 50%;
    display: inline-block;
}
.banner_fvr>i{
    font-size: 20px;
}
.backet_limit{
    color: #4e4d4d;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    // margin-top: 0px;
    margin-top: -20px;
}
.market{
    letter-spacing: 0.5px;
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: 500;
}
.market > p{
    text-transform: capitalize;
}
.price{
    margin: 15px 0px 0px 5px;
}
.price :nth-child(1){
    font-size: 16px;
    // color: red;
}
.price :nth-child(2){
    font-size: 20px;
    color: #6aa510;
}
.price :nth-child(3){
    color: red;
    margin-right: 15px;
}
.price :nth-child(4){
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
}
.total_item{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price :nth-child(2){
    font-size: 13px;
    color: red;
}
.backet_price :nth-child(4){
    font-size: 13px;
    color: red;
}

.add_cart{
    padding: 10px;
    text-align: center;
    padding: 10px 45px 0px 45px;
}
.add_cart > button{
    padding: 15px 30px;
    width: max-content;
    letter-spacing: 1px;
    font-size: 14px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
.box
{
    padding: 0px 5px 0px 5px;
}
.info{
    padding: 12px 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.manufacturer{
    padding: 12px 6px 10px 6px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.no-padding{
    padding:0px;
}
.featured_div{
    min-width: 47%;
    max-width: 47%;
    display: inline-block;
    margin: 0px 5px 10px 5px;
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 0.52);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom:5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 100px;
    min-height: 70px;
    max-height: 70px;
}
.subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.combo-cart-action-container{
    padding: 10px 8px;
    text-align: center;
}

.combo-cart-action-container .combo-action-btn.add_btn  button{
    width: 100%;
    border: none;
    background: #6aa510;
    padding: 8px;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.48);
}

.combo-cart-action-container .combo-action-btn.add_btn button{
    color: #fff;
    padding: 10px 51px;
    border-radius: 2px;
    border: none;
    background: #6aa510;
    width: 100%;
}

.combo-cart-action-container .combo-action-btn.add_btn button > img{
    width:20px;
}
.combo-cart-action-container .combo-action-btn.update_btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.combo-cart-action-container .combo-action-btn.update_btn button{
    color: #fff;
    border-radius: 2px;
    border: none;
    background: #6aa510;
    width: 30px;
    height: 30px;
}
.combo-cart-action-container .combo-action-btn.update_btn button.combo_quantity{
    color: #000;
    border-radius: 2px;
    border: none;
    background: transparent;
    width: calc(100% - 60px);
    background-color: #fff;
    height: 30px !important;
    
}
.combo-cart-action-container .combo-action-btn.out_stock button{
    color: #fff;
    padding: 10px 51px;
    border-radius: 2px;
    border: none;
    background: #6aa510;
    min-width: 177px;
    background: rgba(225, 27, 34, 0.61);
}

.select_variant{
    width: 40%;
    display: inline-block;
}

.main_c_details .combo_item{
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding:5px;
}
.main_c_details .combo_item .img{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.main_c_details .combo_item .combo_price{
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 12px;
    color: #333;
}
.main_c_details .combo_item .combo_title{
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: middle;
    color: #777676;
    font-size: 12px;
}
