.mar-top{
    margin-top: 24px !important;
}
.mar-bottom{
    margin-top: 30px !important;
}
.bg_banner{
    // background-image: url('../../assets/image/offer/wallet_bg_img.jpg');
    border-radius: 15px;
    background-size: 100% 100%;
    width: 85%;
    margin: 0 auto;
    max-width: 330px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 15px 24px -4px rgba(0, 0, 0, 0.18);
}
.banner_inbtn{
    width: 28px;
    height: 24px;
    padding: 3px 0px 0px 0px;
    /* background-color: #fb5677; */
    text-align: center;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
}
.content_banner{
    font-weight: 600;
    margin: 0 auto;
    padding: 35px 30px;
}
.content_banner p:nth-child(1) {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}
.content_banner a{
    font-size: 12px;
    display: block;
    color: #000;
    text-decoration: underline;
}
.content_banner span{
    text-transform:capitalize;
    font-size: 18px;
}
.vertical_align{
    height: calc(92vh - 50px);
    display: flex;
    align-items: center;
}