.no-padding{
    padding:0px;
    margin-top: -10px;
}
a:hover, a:focus{
    text-decoration: none;
}

.inline{
    display:inline-block;
}
.featured_lable{
    font-size: 14px!important;
} 
.banner-img > img{
    display: block;
    width: 100%;
}
.scroll_category{
    padding: 10px 10px;
    min-width: auto;
    max-width: 1000px;
    overflow: auto;
    display: flex;
    margin-top: -17px;
    background-color: #fffdd9;
}
.scroll_category > a{
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #1f1f1f;
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
	display: inline-flex;
    border-radius: 30px;
    min-width: max-content;
    background-color: white;
}
.scroll_category > a.active{
    border-color: #e11f21;
    color: #e11f21;
}

.featured_main{
    text-align:center;
    margin-bottom: 5px;
}
.featured_div{
    border: 1px solid rgba(204, 204, 204, 0.52);
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_img_container{
    padding: 5px 5px 0px 5px;
    text-align: center;
}
.featured_div > ion-item{
    --min-height: 35px;
    --padding-start: 10px;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.featured_div > ion-item > ion-label{
    margin:0px;
}
.offers_desc{
    padding: 10px 10px;
    text-align: center;
    font-size: 11px;

}
.subcat{
    text-align: center;
    font-size: 12px;
}

