<ion-header>
  <ion-toolbar style="--background: #fff200;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title>MB Brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="no-padding">
  <ion-row class="no-padding">
    <ion-col size="12" class="no-padding">
      <div class="sub_main_img">
        <img src="assets/image/subcategory/sub1.png">
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="scroll_category">
        <a class="active">All</a>
        <a>Featured</a>
        <a routerLink="/subcategory-view">Cold Coffee</a>
        <a>Milk Shake</a>
        <a>Ice Cream</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
        <a>All</a>
      </div>
    </ion-col>
    <ion-col size="12" class="no-padding">
      <div class="featured_text">
        <p>Featured</p>
        <a>View All</a>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col size="12">
        <div class="featured_scroll">
          <div class="featured_div">
              <div class="featured_img_container">
                <img src="assets/image/subcategory/sub_img.png">
              </div>
              <ion-item  text-wrap lines="none">
                <ion-label>
                  Onion-Organically Grown
                </ion-label>
              </ion-item>
              <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>195.00</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>
                <div class="select_variant">
                    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                      <ion-select-option value="1">500 gm</ion-select-option>
                      <ion-select-option value="2">600 gm</ion-select-option>
                      <ion-select-option value="3">1 kg</ion-select-option>
                    </ion-select>
                </div>
                <div class="add_to_cart_btn">
                  <button>Add To Cart</button>
                </div>
                <div class="delivery_time">
                  <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                </div>
                <div class="abs_discount"><p>5% off</p></div>
                <div class="abs_heart"><ion-icon name="heart-empty"></ion-icon></div>
            </div>
            <!-- featured div 2-->
            <div class="featured_div">
                <div class="featured_img_container">
                  <img src="assets/image/subcategory/sub_img2.png">
                </div>
                <ion-item  text-wrap lines="none">
                  <ion-label>
                    Onion-Organically Grown
                  </ion-label>
                </ion-item>
                <div class="subcategory_price">
                  <div class="price_cont">
                    <p class="price">
                      Rs. <span>195.00</span>
                    </p>
                  </div>
                  <div class="actual_price_cont">
                      <p class="actual_price">
                        Rs. <span>40.00</span>
                      </p>
                  </div>
                </div>
                  <div class="select_variant">
                      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                          <ion-select-option value="1">500 gm</ion-select-option>
                          <ion-select-option value="2">600 gm</ion-select-option>
                          <ion-select-option value="3">1 kg</ion-select-option>
                      </ion-select>
                  </div>
                  <div class="add_to_cart_btn">
                    <button>Add To Cart</button>
                  </div>
                  <div class="delivery_time">
                    <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                  </div>
                
              </div>

              <!-- featured div 2-->
            <div class="featured_div">
                <div class="featured_img_container">
                  <img src="assets/image/subcategory/sub_img2.png">
                </div>
                <ion-item  text-wrap lines="none">
                  <ion-label>
                    Onion-Organically Grown
                  </ion-label>
                </ion-item>
                <div class="subcategory_price">
                  <div class="price_cont">
                    <p class="price">
                      Rs. <span>195.00</span>
                    </p>
                  </div>
                  <div class="actual_price_cont">
                      <p class="actual_price">
                        Rs. <span>40.00</span>
                      </p>
                  </div>
                </div>
                  <div class="select_variant">
                      <ion-select  [interfaceOptions]="customAlertOptions" interface="alert"  placeholder="select variant">
                          <ion-select-option value="1">500 gm</ion-select-option>
                          <ion-select-option value="2">600 gm</ion-select-option>
                          <ion-select-option value="3">1 kg</ion-select-option>
                      </ion-select>
                  </div>
                  <div class="add_to_cart_btn">
                    <button>Add To Cart</button>
                  </div>
                  <div class="delivery_time">
                    <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                  </div>
              </div>
        </div>
    </ion-col> 
    <!-- next product-->
      <ion-col size="12" class="no-padding">
        <div class="featured_text">
          <p>Cold Coffee</p>
          <a>View All</a>
        </div>
      </ion-col>
    <!-- next category div-->
    <ion-col size="12">
        <div class="featured_scroll">
          <div class="featured_div">
              <div class="featured_img_container">
                <img src="assets/image/subcategory/sub_img.png">
              </div>
              <ion-item  text-wrap lines="none">
                <ion-label>
                  Onion-Organically Grown
                </ion-label>
              </ion-item>
              <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>195.00</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>
                <div class="select_variant">
                    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                        <ion-select-option value="1">500 gm</ion-select-option>
                        <ion-select-option value="2">600 gm</ion-select-option>
                        <ion-select-option value="3">1 kg</ion-select-option>
                    </ion-select>
                </div>
                <div class="add_to_cart_btn">
                  <button>Add To Cart</button>
                </div>
                <div class="delivery_time">
                  <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                </div>
              
            </div>
            <!-- featured div 2-->
            <div class="featured_div">
                <div class="featured_img_container">
                  <img src="assets/image/subcategory/sub_img2.png">
                </div>
                <ion-item  text-wrap lines="none">
                  <ion-label>
                    Onion-Organically Grown
                  </ion-label>
                </ion-item>
                <div class="subcategory_price">
                  <div class="price_cont">
                    <p class="price">
                      Rs. <span>195.00</span>
                    </p>
                  </div>
                  <div class="actual_price_cont">
                      <p class="actual_price">
                        Rs. <span>40.00</span>
                      </p>
                  </div>
                </div>
                  <div class="select_variant">
                      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                          <ion-select-option value="1">500 gm</ion-select-option>
                          <ion-select-option value="2">600 gm</ion-select-option>
                          <ion-select-option value="3">1 kg</ion-select-option>
                      </ion-select>
                  </div>
                  <div class="add_to_cart_btn">
                    <button>Add To Cart</button>
                  </div>
                  <div class="delivery_time">
                    <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                  </div>
                
              </div>

              <!-- featured div 2-->
            <div class="featured_div">
                <div class="featured_img_container">
                  <img src="assets/image/subcategory/sub_img2.png">
                </div>
                <ion-item  text-wrap lines="none">
                  <ion-label>
                    Onion-Organically Grown
                  </ion-label>
                </ion-item>
                <div class="subcategory_price">
                  <div class="price_cont">
                    <p class="price">
                      Rs. <span>195.00</span>
                    </p>
                  </div>
                  <div class="actual_price_cont">
                      <p class="actual_price">
                        Rs. <span>40.00</span>
                      </p>
                  </div>
                </div>
                  <div class="select_variant">
                      <ion-select  [interfaceOptions]="customAlertOptions" interface="alert"  placeholder="select variant">
                          <ion-select-option value="1">500 gm</ion-select-option>
                          <ion-select-option value="2">600 gm</ion-select-option>
                          <ion-select-option value="3">1 kg</ion-select-option>
                      </ion-select>
                  </div>
                  <div class="add_to_cart_btn">
                    <button>Add To Cart</button>
                  </div>
                  <div class="delivery_time">
                    <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                  </div>
              </div>
        </div>
    </ion-col>   
  

  <!-- next product-->
  <ion-col size="12" class="no-padding">
      <div class="featured_text">
        <p>Milk Shake</p>
        <a>View All</a>
      </div>
  </ion-col>
  <!-- next category div-->
  <ion-col size="12">
      <div class="featured_scroll">
        <div class="featured_div">
            <div class="featured_img_container">
              <img src="assets/image/subcategory/sub_img.png">
            </div>
            <ion-item  text-wrap lines="none">
              <ion-label>
                Onion-Organically Grown
              </ion-label>
            </ion-item>
            <div class="subcategory_price">
              <div class="price_cont">
                <p class="price">
                  Rs. <span>195.00</span>
                </p>
              </div>
              <div class="actual_price_cont">
                  <p class="actual_price">
                    Rs. <span>40.00</span>
                  </p>
              </div>
            </div>
              <div class="select_variant">
                  <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                      <ion-select-option value="1">500 gm</ion-select-option>
                      <ion-select-option value="2">600 gm</ion-select-option>
                      <ion-select-option value="3">1 kg</ion-select-option>
                  </ion-select>
              </div>
              <div class="add_to_cart_btn">
                <button>Add To Cart</button>
              </div>
              <div class="delivery_time">
                <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
              </div>
            
          </div>
          <!-- featured div 2-->
          <div class="featured_div">
              <div class="featured_img_container">
                <img src="assets/image/subcategory/sub_img2.png">
              </div>
              <ion-item  text-wrap lines="none">
                <ion-label>
                  Onion-Organically Grown
                </ion-label>
              </ion-item>
              <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>195.00</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>
                <div class="select_variant">
                    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="select variant">
                        <ion-select-option value="1">500 gm</ion-select-option>
                        <ion-select-option value="2">600 gm</ion-select-option>
                        <ion-select-option value="3">1 kg</ion-select-option>
                    </ion-select>
                </div>
                <div class="add_to_cart_btn">
                  <button>Add To Cart</button>
                </div>
                <div class="delivery_time">
                  <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                </div>
              
            </div>

            <!-- featured div 2-->
          <div class="featured_div">
              <div class="featured_img_container">
                <img src="assets/image/subcategory/sub_img2.png">
              </div>
              <ion-item  text-wrap lines="none">
                <ion-label>
                  Onion-Organically Grown
                </ion-label>
              </ion-item>
              <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>195.00</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>
                <div class="select_variant">
                    <ion-select  [interfaceOptions]="customAlertOptions" interface="alert"  placeholder="select variant">
                        <ion-select-option value="1">500 gm</ion-select-option>
                        <ion-select-option value="2">600 gm</ion-select-option>
                        <ion-select-option value="3">1 kg</ion-select-option>
                    </ion-select>
                </div>
                <div class="add_to_cart_btn">
                  <button>Add To Cart</button>
                </div>
                <div class="delivery_time">
                  <p><span><img src="assets/image/subcategory/delivery_icon.png"></span>90 min</p>
                </div>
            </div>
      </div>
  </ion-col>
</ion-row> 
</ion-grid>

</ion-content>


<!--<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(255, 255, 255, 0.7)"
size = "medium"
color = "rgb(237, 48, 53)"
type = "ball-clip-rotate-multiple"
[fullScreen] = "false"
>
<p style="
 color: #373737;
        font-weight: 100;
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 0 !important;
" > Loading... </p>
</ngx-spinner>-->
