.create{
    size: 15px;
    font-weight: 500;
}
.order{
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
}
.padcreate{
    padding-top: 5px;
    outline: none;
}
ion-card{
border-radius: 0px;
}
.card-text{
    color: #f1413d;
    text-transform: capitalize;
}
.button_status > button{
    width: max-content;
    margin: 0 0 0 auto !important;
    padding: 6px 15px;
    background: #f8cb00;
    color: #fff;
    border-radius: 6px;
    text-transform: capitalize;
    //box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.23);
    letter-spacing: 1px;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
}
span{
    font-size: 16px !important;
}
.sc-ion-card-md-h {
     border-radius: 7px;
}
.button_status{
    position: absolute;
    top: 0;
    right: 0;
}