<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Add Money</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title class="title">Add Money to your FNG E-Wallet</ion-title>
    <ion-item class="add-money-field">
        <ion-input type="number" (keyup)="valid_amount($event)" [(ngModel)]="amount"
            [ngModelOptions]="{standalone: true}" (ionChange)="invalid_amount_message()" required placeholder="Amount"
            max-length="4" min-length="4">
        </ion-input>
    </ion-item>
    <label class="error">{{ErrorMsg}}</label>
    <br>
    <p class="payment">Payment Mode:</p>
    <ion-row>
        <ion-col [size]="12">
            <ion-item>
                <div class="btncustom card_div {{pay_button_color}}" color="light" (click)="change_pay_method('paytm')"
                    block>
                    Debit-Credit Card/ Net Banking/ Wallet/ UPI
                </div>
            </ion-item>
        </ion-col>
    </ion-row><br>

</ion-content>
<ion-footer>
    <div class="center">
        <ion-button class="addmoney" color="" (click)="add_money()">
            Add Money
        </ion-button>
    </div>
</ion-footer>
<app-footer-tabs></app-footer-tabs>