<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Checkout</ion-title>
        <ion-buttons class="no-outline" slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col size="12">
                <!-- <ul class="nav nav-tabs">
                    <li [ngClass]="{'active':activeTabBilling === 1}"><a data-toggle="tab">Billing Info</a></li>
                    <li [ngClass]="{'active':activeTabDelivery === 1}"><a>Delivery Time</a></li>
                    <li [ngClass]="{'active':activeTabReview === 1}"><a>Review Order</a></li>
                    <li [ngClass]="{'active':activeTabPayment === 1}"><a>Payment</a></li>
                </ul>

                <div class="tab-content"> -->
                <!--Start Billing Info -->
                <!-- <div id="home" class="tab-pane fade in active">
                        <div class="order_prf">
                            <p>Order Preference:
                                <span *ngIf="order_type && order_type == 1">Pickup From Store</span>
                                <span *ngIf="order_type && order_type == 2">Delivery at address</span>
                            </p>

                            <div class="pickup-address-info" *ngIf="order_type && order_type == 1">
                                <p *ngIf="checkout_data?.user_details?.first_name">
                                    Name:<span>{{checkout_data?.user_details?.first_name}}
                                        {{checkout_data?.user_details?.last_name}}</span></p>
                                <p *ngIf="checkout_data?.user_details?.mobile_number">Contact
                                    Number:<span>{{checkout_data?.user_details?.mobile_number}}</span></p>
                                <p *ngIf="checkout_data?.user_details?.email_address">Email
                                    ID:<span>{{checkout_data?.user_details?.email_address}}</span></p>

                                <p *ngIf="checkout_data?.store_data?.store_name">Store
                                    Name:<span>{{checkout_data?.store_data?.store_name}}</span></p>
                                <p *ngIf="checkout_data?.store_data?.store_address">Store
                                    Address:<span>{{checkout_data?.store_data?.store_address}}</span></p>
                            </div>

                            <div class="delivery-address-info" *ngIf="order_type && order_type == 2">
                                <p *ngIf="checkout_data?.user_address?.first_name">
                                    Name:<span>{{checkout_data?.user_address?.first_name}}
                                        {{checkout_data?.user_address?.last_name}}</span></p>
                                <p *ngIf="checkout_data?.user_address?.mobile_number">Contact
                                    Number:<span>{{checkout_data?.user_address?.mobile_number}}</span></p>
                                <p *ngIf="checkout_data?.user_address?.email_address">Email
                                    ID:<span>{{checkout_data?.user_address?.email_address}}</span></p>

                                <p *ngIf="checkout_data?.user_address?.full_address">
                                    Address:<span>{{checkout_data?.user_address?.full_address}}</span></p>
                            </div>

                        </div>

                        <div class="chck_loc">
                            <div class="head" *ngIf="order_type && order_type == 1">
                                <span><img src="assets/image/my_address/home.png"></span> Pickup From Store

                                <i style="float: right;font-size: 19px;color: #545454;" class="fa fa-edit"
                                    aria-hidden="true" (click)="selectordertype('cart');"></i>
                            </div>

                            <div class="head" *ngIf="order_type && order_type == 2">
                                <span><img src="assets/image/my_address/home.png"></span> Delivery at address
                                <i style="float: right;font-size: 19px;color: #545454;" class="fa fa-edit"
                                    aria-hidden="true" (click)="selectordertype('cart');"></i>
                            </div>

                            <div class="head" *ngIf="!shipping_address">
                                <span></span> No address found.
                            </div> -->

                <!-- <ion-list> -->
                <!-- <ion-radio-group>
                                <ion-item *ngIf="order_type && shipping_address">
                                    <ion-label>{{shipping_address}}</ion-label>
                                    <ion-radio slot="start" color="success" value="{{shipping_address}}" checked>
                                    </ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </div>

                        <div class="next_step" (click)="next_tab(1)" *ngIf="order_type && shipping_address ">
                            <a data-toggle="tab" href="#menu1">Next <span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span></a>
                        </div>
                    </div> -->
                <!--End Billing Info -->

                <!--Start delivery Time-->
                <!-- <div id="menu1" class="tab-pane fade">

                        <div class="choose_time" *ngIf="order_type && order_type == 1">

                            <div *ngIf="checkout_data.store_data.pickup_timeslot_date" class="head">
                                <span class="img_icon"><img src="assets/image/icon/timeslot.png"></span> Choose
                                Pickup Time for today ({{checkout_data.store_data.pickup_timeslot_date}})
                            </div>

                            <div *ngIf="!checkout_data.store_data.pickup_timeslot_date" class="head">
                                <span class="img_icon"><img src="assets/image/icon/timeslot.png"></span>
                                Pickup option is not available currently. Please chose delivery option
                            </div>

                            <ion-list *ngIf="timeslots">
                                <ion-radio-group allow-empty-selection [(ngModel)]="PData_order.pickup_timeslot">
                                    <ion-list-header>
                                        <ion-label>Choose pickup timeslot</ion-label>
                                    </ion-list-header>

                                    <ion-item *ngFor="let timeslot of timeslots; let t_index = index;">
                                        <ion-label class="timeslot-title">{{timeslot}} </ion-label>
                                        <ion-radio [(ngModel)]="pickup_timeslot" slot="end" color="success"
                                            value="{{timeslot}}"></ion-radio>
                                    </ion-item>

                                </ion-radio-group>
                            </ion-list>

                            <ion-list *ngIf="!timeslots">
                                <p>No slot available.</p>
                            </ion-list>
                        </div>

                        <div *ngIf="order_type && order_type == 2 && timeslots">

                            <ion-list *ngIf="timeslots">
                                <ion-radio-group [(ngModel)]="PData_order.timeslot_time">
                                    <ion-list-header>
                                        <ion-label>Choose timeslot</ion-label>
                                    </ion-list-header>

                                    <ion-item *ngFor="let timeslot of timeslots; let t_index = index;">
                                        <ion-label class="timeslot-title">{{timeslot.day_name}}
                                            <small>({{timeslot.slot_date}})</small>
                                            {{timeslot.full_time}} </ion-label>
                                        <ion-radio [disabled]="timeslot.is_disable || timeslot.is_slotfull" slot="end"
                                            color="success" value="{{timeslot.id}}#{{timeslot.slot_date}}"></ion-radio>
                                    </ion-item>

                                </ion-radio-group>
                            </ion-list>

                            <ion-list *ngIf="!timeslots">
                                <p>No slot available.</p>
                            </ion-list>

                        </div>

                        <div class="nxtprevbtn">
                            <div class="text-left next_step back-btn" (click)="back_tab(1)">
                                <a data-toggle="tab" href="#home"><span><i class="fa fa-angle-left"
                                            aria-hidden="true"></i></span> Back </a>
                            </div>

                            <div class="text-right next_step" (click)="next_tab(2)"
                                *ngIf="order_type && order_type == 2 && timeslots">
                                <a data-toggle="tab" href="#menu2">Next <span><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                            </div>

                            <div class="text-right next_step" (click)="next_tab(2)"
                                *ngIf="order_type && order_type == 1 && timeslots">
                                <a data-toggle="tab" href="#menu2">Next <span><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> -->
                <!--End delivery Time -->

                <!--Start Review Order -->
                <!-- <div id="menu2" class="tab-pane fade">
                        <div class="order_rvw">
                            <div class="head">
                                <span class="img"><img src="assets/image/my_address/review-order.png"></span>
                                You have {{ checkout_data?.total_cart_item }} items in your cart
                            </div>

                            <ion-grid no-padding *ngIf="cart_products && cart_products.length > 0"
                                id="cart_listing_container" class="cart_listing_container">
                                <div class="normal-product-container" *ngFor="let cart of cart_products">
                                    <div class="normal_product_{{cart.product_id}}">
                                        <ion-row class="b-border1">

                                            <ion-col size-xs="3" size-sm="3" size-md="3" class="flex_center">
                                                <div class="cart-image-container" text-start
                                                    (click)="route_product_detail(cart?.product_id,cart?.product_name)">
                                                    <img src="{{imageUrl}}thumbnails/100/{{cart.product_image}}" />
                                                </div>
                                                <span class="cart-other-icons food_icon"
                                                    *ngIf="cart.food_type=='veg'"><img
                                                        src="assets/image/veg.png"></span>
                                                <span class="cart-other-icons food_icon"
                                                    *ngIf="cart.food_type=='nonveg'"><img
                                                        src="assets/image/non-veg.png"></span>
                                                <span class="cart-other-icons delivery_icon"
                                                    *ngIf="cart.mb_express=='yes'"><img
                                                        src="assets/image/delivery.png"></span>
                                            </ion-col>

                                            <ion-col size-xs="9" size-sm="9" size-md="9">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h3 class="prod_name"
                                                            (click)="route_product_detail(cart?.product_id,cart?.product_name)">
                                                            {{cart.product_name}} </h3>
                                                    </div>
                                                    <div class="prod_quantity_container col-xs-6">
                                                        <p class="gram">Weigth : {{cart.product_pec_weight1}}</p>
                                                    </div>

                                                    <div class="prod_quantity_container col-xs-6">
                                                        <p class="gram">Quantity : {{cart.cart_qnty}} </p>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <p class="prod_price">{{currency}}{{cart.final_price}}</p>
                                                        &nbsp;&nbsp;
                                                        <p class="prod_price cut_price" *ngIf="cart.cut_price">
                                                            {{currency}}{{cart.cut_price}}</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="item-total-line-wise product_price">
                                                            {{currency}}<span>{{cart.product_subtotal}}</span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">

                                                        <p style="font-weight:normal" class="label label-success"
                                                            *ngIf="cart.special_message">
                                                            {{cart.special_message}}</p>

                                                        <p style="font-weight:normal" class="label label-success"
                                                            *ngIf="!cart.special_message && cart.maxunit">offer Max Unit
                                                            -
                                                            {{cart.maxunit}}</p>

                                                        <p class="view_detail_link"
                                                            *ngIf="cart.save_price && cart.save_price > 0">
                                                            Saving {{currency}} {{cart.save_price}}
                                                        </p>
                                                        <span style="font-size: .9em;font-weight: bold;color: green"
                                                            class="label">{{cart.availability_message}}</span>
                                                    </div>
                                                </div>
                                            </ion-col>

                                            <ion-col size="12" *ngFor="let offerItem of cart?.offer">
                                                <div class="free_item">
                                                    <div class="free_item_image">
                                                        <img
                                                            src="{{imageUrl}}thumbnails/100/{{offerItem.product_image}}">
                                                    </div>
                                                    <div class="free_item_dec">
                                                        <div class="free_item_name">
                                                            <h4>{{offerItem.product_name}}</h4>
                                                            <span><img src="assets/image/icon/free_img.png"></span>
                                                        </div>
                                                        <div class="free_item_price">
                                                            {{currency}}{{offerItem.product_price}}
                                                        </div>
                                                        <p style="font-weight:normal; color:red;display: inline-block;width: 100%;"
                                                            class="">
                                                            {{offerItem.special_message}}</p>

                                                    </div>
                                                    <div class="free_item_total_price prod_price">
                                                        <p>{{currency}}<span>0</span></p>
                                                    </div>
                                                </div>
                                            </ion-col>

                                            <div *ngIf="cart.item_available"
                                                style="color:red;display: inline-block;width: 100%;text-align: right;">
                                                *Out Of Stock
                                            </div>
                                        </ion-row>
                                    </div>
                                </div>
                            </ion-grid>

                        </div>

                        <div class="nxtprevbtn">
                            <div class="text-left next_step back-btn" (click)="back_tab(2)">
                                <a data-toggle="tab" href="#menu1"><span><i class="fa fa-angle-left"
                                            aria-hidden="true"></i></span> Back </a>
                            </div>
                            <div class="text-right next_step" (click)="next_tab(3)">
                                <a data-toggle="tab" href="#menu64">Next <span><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> -->
                <!--End Review Order -->

                <!--Start Payment -->
                <!-- <div id="menu64" class="tab-pane fade">
                        <div class="chpmt_option">
                            <div class="head">
                                <span><img src="assets/image/my_address/payment.png"></span> Choose Payment Method
                            </div>

                            <div class="pmnt_box">
                                <ion-list>
                                    <ion-item *ngIf="checkout_data.wallet_balance !='0.00'">
                                        <ion-label>Use From My Wallet <span>(<i class="fa fa-inr"
                                                    aria-hidden="true"></i>
                                                {{checkout_data.wallet_balance}})</span>
                                        </ion-label>
                                        <ion-checkbox [(ngModel)]="PData.Wallet" [ngModelOptions]="{standalone: true}"
                                            (ionChange)="ChangeWallet(ReviewOrder?.cart_data?.cart_subtotal)"
                                            slot="start" value="pepperoni"></ion-checkbox>
                                    </ion-item>

                                    <ion-item
                                        *ngIf="checkout_data?.is_mb_express && o_tp && o_tp== '2' && checkout_data?.express_delivery_status == 'ON'">
                                        <ion-label>FNG Express Delivery
                                            ({{checkout_data?.express_time}} Min) <span>(Pay <i class="fa fa-inr"
                                                    aria-hidden="true"></i>
                                                {{checkout_data?.express_price}})</span>
                                        </ion-label>
                                        <ion-checkbox slot="start" [(ngModel)]="mb_express" value="sausage"
                                            (ionChange)="Changemb(checkout_data?.is_mb_express)"></ion-checkbox>
                                    </ion-item>
                                </ion-list>
                                <div *ngIf="VerifyPinShow" class="promo_code">
                                    <input type="password" pattern="[0-9]{6}" placeholder="Enter Wallet PIN"
                                        [(ngModel)]="Wallet_pin" [ngModelOptions]="{standalone: true}">
                                    <button
                                        (click)="verify_wallet_pin(checkout_data?.cart_subtotal,checkout_data?.shipping_charge);">Verify
                                        PIN</button>
                                    <span (click)="forgot_wallet_pin()" style="color: blue;"> &nbsp;&nbsp; Forgot
                                        Pin?</span>
                                    <span *ngIf="wallet_message" style="color: green;"
                                        class="">&nbsp;{{wallet_message}}</span>
                                </div>
                                <div class="promo_code">
                                    <input type="text" [(ngModel)]="promocode" [ngModelOptions]="{standalone: true}"
                                        placeholder="Enter Promo Code">
                                    <button
                                        (click)="apply_promo(cart_subtotal, checkout_data?.total_cart_item);">Apply</button>
                                    <span *ngIf="promo_message && this.discountamount"
                                        style="color: green;">{{promo_message}}</span>
                                    <span *ngIf="promo_message && !this.discountamount"
                                        class="error">{{promo_message}}</span>
                                </div>

                                <div class="card_div" [ngClass]="{selected: step === 0}"
                                    (click)="choose_payment_method('COD')">
                                    <a>Cash On Delivery</a>
                                </div>

                                <div class="card_div" [ngClass]="{selected: step === 1}" (click)="step=1"
                                    (click)="choose_payment_method('PAYTM');">
                                    <a>Debit-Credit Card/Net Banking/Wallet/UPI</a>
                                </div>
                            </div>
                        </div> -->

                <!-- Comment-->
                <!-- <div class="comment">
                            <ion-textarea placeholder="Shopping instructions." [(ngModel)]="PData_order.comments">
                            </ion-textarea>
                        </div> -->
                <!-- Comment-->
                <!-- <div class="subtotal">
                            <div class="main_total">
                                <p>Subtotal:
                                    <span
                                        *ngIf="checkout_data?.total_discount">{{currency}}{{ConvertToInt(checkout_data?.cart_subtotal) + ConvertToInt(checkout_data?.total_discount) | number: '1.2-2'}}
                                    </span>
                                    <span
                                        *ngIf="!checkout_data?.total_discount">{{currency}}{{checkout_data?.cart_subtotal}}
                                    </span>
                                </p>
                                <p *ngIf="checkout_data?.shipping_charge">Shipping:
                                    <span
                                        *ngIf="checkout_data?.shipping_charge !='0.00'">{{currency}}{{checkout_data?.shipping_charge }}</span>
                                    <span *ngIf="checkout_data?.shipping_charge =='0.00'"> Free</span></p>
                                <p *ngIf="checkout_data.mb_express">FNG Express Shipping: <span> + <i class="fa fa-inr"
                                            aria-hidden="true"></i>{{checkout_data.mb_express }}</span></p>

                                <p *ngIf="wallet_amount">Wallet Amount: <span>{{currency}} {{wallet_amount}}</span></p>
                                <p *ngIf="checkout_data?.total_discount">Total Discount: <span> {{currency}} -
                                        {{checkout_data?.total_discount}}</span></p>
                                <p *ngIf="discountamount">Total Promo Discount: <span>{{currency}}
                                        -{{ discountamount }}</span></p>

                                <p *ngIf="!wallet_amount && !discountamount">Total Amount:
                                    <span>{{currency}}
                                        {{ConvertToInt(cart_subtotal) + ConvertToInt(checkout_data?.shipping_charge)  | number: '1.2-2' }}</span>

                                </p>
                                <p *ngIf="!wallet_amount && discountamount">Total Amount:
                                    <span>{{currency}}
                                        {{ConvertToInt(cart_subtotal) + ConvertToInt(checkout_data?.shipping_charge) - discountamount | number: '1.2-2' }}</span>

                                </p>
                                <p *ngIf="wallet_amount">Total Amount:
                                    <span>{{currency}} {{ cart_subtotal }}</span>

                                </p>
                            </div>
                        </div>

                        <div class="nxtprevbtn">
                            <div class="text-left next_step back-btn">
                                <a data-toggle="tab" href="#menu2"> <span><i class="fa fa-angle-left"
                                            aria-hidden="true"></i></span> Back </a>
                            </div> -->

                <!-- <div class="text-right next_step" *ngIf="pay_button == 'COD'"
                                (click)="place_order()">
                                <a data-toggle="tab">Place Order</a>
                            </div> -->
                <!-- <div class="text-right next_step" *ngIf="pay_button == 'COD'"
                                (click)="place_order(discountamount,wallet_amount,o_tp,ReviewOrder?.cart_data?.shipping_charges,checkout_data.express_price)">
                                <a data-toggle="tab">Place Order</a>
                            </div>

                            <div class="text-right next_step" *ngIf="pay_button == 'PAYTM'" (click)="place_order()">
                                <a data-toggle="tab">Pay Online</a>
                            </div>

                        </div>
                    </div> -->
                <!--End Payment -->

                <!-- </div> -->

                <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->


                <div class='select-address-wrapper'>
                    <div class="select-address-title">
                        <ion-icon name="pin"></ion-icon>
                        <p>Select Address</p>
                    </div>
                    <div class="select-address-btn">
                        <p (click)="selectordertype('cart');">Change</p>
                    </div>
                </div>
                <div class="user-address-container">
                    <div class="address-type-icon">
                        <ion-icon name="home"></ion-icon>
                        <!-- <p>sd</p> -->
                    </div>
                    <div class="user-address">
                        <div class="pickup-address-info" *ngIf="order_type && order_type == 1">
                            <p *ngIf="checkout_data?.user_details?.first_name">
                                <span>{{checkout_data?.store_data?.store_name}}</span>
                            </p>
                            <p *ngIf="checkout_data?.store_data?.store_address">
                                <span>{{shipping_address}}</span>
                            </p>
                        </div>

                        <div class="delivery-address-info" *ngIf="order_type && order_type == 2">


                            <p *ngIf="checkout_data?.user_address?.addr_type" class="address-type">
                                <span>{{checkout_data?.user_address?.addr_type}}</span>
                            </p>

                            <p *ngIf="checkout_data?.user_address?.full_address" class="user-address">
                                <span>{{shipping_address}}</span>
                            </p>
                        </div>

                    </div>
                    <div class="more-option"
                        (click)="edit_address(checkout_data?.user_address?.id,checkout_data?.user_address?.addr_type);">
                        <!-- <ion-icon name=" more">
                        </ion-icon> -->
                        <ion-icon name="create"></ion-icon>
                    </div>

                </div>
                <!-- <div class="delivery-slot-title">
                    <p>Choose delivery slot for this address</p>
                </div> -->





                <!-- <div class="choose_time" *ngIf="order_type && order_type == 1">

                    <div *ngIf="checkout_data.store_data.pickup_timeslot_date" class="head">
                        <span class="img_icon"><img src="assets/image/icon/timeslot.png"></span> Choose
                        Pickup Time for today ({{checkout_data.store_data.pickup_timeslot_date}})
                    </div>

                    <div *ngIf="!checkout_data.store_data.pickup_timeslot_date" class="head">
                        <span class="img_icon"><img src="assets/image/icon/timeslot.png"></span>
                        Pickup option is not available currently. Please chose delivery option
                    </div>

                    <ion-list *ngIf="timeslots">
                        <ion-radio-group allow-empty-selection [(ngModel)]="PData_order.pickup_timeslot">

                            <ion-item *ngFor="let timeslot of timeslots; let t_index = index;">
                                <ion-radio [(ngModel)]="pickup_timeslot" slot="end" color="success"
                                    value="{{timeslot}}"></ion-radio>
                                <ion-label class="timeslot-title">{{timeslot}} </ion-label>
                            </ion-item>

                        </ion-radio-group>
                    </ion-list>

                    <ion-list *ngIf="!timeslots">
                        <p>No slot available.</p>
                    </ion-list>
                </div>

                <div *ngIf="order_type && order_type == 2 && timeslots" class="timeslot-container">
                    <div class="weekdays">
                        <div *ngFor="let weekday of reduced_time_slot_day; let d_index = index;"
                            (click)="getTimeSlot(weekday.day_id)" [ngClass]="{ 'activated':weekday.day_id == current}">
                            <p>{{weekday.day_name}}</p>
                            <p>{{weekday.slot_date}}</p>
                        </div>

                    </div>
                    <div class="day-slotes">

                        <ion-list *ngIf="timeslots">
                            <ion-radio-group (ionChange)="setTimeSlot($event)">
                                <ion-item *ngFor="let slot of avil_slots; let s_index = index;">
                                    <ion-radio [disabled]="slot.is_disable || slot.is_slotfull" color="success"
                                        value="{{slot.id}}#{{slot.slot_date}}"></ion-radio>
                                    <ion-label class="timeslot-title">
                                        <span *ngIf="!(slot.is_disable || slot.is_slotfull)">{{slot.full_time}}</span>
                                        <span *ngIf="slot.is_disable || slot.is_slotfull"
                                            style="opacity: 0.3;">{{slot.full_time}}</span>
                                        <span *ngIf="slot.is_disable || slot.is_slotfull" class="not-available-slot">Not
                                            available</span>
                                    </ion-label>
                                </ion-item>


                            </ion-radio-group>
                        </ion-list>
                    </div>

                    <ion-list *ngIf="!timeslots">
                        <p>No slot available.</p>
                    </ion-list>

                </div> -->







                <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>

        <div class="col-xs-12 final_checkout_button pl-5 pr-5" (click)="payment()">
            <span>Proceed to Payments</span>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
        </div>

    </ion-toolbar>
</ion-footer>

<app-footer-tabs></app-footer-tabs>