ion-content{
    --padding-start:20px;
    --padding-end:20px;
}
.query{
    font-size: 16px;
}
.sign_btn{
    inline-size: inherit;
}
.sign_btn > button{
    padding: 10px;
    width: 110px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
    margin-left: 5px;
}
.form > ion-item > ion-label::after{
    content:"";
}
.form > ion-item {
    --padding-start: 0px;
    --min-height: 60px;
}
.form > ion-item > ion-datetime {
    padding-bottom: 0px;
    font-size: 15px;
}
.form > ion-item > ion-label{
    margin-bottom:0px;
}
.form > ion-item > ion-input:focus{
    outline:none;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
}
label.error {
    color: #e7401b;
    font-weight: 500;
}
