ion-content{
    --padding-start: 20px;
    --padding-end: 20px;
}
.sign_btn{
    padding: 10px;
    text-align: center;
}

.add_current_add{
    text-align: right;
}

.add_current_add > button{
    color: red;
}
.sign_btn > button{
    padding: 10px;
    width: 200px;
    background: linear-gradient(to right, #e32221, #3d3938);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
.form > ion-item > ion-label::after{
    content:"";
}
.add_text{
    font-size: 16px;
    font-weight: 500;
}
.location_div{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 1px #ccc;
    margin-bottom: 6px;
}
.location_div > span > img{
    width: 30px;
    margin-right: 10px;
}
.form > ion-item.dropdown {
    --padding-start: 0px;
    --min-height: 60px;
}
.update > button{
    border: none;
    background: linear-gradient(to right, #e32320, #e8461a);
    padding: 13px 62px;
    border-radius: 30px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.39);
    font-size: 16px;

}
.error {
    color: #e7401b;
    font-weight: 500;
}
.form > ion-item > ion-select {
    color: #727272;
    --opacity: 1;
    --placeholder-opacity: 1;
}
ion-select{
    .select-placeholder{
        opacity:1;
    }
}
ion-searchbar{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 50px;
}
.place-list
{
    font-size: 12px;
}