.create{
    size: 15px;
    font-weight: 500;
}
.order{
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
}
.padcreate{
    padding-top: 5px;
}
.card-text{
    color: #f1413d;
    text-transform: capitalize;
}
.button_status > button{
    margin: 0 0 0 auto !important;
    padding: 6px 0;
    background: #f8cb00;
    color: #fff;
    border-radius: 6px;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 100%;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
}
span{
    font-size: 16px !important;
}
.sc-ion-card-md-h {
     border-radius: 7px;
}
.order_issues{
    box-shadow: 0px 6px 27px 0px rgba(213, 213, 213, 0.53);
    margin-bottom: 11px;
    padding: 20px;
}