<ion-header>
    <ion-toolbar>

        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid no-padding>
        <ion-row *ngIf="types=='0'">
            <ion-col size="12">

                <div class="form" id="appended">
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>

                        <ion-input (ionChange)="ChangeName()" [(ngModel)]="PData.first_name"
                            [ngModelOptions]="{standalone: true}" pattern="/^[a-zA-Z\s]*$/" (keypress)="keyPressAlbet($event)" required></ion-input>
                    </ion-item>
                    <label class="error">{{ErrorName}}</label>
                    <ion-item>
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input (ionChange)="ChangeName2()" [(ngModel)]="PData.last_name"
                            [ngModelOptions]="{standalone: true}" pattern="/^[a-zA-Z\s]*$/" (keypress)="keyPressAlbet($event)" required></ion-input>
                    </ion-item>
                    <label class="error">{{ErrorLName}}</label>
                    <ion-item>
                        <ion-label position="floating">Mobile Number</ion-label>
                        <ion-input [(ngModel)]="PData.mobile" disabled></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Email Address</ion-label>
                        <ion-input [(ngModel)]="PData.email_address" disabled></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Gender</ion-label>

                        <ion-select [(ngModel)]="PData.gender" interface="popover" placeholder="Select Gender">
                            <ion-select-option value="male">Male</ion-select-option>
                            <ion-select-option value="female">Female</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">DOB </ion-label>
                        <!--
value="2018-08-13 11:20:49" 
<ion-input  ></ion-input>
             -->

                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PData.user_dob"
                            placeholder="Select Date of Birth"></ion-datetime>
                    </ion-item>
                    <label class="error">{{Erroruser_dob}}</label>
                    <ion-item>
                        <ion-label position="floating">Marital Status</ion-label>

                        <ion-select [(ngModel)]="PData.marital_status" (ionChange)="optionsFn();" interface="popover"
                            placeholder="Select Marital Status">
                            <ion-select-option value="no">Unmarried</ion-select-option>
                            <ion-select-option value="yes">Married</ion-select-option>

                        </ion-select>

                    </ion-item>



                    <div id="mariatls" *ngIf="PData.marital_status=='yes'">
                        <ion-item>
                            <ion-label position="floating">Anniversary Date </ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PData.anniversary_date"
                                placeholder="Anniversary Date"></ion-datetime>
                            <label class="error" id="">{{ErrorAnnDOb}}</label>

                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Spouse Date Of Birth</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="PData.spouse_dob"
                                placeholder="Spouse Date Of Birth"></ion-datetime>
                            <label class="error" id="">{{ErrorSpouse}}</label>

                        </ion-item>




                        <div *ngIf="kids_name">
                            <div class="kids_dob" *ngFor="let kid2 of kids_name; let i = index">


                                <ion-item>
                                    <ion-label position="floating">Child Name</ion-label>
                                    <ion-input placeholder="Child Name" class="get_name" id="get_name_{{i}}"
                                        lang="{{i}}" value="{{kid2}}"></ion-input>
                                    <label class="error error2" id="get_name_error{{i}}"></label>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">Child Date Of Birth</ion-label>
                                    <ion-datetime displayFormat="DD/MM/YYYY" class="get_child_dob"
                                        id="get_child_dob_{{i}}" value="{{kids_dob[i]}}" lang="{{i}}"
                                        placeholder="Child Date of Birth"></ion-datetime>
                                    <label class="error error2" id="get_child_dob_error{{i}}"></label>
                                </ion-item>

                                <a class="delete_child" color="primary" [hidden]="i == 0" (click)="onDelete2(i)">-</a>


                            </div>
                            <div class="add_chld_button">
                                <a class="add_child" color="primary" (click)="onAdd2()">Add Child</a>
                            </div>

                        </div>




                        <div *ngIf="!kids_name">
                            <div class="kids_dob" *ngFor="let kid of kids; let i = index">


                                <ion-item>
                                    <ion-label position="floating">Child Name</ion-label>
                                    <ion-input placeholder="Child Name" class="get_name" id="get_name_{{i}}"
                                        lang="{{i}}" value=""></ion-input>
                                    <label class="error error2" id="get_name_error{{i}}"></label>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">Child Date Of Birth</ion-label>
                                    <ion-datetime displayFormat="DD/MM/YYYY" class="get_child_dob"
                                        id="get_child_dob_{{i}}" value="" lang="{{i}}"
                                        placeholder="Child Date of Birth"></ion-datetime>
                                    <label class="error error2" id="get_child_dob_error{{i}}"></label>
                                </ion-item>
                                <a class="delete_child" color="primary" [hidden]="i == 0" (click)="onDelete(i)">-</a>


                            </div>
                            <div class="add_chld_button">
                                <a class="add_child" color="primary" (click)="onAdd()">Add Child</a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="sign_btn mt-20" (click)="Submit();">
                    <button>Submit</button>
                </div>



            </ion-col>
        </ion-row>




        <ion-row *ngIf="types=='1'">
            <ion-col size="12">
                <div class="form" id="appended">
                    <ion-item>
                        <ion-label position="floating">Email Address</ion-label>
                        <ion-input [(ngModel)]="PData.email_address"></ion-input>

                        <label class="error">{{ErrorEmail}}</label>
                    </ion-item>
                </div>
                <div class="sign_btn mt-20" (click)="changeemail23();">
                    <button>Submit</button>
                </div>
            </ion-col>
        </ion-row>


        <ion-row *ngIf="types=='2'">
            <ion-col size="12">
                <div class="form" id="appended">

                    <ion-item>
                        <ion-label position="floating">Mobile Number</ion-label>
                        <ion-input [(ngModel)]="PData.mobile"></ion-input>
                        <label class="error">{{ErrorMobile}}</label>
                    </ion-item>
                </div>
                <div class="sign_btn mt-20" (click)="changemobile23();">
                    <button>Submit</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
