<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md" (click)="close_modal()" ion-button icon-only menuToggle>
            <ion-icon color="light" style="font-size: 23px;" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title color="light" size="small" slot="start">Filters</ion-title>
        <ion-text color="light" slot="end" class="ion-activatable ripple-parent">
            <p (click)="clear_filter()" style="padding-right: 10px;font-size: 13px;">Clear Filters</p>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="filter-container">
        <div class="row">
            <div class="col-xs-4">
                <div class="filter-key-container">
                    <div (click)="is_sort_by=false;is_availability=true;is_brand=true;"
                        [ngClass]="{'filter-key-content':true, 'active': is_sort_by==false}">
                        <p>Sort By</p>
                    </div>

                    <div (click)="is_sort_by=true;is_availability=false;is_brand=true;"
                        [ngClass]="{'filter-key-content':true, 'active': is_availability==false}">
                        <p>Availability</p>
                    </div>

                    <div (click)="load_brands();" [ngClass]="{'filter-key-content':true, 'active': is_brand==false}">
                        <p>Brand</p>
                    </div>
                </div>

            </div>
            <div class="col-xs-8">
                <div class="filter-value-container">
                    <div class="filter-value-content active">
                        <div [ngClass]="{'sort-by-container':true,'hide':is_sort_by}">
                            <ion-list>
                                <ion-radio-group [(ngModel)]="price_type">
                                    <ion-item>
                                        <ion-label>Low To High</ion-label>
                                        <ion-radio slot="start" color="primary"
                                            value="lowhigh" [checked]="price_type=='lowhigh'"></ion-radio>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>High To Low</ion-label>
                                        <ion-radio slot="start" color="primary" 
                                            value="highlow" [checked]="price_type=='highlow'"></ion-radio>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>Name A-Z</ion-label>
                                        <ion-radio slot="start" color="primary" 
                                            value="AZ" [checked]="price_type=='AZ'"></ion-radio>
                                    </ion-item>
                                    
                                    <ion-item>
                                        <ion-label>Name Z-A</ion-label>
                                        <ion-radio slot="start" color="primary" 
                                            value="ZA" [checked]="price_type=='ZA'"></ion-radio>
                                    </ion-item>
                                    
                                </ion-radio-group>
                            </ion-list>
                        </div>

                        <div [ngClass]="{'availibity-container':true,'hide':is_availability}">
                            <ion-list>
                                <ion-radio-group [(ngModel)]="store_availability" >
                                    <ion-item>
                                        <ion-label>Yes</ion-label>
                                        <ion-radio mode="md" slot="start" color="primary"
                                             value="yes" [checked]="store_availability=='yes'"></ion-radio>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>No</ion-label>
                                        <ion-radio mode="md" slot="start" color="primary"
                                            value="no" [checked]="store_availability=='no'"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-list>
                        </div>

                        <div [ngClass]="{'brand-container':true,'hide':is_brand}" *ngIf="brand_list">
                            <ion-list>
                                <ion-item *ngFor="let brand of brand_list; let b_index = index;">
                                    <ion-label>{{brand.brand_name}}</ion-label>
                                    <ion-checkbox (ionChange)="select_brand(brand)" mode="md" color="primary"
                                        slot="start" value="{{brand.brand_id}}" [(ngModel)]="brand.checked">
                                    </ion-checkbox>
                                </ion-item>
                            </ion-list>
                        </div>
                        <div [ngClass]="{'brand-container':true,'hide':is_brand}" *ngIf="!brand_list && is_brand_api">
                            <ion-list>
                                <p>No brand</p>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="no-bg">
        <ion-button class="filter-button-back" color="medium" slot="start" mode="md" (click)="close_modal()">Close</ion-button>
        <ion-button class="filter-button" slot="end" mode="md" (click)="apply_filter()">Apply</ion-button>
    </ion-toolbar>
</ion-footer>