<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Refer A Friend</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <ion-col size="12">
                <div class="refer_main">
                    <img src="assets/image/refer/refer.png">
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="refer_content">
                    <div class="refer_text">
                        <ion-text><span>Refer A friend</span> and Earn {{ServiceData?.data?.point}} Loyalty Points
                        </ion-text>
                    </div>
                    <div class="refer_code mt-15 mb-15">
                        {{ServiceData?.data?.refer}}
                    </div>
                    <div class="share_code" (click)="Go()">
                        <button>Share Referral Code</button>
                    </div>
                    <div class="footer_text">
                        <ion-text>Fresh N Green</ion-text>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>