.refer_main{
    overflow: hidden;
    text-align: center;
}
.refer_content{
    text-align: center;
    padding: 20px 5px;
}
.refer_text{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.refer_text > ion-text > span{
    color: #6aa510;
}
.refer_code{
    width: max-content;
    margin: 0 auto;
    padding: 10px 30px;
    background-image: url("../../assets/image/refer/refer_bg.png");
    background-size: 100% 100%;
    font-weight: 500;
    color: #6aa510;
}
.share_code > button{
    border: none;
    background: #6aa510;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.39);
}