<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">All Category</ion-title>
        <ion-buttons class="no-outline" slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="category-container-bg">
        <div *ngIf="category_list" class="category-container">
            <div *ngFor="let cat of category_list" class="category-list all_subcategory_list_bg subcategory_list_bg_{{cat.id}} ">
                <div class="category-wrapper ion-activatable ripple-parent" [hidden]="cat.is_product!=1">
                    <div class="row">
                        <div class="col-xs-4" (click)="category_page(cat.id, null, cat.name)">
                            <div class="category-image">
                                <img src="{{cat_placeholder}}"
                            (load)="download_image($event,cat.category_banner,image_url,'category/thumbnails/100')">
                            </div>
                        </div>
                        <div class="col-xs-6" (click)="category_page(cat.id, null, cat.name)">
                            <div class="category-title-container">
                                <p class="category-title">{{cat.name}}</p>
                                <!-- <p class="small font-w-300">{{cat.name}}</p> -->
                            </div>
                        </div>
                        <div class="col-xs-2 text-right">
                            <div class="category-toggle" (click)="openSubcategory(cat.id)">
                                <i aria-hidden="true" class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>

                <div style="display: none;" class="subcategory-wrapper all_subcategory_hide subcategory_hide_{{cat.id}}" *ngIf="cat.subcategory && cat.subcategory.length > 0">
                    <div class="subcategory-list">
                        <div class="category-tile no-padding ion-activatable ripple-parent" *ngFor="let cat2 of cat.subcategory; let subcat_index = index">
                            <div [ngClass]="{'subcategory-content':true,'no-br':(subcat_index+1) % 3 === 0}" (click)="category_page(cat.id, cat2.id, cat2.name)">
                                <div class="subcategory-image">
                                    <img src="{{subcat_placeholder}}" id="{{image_url}}category/thumbnails/100/{{cat2.subcategory_image}}" >
                                </div>
                                <div class="subcategory-title">
                                    <p class="cat_name">{{cat2.name}}</p>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <ion-list style="padding-top:0px" id="skeleton" *ngIf="!category_list && is_api_request == false">
        <div style="--border-color:transparent;" *ngFor="let item of [1,2,3,4]">
            <ion-item
                style="--border-color:transparent;--padding-start:0px;--inner-padding-end:0px;--padding-bottom:00px">
                <ion-thumbnail animated style="width: 100%;height: 90px;margin:7px 5px 5px 5px" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </ion-item>

            <ion-item style="--border-color:transparent;--padding-bottom:0px">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    
    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)" *ngIf="!isLoaded">
        <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Please wait...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<app-footer-tabs></app-footer-tabs>