.cat_name {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 25px;
  max-height: 25px;
  margin: 5px auto !important;
  display: block;
}
.category-container-bg {
  background-color: #e2e2e2;
}
.category-container {
  position: relative;
}
.category-container .category-list {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
}
.category-container .category-list .category-image img {
  height: 60px;
}
.category-container .category-title-container {
  display: flex;
  height: 60px;
  align-items: center;
}
.category-container .category-title-container .category-title {
  vertical-align: middle;
}
.category-container .category-toggle {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #f9f2f2;
}
.subcategory-wrapper {
  padding-top: 10px;
}
.subcategory-wrapper .subcategory-list {
  border: 1px solid lightgray;
}
.subcategory-wrapper .subcategory-list .category-tile {
  display: inline-flex;
  width: 33.333%;
  background: #fff;
}
.new-bg {
  background-color: #ffe6cc !important;
}
.subcategory-wrapper .subcategory-list .subcategory-content {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.no-bb {
  border-bottom: none !important;
}
.no-br {
  border-right: none !important;
}
.subcategory-wrapper .subcategory-list .subcategory-content .subcategory-image {
}
.subcategory-wrapper
  .subcategory-list
  .subcategory-content
  .subcategory-image
  img {
  // max-height: 60px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.subcategory-wrapper
  .subcategory-list
  .subcategory-content
  .subcategory-title
  p {
  text-align: center;
  padding: 5px;
}

// ===================================Vikas=====================================

@media (min-width: 500px) {
  .category-container .category-toggle {
    height: 100px;
  }

  .category-container .category-title-container {
    height: 100px;
  }

  .category-container .category-list .category-image img {
    height: 100px;
  }

  .subcategory-content {
    width: 100%;
  }

  .subcategory-image img {
    text-align: center;
    display: flex;
  }
}

// =============================================================================
