<ion-header class="header_background">
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Blogs</ion-title>
        <button id="search-btn" ion-button slot="end" routerLink="/search">
            <ion-img [src]="'assets/image/icon/search_icon.png'"></ion-img>
        </button>
        <button id="cart-btn" ion-button slot="end" routerLink="/cart">
            <ion-img [src]="'assets/image/icon/cart_icon.png'"></ion-img>
            <ion-badge id="cart-badge">{{CartNotification?.count}}</ion-badge>
        </button>
    </ion-toolbar>
</ion-header>
<ion-content>


    <ion-grid *ngIf="!blog_list">

        <ion-col>

            <div class="category_overlay" style="top: 60px;
            width: 100%;
            color: #000;
            align-items: center;
            bottom: 0;
            height: calc(100% - 20px);
            max-height: 250px;
            text-align: center;
           
        ">
                <p style="width: 100%;
              text-align: center;
              font-size: 18px;
              color: #000;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              line-height: 25px;
              max-height: 50px;
              display: block !important;
              ">&nbsp;&nbsp;&nbsp; No Data Found !</p>

            </div>
        </ion-col>

    </ion-grid>

    <ion-grid *ngIf="blog_list">
        <ion-col size="12" *ngFor="let bgl of blog_list; let i=index">
            <img src="{{image_url}}/blog/{{bgl.news_image}}" alt="blog_details" (click)="go_to_detail(bgl.blog_id);" />
            <div class="category_overlay" (click)="go_to_detail(bgl.blog_id);">
                <p> {{bgl.title}}</p>
                <div class="posted">
                    <div class="posted_date">
                        {{bgl.article_date}}
                    </div>
                   
                </div>
            </div>
        </ion-col>

    </ion-grid>

</ion-content>