.no-padding{
    padding:0px;
    margin-top: -10px;
    display: inline;
}
a:hover, a:focus{
    text-decoration: none;
}


.featured_text{
    margin-top: 12px;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
.bg_banner{
    // background-image: url('../../assets/image/offer/wallet_bg_img.jpg');
    border-radius: 15px;
    background-size: 100% 100%;
    width: 85%;
    margin: 20px auto 0px;
    max-width: 330px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 15px -4px rgb(0 0 0 / 18%);
    border: 1px solid #ddd;
}
.banner_inbtn{
    width: 28px;
    height: 24px;
    padding: 3px 0px 0px 0px;
    /* background-color: #fb5677; */
    text-align: center;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 12px;
    top: 1px;
}
.banner_inbtn ion-button
{
    --background: #6aa510;
}
.content_banner{
    font-weight: 600;
    margin: 0 auto;
    padding: 35px 30px;
}
.content_banner p:nth-child(1) {
    font-size: 12px;
    color: #e66c62;
    text-transform: uppercase;
}
.content_banner a{
    font-size: 11px;
    display: block;
    color: #e66c62;
    text-decoration: underline;
}
.content_banner span{
    text-transform:capitalize;
    font-size: 18px;
}
.generate_pin{
    text-align: center;
    margin-top: 38px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5e5e5e;
}
.generate_pin_btn{
    text-align: center;
    margin: 20px 0px;
}
.generate_pin_btn > button{
    padding: 12px 25px;
    background: #6aa510;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.37);
    margin: 0px 10px;
}
.generate_text{
    margin-right: 35px;
    margin-left: 35px;
    text-align: center;
    margin-top: 22px;
    color: #5e5e5e;
}
.transaction{
    margin-top: 22px;
    font-size: 15px;
    padding: 0px 10px;
}
.block_con{
    // border: 2px solid rgba(204, 204, 204, 0.52);
    border-radius: 10px;
    padding-bottom: 5px;
    width: 100%
}
.refund_block{
    border-bottom: solid 1px #ddd;
    margin: 22px 10px 22px 10px; 
}
.refund_block :last-child{
    border-bottom: none!important;
}
.ruppe{
    display: inline-block;
    vertical-align: top;
    border: solid 2px red;
    border-radius: 9px;
    width: 20px;
    margin-right: 8px;
    height: 19px;
}
.ruppe i{
    position: relative;
    left: 5px;
    color: red;
    font-size: 15px;
}
.refund_from{
    margin-bottom: 22px;
    letter-spacing: 1px;
    width: 66%;
	display: inline-block;
}
.price{
    font-weight: 600;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: red;
    text-align: right;
}
.content_banner > .image{
    width:55px;
    display:inline-block;
    vertical-align: top;
}
.content_banner > .wallet_inline{
    // width:calc(100% - 55px);
    display:inline-block;
    padding-left: 10px;
}
.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
    font-size: 13px;
}
.formgenerate{
    padding: 10px;
    position: relative;
}
.pricegreen {
    font-weight: 600;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: green;
    text-align: right;
}
.send{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    position: absolute;
    right: 10px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    touch-action: manipulation;
    height: 20px;
    width: 90px;
    bottom: 15px;
}
.error{
    color: #e32420;
    font-size: 13px;
    font-weight: 200;
    padding-left: 16px;
}
ion-item{
    --ion-color-primary: #000;
}
.wallet-message
{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    // border-radius: .25rem;
    width: 90%;
    margin: 10px auto 0 auto !important;
}
.wallet-message.success
{
    color: #155724;
    background-color: #d4edda;
    border-color: #9dcaa7;
}
.wallet-message.error
{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #e79fa7;
}