<ion-header class="header_background">
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Custom Basket</ion-title>

        <ion-buttons slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>

        <button id="cart-btn" ion-button slot="end" routerLink="/cart">
            <ion-img [src]="'assets/image/icon/cart_icon.png'"></ion-img>
            <ion-badge id="cart-badge">{{CartNotification?.count}}</ion-badge>
        </button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="no-padding">
        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="featured_main">
                    <div class="featured_div" *ngFor="let bas of ServiceData?.basket_data">
                        <div class="featured_img_container">
                            <!-- <div class="banner_dis_off">
                      <div class="banner_off">
                          5% OFF
                      </div>
                  </div> -->
                            <!-- <div class="banner_dis_fvr">
                      <div class="banner_fvr">
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                      </div>
                  </div> -->
                            <img src={{image_url}}{{bas.image}}>
                        </div>
                        <ion-item text-wrap lines="none">
                            <ion-label style="text-transform: capitalize;">
                                {{bas.title}}
                            </ion-label>
                        </ion-item>
                        <!-- <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>{{bas.basket_price}}</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>-->
                        <div class="add_to_cart_btn" (click)="GoBasketDetail(bas.parent_id,bas.title,bas.id)">
                            <button>View Basket</button>
                        </div>
                        <div class="basket_limit">
                            <span>BASKET LIMIT : {{bas.basket_size}} ITEMS</span>
                        </div>
                    </div>
                    <!-- <div class="featured_div">
              <div class="featured_img_container">
                <img src="assets/image/woven.png">
              </div>
              <ion-item  text-wrap lines="none">
                <ion-label>
                  Woven Storage Basket
                </ion-label>
              </ion-item>
              <div class="subcategory_price">
                <div class="price_cont">
                  <p class="price">
                    Rs. <span>195.00</span>
                  </p>
                </div>
                <div class="actual_price_cont">
                    <p class="actual_price">
                      Rs. <span>40.00</span>
                    </p>
                </div>
              </div>
                <div class="add_to_cart_btn">
                  <button>View Basket</button>
                </div>
                <div class="basket_limit">
                    <span>BASKET LIMIT : 10 ITEM</span>
                </div>
            </div> -->
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ngx-spinner bdOpacity=0.9 bdColor="rgba(255, 255, 255, 0.7)" size="medium" color="rgb(237, 48, 53)"
    type="ball-clip-rotate-multiple" [fullScreen]="false">
    <p style="
 color: #373737;
        font-weight: 100;
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 0 !important;
"> Loading... </p>
</ngx-spinner>