.no-padding{
    padding:0px;
}
a:hover, a:focus{
    text-decoration: none;
}
ion-title{
    font-weight:500;
    font-size: 18px;
    color: #1f1f1f;
}
.scroll_category{
    padding: 10px 10px;
    min-width: auto;
    max-width: 1000px;
    overflow: auto;
    overflow-x: scroll;
	display: flex;
}
.scroll_category > a{
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #1f1f1f;
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
	display: inline-flex;
    border-radius: 30px;
    min-width: max-content;
}
.scroll_category > a.active{
    border-color: #e11f21;
    color: #e11f21;
}
.featured_text{
    padding: 0px 5px;
}
.featured_text > p{
    width: 100%;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
    text-align: center;
}
.featured_text > a{
    width: 30%;
    display: inline-block;
    text-align: right;
    color: #e11f21;
    font-weight: 600;
}
.featured_div_1{
    min-width: 70%;
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 0.52);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom:5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_div_1 .featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_div_1 .featured_img_container > img{
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
.subcategoy_name{
    padding: 0px 2px;
    text-align: left;
}
.subcategoy_name > p{
    color: #1f1f1f;
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 17px;
    max-height: 17px;
    padding-left: 3px;
}
.featured_div_1 .subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.featured_div_1 .subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.featured_div_1 .subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.featured_div_1 .subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.featured_div_1 .select_variant{
    padding: 0px 7px 0px 0px;
}
.featured_div_1 .select_variant ion-select{
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    color: #1f1f1f;
    border-radius: 10px;
}
.featured_div_1 .add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
}
.featured_div_1 .add_to_cart_btn > button{
    width: 75%;
    /* background: #ccc; */
    border: none;
    background: linear-gradient(to right, #e32121, #ff673d);
    padding: 8px;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);
}
.featured_div_1 .delivery_time{
    padding: 0px 8px;
    width: 60%;
    margin: 0 auto;
}
.featured_div_1 .delivery_time > p{
    text-align: center;
    border: 1px solid #00a204;
    padding: 2px 10px;
    border-radius: 30px;
    background: #e9ffea;
    color: #00a204;
    font-size: 13px;
}
.featured_div_1 .delivery_time > p > span{
    margin-right:5px;
}
.featured_div_1 .delivery_time > p > span > img{
    width: 18px;
}
.featured_div_1 .subcategory_price{
    width: 60%;
    display: inline-block;
}
.featured_div_1 .select_variant{
    width: 40%;
    display: inline-block;
}
@media screen and (max-width: 810px){
    .featured_div_1{
        min-width: 32%;
        max-width: 33%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 768px){
    .featured_div_1{
        min-width: 31.5%;
        max-width: 31.5%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 500px){
    .featured_div_1{
        min-width: 47.5%;
        max-width: 47.5%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 410px){
    .featured_div_1{
        min-width: 47%;
        max-width: 47%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 375px){
    .featured_div_1{
        min-width: 47%;
        max-width: 47%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
        
    }
    .subcategory_price > .price_cont{
        width: 56%;
    }
    .subcategory_price > .actual_price_cont{
        width: 42%;
    }
    .subcategory_price > .actual_price_cont > p {
        font-size: 9px;
    }
    
} 

@media screen and (max-width: 345px){
    .featured_div_1{
        min-width: 95%;
        max-width: 95%;
        display: inline-block;
        margin: 10px auto;
        
    }
    .featured_main_1{
        text-align:center;
    }
    .subcategory_price > .price_cont > p{
        font-size: 12px;
    }
    .subcategory_price > .price_cont > p > span{
        font-size: 14px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 13px;
        
    }
    
} 
