<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Raise Ticket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col size="12">
                <div class="query mt-30  ticket-title">
                    <ion-text>Please Fill The Below Details To create The Ticket</ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="form">
                    <ion-item>
                        <ion-select placeholder="Store" [(ngModel)]="PData.store" name="store"
                            [ngModelOptions]="{standalone: true}" required>
                            <ion-select-option *ngFor="let storess of let_store" value="{{storess.store_id}}">
                                {{storess.store_name}}</ion-select-option>
                        </ion-select>
                    </ion-item>


                    <label class="error">{{ErrorStore}}</label>
                    <ion-item (ionChange)="Change()">
                        <!-- <ion-label>Visit Date</ion-label> --vikas-->
                        <ion-datetime [(ngModel)]="PData.visit_date" [min]="minDate" max="2028-10-31"
                            [ngModelOptions]="{standalone: true}" display-format="DD-MM-YYYY" picker-format="DD-MM-YYYY"
                            placeholder="Visit Date"></ion-datetime>
                    </ion-item>
                    <label class="error">{{ErrorVisit_date}}</label>

                    <ion-item>
                        <!-- <ion-label position="floating">Description</ion-label> --vikas-->
                        <!-- <ion-input [(ngModel)]="PData.description" [ngModelOptions]="{standalone: true}"
                            (ionChange)="Change()" type="text" placeholder="Description"></ion-input> --vikas-->
                        <ion-textarea [(ngModel)]="PData.description" [ngModelOptions]="{standalone: true}"
                            (ionChange)="Change()" type="text" placeholder="Description"></ion-textarea>
                    </ion-item>
                    <label class="error">{{ErrorDescription}}</label>

                </div>
            </ion-col>
        </ion-row>
        <div class="sign_btn mt-20  center">
            <button (click)="Submit()" class="submit_btn">Submit</button>
            <button (click)="Cancel()" class="cancel_btn">Cancel</button>
        </div>
        <div class="background-image">
            <!-- <img src="../../assets/image/0018.png" alt=""> -->
        </div>

    </ion-grid>
</ion-content>

<app-footer-tabs></app-footer-tabs>