ion-content{
    --padding-start:20px;
    --padding-end:20px;
}
.query{
    font-size: 16px;
}
.sign_btn{
    inline-size: inherit;
}
.sign_btn > button{
    padding: 10px;
    width: 110px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
    margin-left: 5px;
}
.form > ion-item > ion-label::after{
    content:"";
}
.form > ion-item {
    --padding-start: 0px;
    --min-height: 60px;
}
.form > ion-item > ion-datetime {
    padding-bottom: 0px;
    font-size: 15px;
}
.form > ion-item > ion-label{
    margin-bottom:0px;
}
.form > ion-item > ion-input:focus{
    outline:none;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
}
label.error {
    color: #e7401b;
    font-weight: 500;
}

// ===========================================================================

.header-md:after {
    background-color: #fff;
    height: 50px;
    bottom: 0;
    z-index: 99;
    background-image: none;
    border-radius: 50px 50px 0 0;
}

ion-toolbar.in-toolbar.md.toolbar-title-default.hydrated {
    height: 110px;
}

.ticket-title {
    margin: 0 !important;
    text-align:center
}

.ticket-title ion-text{
    font-size:12px
}

.form > ion-item{
    --border-width: 1px;
    --border-radius: 30px;
    --inner-padding-start: 25px;
    --min-height: 40px;
}

.form > ion-item > ion-input{
    --padding-top: 0;
}

.form > ion-item > ion-datetime{
    --padding-top: 0;
    --padding-start: 0;
}

.form > ion-item > ion-select{
    --padding-top: 0;
}

button.submit_btn {
    color:#000 !important;
    background: none!important;
    background-color: #6aa510 !important;
}

button.cancel_btn {
    color:#000 !important;
}

.background-image {
    margin-top: 20px;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
}

// ============================================================================