ion-title{
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
    text-align: center;
}
ion-grid{
    padding: 0px 14px 0px 4px;
}
ion-col{
    width: 100%;
    float: left;
    position: relative;
}
ion-col >img{
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 20px 10px #aaa5a5;
    width: 100%;
    max-height: 250px;
}
ion-col:last-child >img{
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 20px 10px #aaa5a5;
    width: 100%;
    max-height: 225px;
}
ion-col:last-child  .category_overlay{
    bottom: 20px;
}
.category_overlay{
    position: absolute;
    top: auto;
    width: auto;
    color: #fff;
    align-items: center;
    padding: 0px 20px 0px 15px;
    bottom: 0;
    height: calc(100% - 20px);
    max-height: 250px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 10px;
}
.category_overlay > p{
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 25px;
    max-height: 50px;
}
.posted{
    width: 100%;
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
}
.posted_date{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.posted_team{
    display: inline-block;
    width: 50%;
    text-align: right;    
}