<ion-header>
  <ion-toolbar>
    <ion-title>mbExpressDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
        
          <ion-col size="10">
     
              <ion-slides pager="true">
                  <!--start product gallery image -->
                  <ion-slide>
                      <div class="banner_coninr">
                        <div class="banner-img">
                          <!-- <img src={{image_url}}{{ServiceData?.basket_data?.image}} alt="banner 1"> -->
                          <img src="assets/image/Basket_Detail_Page1.png" alt="banner 1">
                        </div> 
                      </div>
                  </ion-slide>
                  <!--start product gallery image -->
                  <ion-slide *ngFor="let gallery of ServiceData?.basket_data?.gallery_data">
                    <div class="banner_coninr">
                     <div class="banner-img">
                        <img src={{image_url}}{{gallery?.image}} alt="banner 1">
                      </div> 
                    </div>
                  </ion-slide>
             </ion-slides>
             <div  class="eatable"><img src="assets/image/non_eatable_icon.png" title="icon"></div>
             <div  class="eatable"><img src="assets/image/eatables_icon.png" title="icon"></div>
             <div  class="veg"><img src="assets/image/veg.png" title="veg"></div>
             <div  class="veg"><img src="assets/image/non-veg.png" title="nonveg"></div>
          </ion-col>
         

          <ion-col class="discount_offer">
            <span class="discount_count">5% OFF</span>
          </ion-col>
          <ion-col class="wishlist_select" (click)="wishlist_add($event)">
            <span class="wishlist_icon"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          </ion-col>
         
         

        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p class="prod_main_heading">Fresho Pineapple - Organically Grown </p>
            <!-- <p class="prod_sub_heading">Frozen G Market</p> -->
          </ion-col>
            <ion-col size="6">
              <p class="prod_price">Rs. <span class="final_price">195.00</span> 
                <!-- <span class="mrp_price">Rs. 40.00</span> -->
              </p>
            </ion-col>
            <ion-col size="6" no-padding>
              <ion-list no-padding>
                  
                  <ion-select value="500gm" okText="Okay" cancelText="Dismiss" class="weight_selection" [interfaceOptions]="customPopoverOptions" interface="popover">
                    <ion-select-option value="200gm">200gm</ion-select-option>
                    <ion-select-option value="500gm">500gm</ion-select-option>
                    <ion-select-option value="1kg">1kg</ion-select-option>
                    <ion-select-option value="5kg">5kg</ion-select-option>
                  </ion-select>
                
              
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <div class="prod_quantity text-center" *ngIf="item_qty >= 1">QTY &nbsp;
                <button (click)="dec()">&minus;</button>
                <button id="count">{{item_qty}}</button>
                <button (click)="inc()">&#43;</button>
              </div>


              <div class="add_to_cart text-center" *ngIf="0 >= item_qty" (click)="add_to_cart()">
                <button>Add to cart</button>
              </div>
            </ion-col>
            <div class="delivery_time">
                <span ><img src="assets/image/flag.png"></span>
                <!-- <span><img src={{flagUrl}}{{express?.flag?.country_flag}}></span> -->
                <span ><img src="assets/image/weight.png"></span>
                <span><img src="assets/image/delivery.png"></span>
            </div>

        </ion-row><br>


        <ion-row>
            <ion-col>
            <div style="overflow:hidden; overflow-x: scroll;">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Item Details</a></li>
                <li><a data-toggle="tab" href="#menu1">Product Feature</a></li>
              </ul>
            </div>
          
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
             
            </div>
          </ion-col>
        </ion-row>


      </ion-grid>
  
    <ion-grid class="no-padding">
        <div class="basket_details">
            <span>Best Seller</span>
            <div></div>
        </div><br>
        <ion-row class="no-padding">
            <ion-col size="12">
              <div class="featured_main">
                <div class="featured_div">
                  <div class="featured_img_container">
                    <img src="assets/image/oats.png">
                  </div>
                  <ion-item  text-wrap lines="none">
                    <ion-label>
                      Oats
                    </ion-label>
                  </ion-item>
                  <div class="subcategory_price">
                    <div class="price_cont">
                      <p class="price">
                        Rs. <span>195.00</span>
                      </p>
                    </div>
                    <div class="actual_price_cont">
                        <p class="actual_price">
                          Rs. <span>40.00</span>
                        </p>
                    </div>
                  </div>
                  <div class="add_to_cart_btn">
                    <div class="new_add_btn_2">
                      <button>Add To Cart</button>
                      </div>
                      <div class="product_qty" style="display:none"  >
                          <div class="add_cart2">
                          <button class="less_item">-</button>
                          <input type="text" value="1" disabled="">
                          <button class="add_item">+</button>
                          </div>
                      </div> 
                  </div>
                </div>
                <div class="featured_div">
                  <div class="featured_img_container">
                    <img src="assets/image/masala.oats.png">
                  </div>
                  <ion-item  text-wrap lines="none">
                    <ion-label>
                      Masala Oats - veggie Twist
                    </ion-label>
                  </ion-item>
                  <div class="subcategory_price">
                    <div class="price_cont">
                      <p class="price">
                        Rs. <span>195.00</span>
                      </p>
                    </div>
                    <div class="actual_price_cont">
                        <p class="actual_price">
                          Rs. <span>40.00</span>
                        </p>
                    </div>
                  </div>
                    <div class="add_to_cart_btn">
                      <div class="new_add_btn_2">
                        <button>Add To Cart</button>
                       </div>
                        <div class="product_qty" style="display:none"  >
                            <div class="add_cart2">
                            <button class="less_item">-</button>
                            <input type="text" value="1" disabled="">
                            <button class="add_item">+</button>
                            </div>
                        </div> 
                    </div>
                </div>
  
                <div class="featured_div">
                    <div class="featured_img_container">
                      <img src="assets/image/masala.oats.png">
                    </div>
                    <ion-item  text-wrap lines="none">
                      <ion-label>
                        Masala Oats - veggie Twist
                      </ion-label>
                    </ion-item>
                    <div class="subcategory_price">
                      <div class="price_cont">
                        <p class="price">
                          Rs. <span>195.00</span>
                        </p>
                      </div>
                      <div class="actual_price_cont">
                          <p class="actual_price">
                            Rs. <span>40.00</span>
                          </p>
                      </div>
                    </div>
                    <div class="add_to_cart_btn">
                      <div class="new_add_btn_2">
                        <button>Add To Cart</button>
                        </div>
                        <div class="product_qty" style="display:none"  >
                            <div class="add_cart2">
                            <button class="less_item">-</button>
                            <input type="text" value="1" disabled="">
                            <button class="add_item">+</button>
                            </div>
                        </div> 
                    </div>
                  </div>
  
                  <div class="featured_div">
                      <div class="featured_img_container">
                        <img src="assets/image/masala.oats.png">
                      </div>
                      <ion-item  text-wrap lines="none">
                        <ion-label>
                          Masala Oats - veggie Twist
                        </ion-label>
                      </ion-item>
                      <div class="subcategory_price">
                        <div class="price_cont">
                          <p class="price">
                            Rs. <span>195.00</span>
                          </p>
                        </div>
                        <div class="actual_price_cont">
                            <p class="actual_price">
                              Rs. <span>40.00</span>
                            </p>
                        </div>
                      </div>
                      <div class="add_to_cart_btn">
                        <div class="new_add_btn_2">
                          <button>Add To Cart</button>
                          </div>
                          <div class="product_qty" style="display:none"  >
                              <div class="add_cart2">
                              <button class="less_item">-</button>
                              <input type="text" value="1" disabled="">
                              <button class="add_item">+</button>
                              </div>
                          </div> 
                      </div>
                    </div>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>

  <!--<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(255, 255, 255, 0.7)"
size = "medium"
color = "rgb(237, 48, 53)"
type = "ball-clip-rotate-multiple"
[fullScreen] = "false"
>
<p style="
 color: #373737;
        font-weight: 100;
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 0 !important;
" > Loading... </p>
</ngx-spinner>-->
