<ion-content padding>
    <ion-slides pager="true">
        <ion-slide>
            <div class="screenshot">
                <div class="title">
                    <img src="assets/image/Home.png">
                    <div class="skip">
                        <a routerLink="/home">Skip</a>
                    </div>
                    <div class="page_title">
                        Search Product and Category
                    </div>
                </div>
                <img class="screen" src="assets/image/intro/step1.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="screenshot">
                <div class="title">
                    <img src="assets/image/Home.png">
                    <div class="skip">
                        <a routerLink="/home">Skip</a>
                    </div>
                    <div class="page_title">
                        Side Menu All Functions
                    </div>
                </div>
                <img class="screen" src="assets/image/intro/step2.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="screenshot">
                <div class="title">
                    <img src="assets/image/Home.png">
                    <div class="skip">
                        <a routerLink="/home">Skip</a>
                    </div>
                    <div class="page_title">
                        Side Panel Selection
                    </div>
                </div>
                <img class="screen" src="assets/image/intro/step3.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="screenshot">
                <div class="title">
                    <img src="assets/image/Home.png">
                    <div class="skip">
                        <a routerLink="/home">Skip</a>
                    </div>
                    <div class="page_title">
                        Side Panel Selection
                    </div>
                </div>
                <img class="screen" src="assets/image/intro/step4.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="screenshot">
                <div class="last_step">
                    <div>
                        <img class="screen" src="assets/image/Home.png">
                        <p>Congratulation to join freshngreen. We are finding best offers for You!</p>
                        <button routerLink="/home">Complete</button>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>