ion-content{
    --background:linear-gradient(to right, #ec3d2d, #f16127);
    height: 100vh;
}
ion-slides{
    height: 100%
}
.swiper-pagination-bullet-active{
    --bullet-background-active: #ffffff !important;
}
.screenshot > .screen{
    max-height: 70vh;
    
}
.screenshot > .title{
    height: 15vh;
    position: relative;
}
.screenshot .page_title{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.screenshot > .title > .skip{
    position: absolute;
    top: calc(0px + 12.5px);
    right: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.screenshot > .title > .skip > a{
    color: #fff;
}
.screenshot > .title > img{
    width: 50%;
    max-width: 190px
}
.screenshot{
    height: 100%;
    width:100%;
}
.last_step{
    height: 100%;
    display: flex;
    align-items: center;
}
.last_step > div > img{
    margin: 20px 0px;
    width: 50%;
    max-width: 190px;   
}
.last_step > div{
    width: 100%; 
}
.last_step > div > p{
    margin: 50px 0px 30px !important;
    color: #fff;
    line-height: 25px;   
}
.last_step > div > button{
    background: #fac806;
    border: none;
    padding: 10px 70px;
    border-radius: 30px;
    box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.33);   
}