ion-content{
    background-image: url("../../assets/image/form_bg.png");
    background-size: 100% 100%;
    --background: transparent;
    background-attachment: fixed;
    --padding-start: 20px;
    --padding-end: 20px;
}

.back_btn{
    padding:10px 0px;
}
.back_btn > span{
    display: inline-flex;
    width: 30px;
    align-items: center;
    position: relative;
    left: -8px;
    height: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.55);
}
.back_btn > span > img{
    width: 16px;
    margin: 0 auto;
}
.head{
    margin: 25px 0px;
    font-size: 20px;
}
.signup_line{
    text-transform: capitalize;
}

.form > ion-item:last-child > ion-label::after{
    content:"";
}
.sign_btn{
    padding: 10px;
    text-align: center;
}
.sign_btn > button{
    padding: 10px;
    width: 100%;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
/***************/
.border{
    border: solid 1px #e6e6e6;
    margin-top: 30px;
}
.error
{
    font-weight: 400;
    font-size: .8em;
}
.box-conteiner
{
    margin-top: 10px;
}
.box-conteiner .box
{
    display: block;
    border:lightgray 1px solid;
    border-radius: 2px;
    margin-bottom: 5px;
}
.box-conteiner .box._order_type
{
    border:none;
    border-bottom:lightgray 2px solid;
    background-color: #eaeaea;
}
.box-conteiner .box.order-type.active
{
    border-bottom:green 2px solid !important;
    background-color: #d1f3d1 !important;
    // color: white;
}
.box-conteiner .box.address-list.active
{
    border:green 1px solid;
}
.box-conteiner .box .box-content
{
    padding: 10px 10px;
    
}
.box-conteiner .box._order_type .box-content
{
    padding: 1px 10px;
}
.box-conteiner .box .box-content .order-type-title
{
    text-align: center;
}
.divider
{
    border-bottom: lightgray 1px solid;
    margin-bottom: 20px;
}
.address-type
{
    display: inline;
    border: #406408 solid 1px;
    padding: 5px;
    border-radius: 2px;
    background: #6aa510;
    color: white;
}
.relative
{
    position: relative;
}
.relative .tick
{
    position: absolute;
    right: 10px;
    top: 10px;
    color: green;
}
ion-button
{
    --background:#426b04;
}