<ion-header>
  <ion-toolbar style="--background: #fff200;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title>Ticket Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Store Issue</a></li>
            <li><a data-toggle="tab" href="#menu1">Product Issue</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="store">
                <div class="add text-right">
                  <a><span><img src="assets/image/ticket/add.png"></span> Add Ticket</a>
                </div>
                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="pending">Pending</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>

                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="pending">Pending</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>

                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="recieved">Recieved</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="store">
                <div class="add text-right">
                  <a><span><img src="assets/image/ticket/add.png"></span> Add Ticket</a>
                </div>
                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="pending">Pending</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>

                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="pending">Pending</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>

                <div class="issue_div" routerLink="/view-ticket">
                  <div class="ticketid mb-10">
                    <div class="text inline">
                      <ion-text>Ticket ID: <span>#237167</span></ion-text>
                    </div>
                    <div class="status inline text-right">
                      <p class="recieved">Recieved</p>
                    </div>
                  </div>
                  <div class="subject mb-5">
                    <ion-text>Subject: <span>Product Packaging Not Good</span></ion-text>
                  </div>
                  <div class="day">
                    <ion-text>Created On: <span>18-07-2018</span></ion-text>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(255, 255, 255, 0.7)"
size = "medium"
color = "rgb(237, 48, 53)"
type = "ball-clip-rotate-multiple"
[fullScreen] = "false"
>
<p style="
 color: #373737;
        font-weight: 100;
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 0 !important;
" > Loading... </p>
</ngx-spinner>
