<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Loyalty Points</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="no-padding">
        <ion-row class="no-padding">
            <ion-col class="no-padding" size="12">
                <div class="featured_text">
                    <p class="mainhead">Total Loyalty Points</p>
                </div>
            </ion-col>
            <div class="bg_banner">
                <div class="content_banner">
                    <div class="image">
                        <!-- <img src="assets/image/loyalty.png"> -->
                    </div>
                    <div class="wallet_inline">
                        <p>Your Loyalty Points</p>
                        Redeem Limit : {{ServiceData?.data?.redeem_limit}}<br>
                        <p>Escrow : {{ServiceData?.data?.other_loyality_point}}</p>
                        <span class="total-loyalty-point"><i class=""
                                aria-hidden="true"></i>{{ServiceData?.data?.total_loyalty}}</span>
                        <div class="loyality-in-rs">Loyalty Point in Rupees <i class="fa fa-inr"
                                aria-hidden="true"></i>{{ServiceData?.data?.loyalty_rupees}} </div>
                        <ion-button
                            *ngIf="ServiceData?.data?.redeem_limit && ServiceData?.data?.total_loyalty >= ServiceData?.data?.redeem_limit "
                            (click)="ClickRedeem()" class="redeem-loyality">Redeem Loyalty</ion-button>
                        <!-- <a>Term & Condition</a> -->
                    </div>
                </div>
            </div>

            <div class="offers_main_div">
                <h4>Offers</h4>
                <p>Earn points on your daily activities - shopping, payments,
                    grocery & more</p>
            </div>

            <div class="offer_category">
                <div class="offer_block" *ngFor="let loy_off of ServiceData?.data?.loyalty_offers">
                    <div class="off_name" *ngIf="loy_off.name == 'Order'">
                        <p>Shop for {{loy_off.range_from}} To {{loy_off.range_to}}</p>
                        <p> & Earn Loyalty Points {{loy_off.loyality_point}}</p>
                    </div>

                    <div class="off_name" *ngIf="loy_off.name == 'On Referral'">
                        <p>Refer A Friend</p>
                        <p> & Earn Loyalty Points {{loy_off.loyality_point}}</p>
                    </div>

                    <div class="get_offer" *ngIf="loy_off.name == 'Order'" routerLink="/category">
                        <a>Shop Now</a>
                    </div>
                    <div class="get_offer" *ngIf="loy_off.name == 'On Referral'" routerLink="/refer-freind">
                        <a>Refer Now</a>
                    </div>
                </div>
            </div>

            <!-- Earned Points -->
            <div class="earned_pnt">
                <h3>Earned Points</h3>
                <div class="earned_div" *ngFor="let loy of ServiceData?.data?.loyalty_history">
                    <div class="earned_img">
                        <img src="assets/image/loyalty.png">
                    </div>
                    <div class="earned_txt">

                        <h3 *ngIf="loy.order_number"><span
                                style="color: #e95453; text-transform: capitalize;">{{loy.loyalty_type}}
                                #{{loy.order_number}}</span></h3>
                        <h3 *ngIf="!loy.order_number"><span
                                style="color: #e95453; text-transform: capitalize;">{{loy.loyalty_type}} </span></h3>
                        <p *ngIf="loy.loyalty_type == 'referral'">You have earned {{loy.total_loyalty_points}} Loyalty
                            Points by {{loy.loyalty_type}}.</p>
                        <p *ngIf="loy.loyalty_type == 'redeemed'">You have redeemed {{loy.used_loyality}} Loyalty Points
                            in <i class="fa fa-inr" aria-hidden="true"></i>{{loy.loyalty_rupees}}</p>
                        <p *ngIf="loy.loyalty_type == 'Social Signup' || loy.loyalty_type == 'order'">You have earned
                            {{loy.total_loyalty_points}} Loyalty Points by {{loy.loyalty_type}}. </p>
                        <div class="date_pnts">
                            <div class="pnts">
                                <span class="star_img"><img src="assets/image/point-flag.png"></span>
                                Loyalty Points
                                <span *ngIf="loy.loyalty_type == 'referral'">{{loy.total_loyalty_points}}</span>
                                <span *ngIf="loy.loyalty_type == 'redeemed'">{{loy.used_loyality}}</span>
                                <span
                                    *ngIf="loy.loyalty_type == 'Social Signup' || loy.loyalty_type == 'order'">{{loy.total_loyalty_points}}</span>
                            </div>
                            <div class="date">
                                <span>Date:</span> {{loy.date | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer-tabs></app-footer-tabs>