.create {
  size: 15px;
  font-weight: 500;
}
.order {
  padding-left: 10px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}
.padcreate {
  padding-top: 5px;
}
.card-text {
  color: #f1413d;
  text-transform: capitalize;
}
.button_status > button {
  margin: 0 0 0 auto !important;
  padding: 6px 0;
  background: #f8cb00;
  color: #fff;
  border-radius: 6px;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 100%;
}
span.tickets {
  padding-right: 14px;
  padding-top: 10px !important;
  font-size: 16px !important;
}
span {
  font-size: 16px !important;
}
.sc-ion-card-md-h {
  border-radius: 7px;
}
.order_issues {
  box-shadow: 0px 6px 27px 0px rgba(213, 213, 213, 0.53);
  margin-bottom: 11px;
  padding: 20px;
}

// =================================================================

ion-row.order_issues {
  box-shadow: none;
  padding: 10px;
  background-color: #fff;
}

ion-row.order_issues ion-col {
  padding: 0;
}

ion-content {
  --background: #f2f2f2;
}

p.tickets-details {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

p.tickets-details span {
  color: #000 !important;
  font-size: 13px !important;
}

p.tickets-details ion-icon {
  color: #ff9d3b;
}

p.tickets-dec span {
  color: #000 !important;
  font-size: 12px !important;
}

p.tickets-time span {
  font-size: 10px !important;
  color: #0984e3 !important;
}

p.tickets-time {
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

ion-col.create-ticket a {
  font-size: 12px;
  display: block;
  border: none !important;
  background-color: #ff9d3b;
  color: #000 !important;
  border-radius: 20px;
  padding: 5px 10px 4px;
  font-weight: 500;
  text-decoration: none !important;
}

ion-col.create-ticket {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
