.voice{
    text-align: center;
    padding-top: 11px;
    font-size: 16px;
    position: absolute;
    right: 5px;
    z-index: 9999999;
    top: 7px;
    padding: 10px 15px;
}
.search-conteiner
{
    margin: 5px 0;
}