.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.title-md .header_logo {
    /*width: 75%;*/
    margin: 0 auto;
    display: block;
    margin-top: 4px;
}

.banner-img > img {
    display: block;
    width: 100%;
}
.testimonial_image img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    height: 100px;
    width: 100px !important;
    border: 3px solid #e03535;
}

/*Category Section Start*/
.popular_categories_div {
    background: #ececec;
    // border-radius: 10px;
    margin-top: 1px;
    padding: 5px;
}
.popular_categories_div .pc_head__ {
    padding: 0 3px;
}
.popular_categories_div .pc_head {
    padding: 10px 15px;
    text-align: left;
    background: #fff;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    margin-bottom: 10px;
    border: 1px solid #999;
}
.popular_categories_div .pc_head h3.category-heading {
    margin: 0px;
    font-size: 16px;
    // font-family: AvenirNextLTPro-Medium;
    // color: white;
    font-weight: 400;
}
.popular_categories_div .pc_head h4.category-view-more {
    margin: 0px;
    font-size: 14px;
    // font-family: AvenirNextLTPro-Medium;
    // color: white;
    text-align: right;
    font-weight: 400;
}

div.category_type {
    // border: 1px solid #fff;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 1px;
    box-shadow: 0px 1px 4px 0px #aaa5a5;
}
div.category_type .category_img {
    width: 100%;
    // max-height: 85px;
    min-height: 85px;
    overflow: hidden;
    // padding: 10px 10px;
    display: flex;
    align-items: center;
}
div.category_type .category_img > img {
    width: 100%;
    min-height: auto;
    max-height: 115px;
    margin: 0 auto;
}
.category_main {
    padding-left: 3px;
    padding-right: 3px;
}
.category_name {
    text-align: center;
}
.category_name > p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #1f1f1f;
    // font-family: AvenirNextLTPro-Regular;
    // font-weight: 600;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
}
.category_container {
    padding: 0;
}
.category_more_div {
    position: relative;
}
.category_img.category_more_div > img {
    width: 50% !important;
    margin: 0 auto;
}
.category_container ion-row ion-col {
    -webkit-padding-start: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 3px)
    );
    padding-inline-start: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 3px)
    );
    -webkit-padding-end: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 3px)
    );
    padding-inline-end: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 3px)
    );
    padding-top: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 0px)
    );
    padding-bottom: var(
        --ion-grid-column-padding-xs,
        var(--ion-grid-column-padding, 0px)
    );
}
/*Category Section Ends*/

/*Shooping Section Ends*/
.shopping_category {
    padding: 15px 0px 0 0;
}
.shopping_category .smart_way_text {
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
}
.shopping_category .smart_way_text > h3 {
    margin: 0px;
    font-size: 16px;
    // font-family: AvenirNextLTPro-Medium;
    font-weight: 400;
}
.shopping_category .smart_way_text > span.underline {
    position: absolute;
    width: 120px;
    height: 2px;
    background: #000;
    bottom: 0;
    left: calc(50% - 60px);
}
.shopping_category_div {
    position: relative;
    width: 100%;
}
.shopping_category_div .sc_img {
    min-height: 100%;
    max-height: 100%;
}
/*.shopping_category_div .sc_img > img{
      min-height: 125px;
      max-height: 125px;
  }*/
.shopping_overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0;
    display: flex;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.3);
}
.shopping_overlay > p {
    line-height: 13px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 100%;
    padding: 0 4px;
    transition: ease all 0.2s;
}
.shopping_category .swiper-slide {
    padding: 2px;
}
.shopping_category ion-slide.swiper-slide.hydrated.swiper-slide-next div p {
    margin-bottom: 8px;
    transition: ease all 0.3s;
}

/*Shopping Section Ends*/

/*Recipe Section*/
.recipe_main_div {
    background-image: url(../../assets/image/recipe/recipe_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.recipe_main_div .Recipe_text {
    padding: 15px 0px 5px 0px;
    text-align: center;
}
.recipe_main_div .Recipe_text h3 {
    margin: 0px;
    font-size: 16px;
    // font-family: AvenirNextLTPro-Medium;
    font-weight: 400;
}
.recipe_main_div .Recipe_text h3 > span {
    margin-left: 5px;
}
.recipe_main_div .Recipe_text h3 > span > a {
    color: #b00c0f;
    font-weight: 400;
}
.recipe_div {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 8px 0px #a0a0a0;
}
.recipe_div > .recipe_img {
    min-height: 100%;
    max-height: 100%;
}
.recipe_text {
    background: #fff;
    padding: 4%;
}
.recipe_text > p {
    line-height: 16px;
    font-size: 13px;
    text-align: start;
    word-spacing: 0;
    // font-family: AvenirNextLTPro-Medium;
    font-weight: 400;
    color: #1f1f1f;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 32px;
    min-height: 32px;
}
.testimonial_text > p {
    font-size: 13px;
    word-spacing: 0;
    // font-family: AvenirNextLTPro-Medium;
    font-weight: 400;
    color: #1f1f1f;
    display: -webkit-box;
    line-height: 20px;
    padding: 5px 8px;
    width: 100%;
    word-break: break-word;
}
.tesimonial-back {
    background: #f3cabc42;
}
.byright {
    line-height: 16px;
    font-size: 13px;
    word-spacing: 0;
    // font-family: AvenirNextLTPro-Medium;
    font-weight: 400;
    color: #1f1f1f;
    -webkit-box-orient: vertical;
    padding-right: 6px;
}
div.category-img img {
    width: 100%;
    min-height: 120px;
}
.recipe_main_div .swiper-slide {
    padding-left: 2%;
}
.swiper-slide img {
    width: 100%;
}
/*Recipe Section*/
.testimonial_image img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    height: 100px;
    width: 100px !important;
    border: 3px solid #e03535;
}
.testimonial {
    height: 40% !important;
}
.next-timeslot-container {
    padding: 5px;
    margin-bottom: 5px;
}
.next-timeslot:not(.no-shaddow) {
    padding: 5px 10px;
    box-shadow: 2px 0px 6px -3px grey;
    border-radius: 4px;
}
.next-timeslot .timeslot-title {
    margin-top: 0px !important;
    // font-weight: 500;
    color:#fff;
    font-size: 15px;
    
}
.next-timeslot .timeslot-time {
    margin-bottom: 0px !important;
    font-size: 11px;
    color:#fff;
}

.next-timeslot .timeslot-time img {
    height: 20px;
}

.__category-container {
    display: block;
}
.__category-container .category-heading {
    padding: 0 0 10px 0;
}
.__category-container .category-box {
    padding: 0 10px 10px 10px;
}
.__category-container .category-heading .category-heading-bar {
    padding: 15px 10px;
    box-shadow: 0px 2px 3px #ddd;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #ddd;
}
.__category-container .category-heading h3.category-heading-title {
    margin: 0px;
    font-size: 16px;
    // font-weight: 600;
}
.__category-container .category-heading h4.category-view-more {
    margin: 0px;
    font-size: 14px;
    text-align: right;
    // font-weight: 600;
}
.__category-container .category-body {
    // border:1px solid #c5c0c0;
    border-radius: 10px;
    border-bottom-left-radius: 0px !important;
}
.__category-container .category-body .category-block {
    // min-height: 80px;
    // width: 100%;
    height: 75px;
    width: 100%;
    overflow: hidden;
}
.__category-container .category-body .category-block.category-small {
    // height: 90px;
    width: 100%;
}
.__category-container .category-body .category-block.category-big {
    // margin-top: -15px;
    width: 100%;
}
.__category-container .category-body .category-content img {
    border-radius: 10px;
    border-bottom-left-radius: 0px !important;
    // height: -webkit-fill-available;
    width: 100%;
    height: 75px;
}
.category-images
{
    width:100%;
}
.category-images img{
    width:100%;
    max-height: 50px;
}
.category-images-large img{
    width:100%;
    max-height: 250px;
}
.offer-banner-container {
    padding-top: 10px;
}
.small-banner-container {
    box-shadow: 0px 0px 5px 1px lightgrey;
}

.big-banner-container {
    padding: 10px;
}
.small-banner-container .small-banner-content {
    padding: 0px 10px;
}
.pl-0 {
    padding-left: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.user-location {
    font-size: 11px;
    margin: 0px !important;
    // max-width: 80% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    // color: #fff;
}

// Product css

.featured-product-container
{
    position: static;
    padding-bottom: 20px;
    background: #ececec;
}
.featured-product-container .feature-product-title
{
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 3px #ddd;
    margin-bottom: 2px;
}
.featured-product-container .feature-product-title p
{
    font-size: 17px;
    text-align: left;
}
