<ion-content no-padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col size="12" no-padding>
                <div class="back_btn">
                    <span (click)="route_back()"><img src="assets/image/back.png"></span>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="logo text-center">
                    <img src="assets/image/Home.png">
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="head">
                    <ion-text>New Password</ion-text>
                </div>
                <div class="signup_line">
                    <ion-text>Please Create New Password For Login</ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="form">
                    <ion-item>
                        <ion-label position="floating">Old Password</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">New Password</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                    <div class="sign_btn mt-20">
                        <button type="submit" (clcick)="get_confirm_page();">Submit</button>
                    </div>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>