.no-padding{
    padding:0px;
}
a:hover, a:focus{
    text-decoration: none;
}


.featured_text{
    margin-top: 12px;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 10px;
}
.bg_banner{
    // background-image: url('../../assets/image/offer/wallet_bg_img.jpg');
    border-radius: 15px;
    background-size: 100% 100%;
    width: 85%;
    margin: 0 auto;
    max-width: 330px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 15px 24px -4px rgba(0, 0, 0, 0.18);
}
.banner_inbtn{
    width: 28px;
    height: 24px;
    padding: 3px 0px 0px 0px;
    /* background-color: #fb5677; */
    text-align: center;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
}
.content_banner{
    font-weight: 600;
    margin: 0 auto;
    padding: 35px 10px;
    width: 82%;
}
.content_banner p:nth-child(1) {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
.content_banner a{
    font-size: 11px;
    display: block;
    color: #333;
    text-decoration: underline;
}
.content_banner span{
    text-transform:capitalize;
    font-size: 18px;
}
p {
    line-height: 19px;
    margin: 0px 0 !important;
}
.generate_pin{
    text-align: center;
    margin-top: 38px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5e5e5e;
}
.generate_pin_btn{
    text-align: center;
    margin: 20px 0px;
}
.generate_pin_btn > button{
    padding: 12px 25px;
    background: linear-gradient(to right, #e32420, #e8441b);
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.37);
}
.generate_text{
    margin-right: 35px;
    margin-left: 35px;
    text-align: center;
    margin-top: 22px;
    color: #5e5e5e;
}
.transaction{
    margin-top: 22px;
    font-size: 15px;
}
.block_con{
    border: 2px solid rgba(204, 204, 204, 0.52);
    border-radius: 10px;
    padding-bottom: 5px;
    width: 100%
}
.refund_block{
    border-bottom: solid 2px #e4e4e4;
    margin: 22px 10px 22px 10px; 
}
.refund_block :last-child{
    border-bottom: none!important;
}
.ruppe{
    display: inline-block;
    vertical-align: top;
    border: solid 2px red;
    border-radius: 9px;
    width: 20px;
    margin-right: 8px;
    height: 19px;
}
.ruppe i{
    position: relative;
    left: 5px;
    color: red;
    font-size: 15px;
}
.refund_from{
    margin-bottom: 22px;
    letter-spacing: 1px;
    width: 66%;
	display: inline-block;
}
.price{
    font-weight: 600;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: red;
}
.content_banner > .image{
    width:55px;
    display:inline-block;
    vertical-align: top;
}
.content_banner > .wallet_inline{
    width:calc(100% - 55px);
    display:inline-block;
    padding-left: 10px;
}
.offers_main_div{
    padding: 20px 10px;
    font-size: 14px;
    margin-top: 20px;
}
.offers_main_div > h4{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.offers_main_div > p{
    font-size: 14px;
    color: #525252;

}
.offer_category{
    width: 100%;
    padding: 0px 10px;
}
.offer_category .offer_block{
    border: 1px solid #03c010;
    padding: 6px 10px;
    border-radius: 10px;
    
    margin-bottom: 10px;
}
.offer_category .offer_block .off_name{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
}
.offer_category .offer_block .off_name > p:first-child{
    color: #525252;
    font-weight: 500;
    line-height: 22px;
}
.offer_category .offer_block .off_name > p:last-child{
    color: #ee3f33;
    font-weight: 500;
}
.offer_category .offer_block .get_offer{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.offer_category .offer_block .get_offer a{
    padding: 5px 10px;
    background: #1dc50e;
    color: #fff;
    border-radius: 30px;
}
.earned_pnt{
    padding: 10px 10px;
    width: 100%;
}
.date_pnts {
    margin-top: 17px;
}
.earned_pnt  > h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}
.earned_pnt  > .earned_div > .earned_img{
    width: 40px;
    display: inline-block;
    vertical-align: top;
}
.earned_pnt  > .earned_div > .earned_txt{
    width: calc(100% - 50px);
    display: inline-block;
    padding-left: 10px;
}
.earned_pnt  > .earned_div > .earned_txt > h3{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: AvenirNextLTPro-Medium;
}
.earned_pnt  > .earned_div > .earned_txt > p{
    margin: 0px;
    margin-bottom: 10px !important;
    font-size: 15px;
}
.earned_pnt  > .earned_div > .earned_txt > .date_pnts> .pnts{
    width: 50%;
    display: inline-block;
}
.earned_pnt  > .earned_div > .earned_txt > .date_pnts> .pnts > span.star_img{
    display: inline-block;
    width: 14px;
}
.earned_pnt  > .earned_div > .earned_txt > .date_pnts> .pnts > span{
    font-weight: 600;
}
.earned_pnt  > .earned_div > .earned_txt > .date_pnts > .date{
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.earned_pnt  > .earned_div{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.earned_pnt  > .earned_div:last-child{
    border-bottom: 0px solid #ccc;
}
.loyality-in-rs{
    color: #e66c62;
    font-size: 12px;
    font-weight: 400;
}
.redeem-loyality{
    color: #FFFFFF;
    --background: #f0ad4e !important;
    font-weight: 400;
    border: 1px solid transparent;
}
.by{
    color: #e66c62 !important;
    font-size: 21px !important;
}
.by01{
    color: green !important;
    font-size: 21px !important;
}
.redeemcon{
    color: green;
}
.mainhead{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-bottom: 8px !important;
}