.store_main{
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    // height: 400px;
}
.store_main .store_div{
    padding: 20px;
    // background: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.store_main .store_div h4{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
.store_main .store_div .add_main > p{
    padding: 0px 0px 0px 30px;
    position: relative;
    margin: 10px 0px !important;
    text-transform: capitalize;
}
.store_main .store_div .add_main > p > span{
    position: absolute;
    left: 0;
    
}
// .store_main .store_div .add_main > p > span > img{
//     width: 18px;
//     height: auto;
//     max-height: 20px;
// }
// .store_div > a.view_on_map{
//     color: #fff;
//     display: block;
//     width: 140px;
//     margin: 0 0 0 auto;
//     text-align: center;
//     padding: 10px 10px;
//     background: #de0625;
//     margin-top: 45px;
//     border-radius: 30px;
// }
// .store_div > a.view_on_map > span{
//     transform: rotate(17deg);
//     margin-left: 3px;
//     display: inline-block;
// }
ion-icon{
    font-size: 20px;color: #6aa510;
}

// ========================================================

ion-content {
    --background: #f2f2f2;
}

ion-col {
    padding: 0;
}

iframe#namedd {
    height: 233px !important;
    border-radius: 0 0 30px 30px !important;
}

.store_main .store_div {
    background-color: transparent !important;
    color: #000 !important;
}

.store_main .store_div h4 {
    color: #000 !important;
}

.store_main .store_div .add_main > p > span {
    position: static !important;
}

.add_main p {
    display: flex;
    align-items: flex-start;
    padding: 0 !important;
}

.add_main p ion-icon {
    color: #6aa105;
    font-size: 20px;
    margin-right: 15px;
}