.rating_main div{
    text-align:center;
}
.rating_main div ion-icon{
    margin: 10px 4px;
    font-size: 35px;
    color: #ffbe00;
}
.rating_main div  > p{
    margin: 0 !important;
    font-size: 16px;
    font-family: AvenirNextLTPro-Bold;
    color: #51a900;
}
.rating_main .product_view{
    margin: 25px 0px;
}
.rating_main .product_view > p{
    font-size: 18px;
    font-family: AvenirNextLTPro-Medium;
    margin-top: 10px !important;
    color: #000;
}
.add_comment{
    text-align: left !important;
    font-size: 15px;
    padding:0px 15px;
}
.add_comment ion-textarea{
    --padding-start: 10px;
    margin-top: 20px;
    border-radius: 7px;
    --padding-top: 10px;
    border: 1px solid #ccc;
}
.buttons{
    margin: 20px 0px;
}
.buttons button.skip{
    min-width: 140px;
    padding: 12px 20px;
    font-size: 15px;
    color: #fff;
    background: #ef4948;
    border-radius: 30px;
    margin: 0px 6px;
}
.buttons button.submit{
    min-width: 140px;
    padding: 12px 20px;
    font-size: 15px;
    color: #000;
    background: #fff200;
    border-radius: 30px;
    margin: 0px 6px;
}
