<ion-content no-padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col size="12" no-padding>
                <div class="back_btn">
                    <span (click)="route_back()"><img src="assets/image/back.png"></span>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="logo text-center">
                    <img src="assets/image/Home.png">
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="head">
                    <ion-text>Enter OTP</ion-text>
                </div>
                <div class="signup_line">
                    <ion-text>Please Enter otp which is sent on your Email or Mobile </ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="otp">
                    <input type="text" maxlength="1" size="1" (ionChange)="changeOTP()" (ionChange)="next(otp2)"
                        [(ngModel)]="Cal.otp1">
                    <input type="text" maxlength="1" size="1" (ionChange)="changeOTP()" [(ngModel)]="Cal.otp2"
                        (ionChange)="next(otp3)">
                    <input type="text" maxlength="1" size="1" (ionChange)="changeOTP()" [(ngModel)]="Cal.otp3"
                        (ionChange)="next(otp4)">
                    <input type="text" maxlength="1" size="1" [(ngModel)]="Cal.otp4">
                    <label class="error" style="color:red;font-weight:400;">{{ErrorOTP}}</label>
                </div>

                <div class="sign_btn mt-20" (click)="send_otp2();">
                    <button>Submit</button>
                </div>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>