ion-title{
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
    text-align: left;
}
//.recipe_details_main{
    // position: absolute;
//}
.recipe_details_text{
    position: relative;
    bottom: 22px;
    text-align: left;
    background-color: white;
    margin: -25px 22px 0px 22px;
    padding: 14px;
    border-radius: 12px;
}
.recipe_details_text>span{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.posted{
    margin-top: 15px;
}
.posted_date{
    display: inline-block;
    width: calc(100% - 152px);
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    color: #7b7979;
    vertical-align: top;
}
.posted_team{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    color: #7b7979;
}
.line_bottom{
    margin: 16px 0px 16px 0px;
    border: solid 0.3px #ccc5c5;
}
.cooking_time>i{
    font-size: 30px;
    color: #777676;
}
.cooking_time>span{
    margin-left: 10px;
    vertical-align: super;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
    color: #3e3e3e;
}
.method{
    margin: 10px 0px 22px 0px;
    font-size: 16px;
    font-weight: 500;
}
.sheet_details>p{
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}
.ingredients>span{
    padding: 0px 0px 0px 36px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.cookin_details{
    padding: 15px 15px 15px 36px;
}
.add_ingredients{
    padding: 0px 0px 0px 15px;
    font-weight: 500;
    font-size: 16px;
}
.potatoes{
    padding: 20px 0px 20px 0px; 
}
.potatoes_larg{
    padding: 0;
    background-color: #fce9eb;
}
.potatoes_larg:nth-child(even){
    background-color: white;
}

.potatoes_larg:nth-child(odd){
    background-color: #fce9eb;
}
.potatoes_larg>p{
    padding: 15px 15px 15px 36px;
    font-size: 14px;
}
p {
    line-height: 19px;
    margin: 0px 0 !important;
}







.no-padding{
    padding:0px;
}
.featured_text{
    padding: 0px 5px;
}
.featured_text > p{
    width: 70%;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    padding-left: 5px;
}
.featured_text > a{
    width: 30%;
    display: inline-block;
    text-align: right;
    color: #e11f21;
    font-weight: 600;
}
.featured_scroll{
    display: flex;
    min-width: 100%;
    max-width: 1000px;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
}
.featured_div{
    min-width: 65%;
    position: relative;
    display: table-cell;
    border: 1px solid #ebebeb;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 10px 0px #00000021;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
.subcategory_price > .price_cont{
    width: 38%;
    display: inline-block;
    // padding: 0px 2px;
    text-align: left;
}
.subcategory_price{
    padding: 0px 6px 0px 6px;
}
.subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.subcategory_price > .actual_price_cont{
    width: 24%;
    display: inline-block;
    padding: 0px 5px;
    text-align: right;
}
.subcategory_price > .actual_gm{
    width: 38%;
    display: inline-block;
    padding: 0px 5px;
    text-align: right;
}
.subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.select_variant{
    padding: 0px 7px 0px 0px;
}
.select_variant ion-select{
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    color: #1f1f1f;
    border-radius: 10px;
}
.add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
   
}
.add_to_cart_btn > button{
    width: 75%;
    /* background: #ccc; */
    border: none;
    background: linear-gradient(to right, #e32121, #ff673d);
  //  padding: 8px;
  //  color: #fff;
  color: #000;
    font-weight: 300;
    //border-radius: 50px;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);

    background: #fef101;
    padding: 7px 20px;
    border-radius: 30px;
    font-size: 12px;

   

}
.delivery_time{
    padding: 0px 8px;
    width: 60%;
    margin: 0 auto;
}
.delivery_time > p{
    text-align: center;
    border: 1px solid #00a204;
    padding: 2px 10px;
    border-radius: 30px;
    background: #e9ffea;
    color: #00a204;
    font-size: 13px;
}
.delivery_time > p > span{
    margin-right:5px;
}
.delivery_time > p > span > img{
    width: 18px;
}
.subcategory_price{
    width: 60%;
    display: inline-block;
}
//ion-item{
    // text-align: center;
//}
// .subcategory_price{
//     width: 60%;
//     display: inline-block;
// }
ion-item > ion-label{
    margin-bottom: 0px;
    color: #1f1f1f;
    font-weight: 500;
    text-align: left;
}
.select_variant{
    width: 40%;
    display: inline-block;
}
.select_variant select{
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    font-size: 13px;
    max-width: 80px;
}
.abs_discount{
    position: absolute;
    top: 3px;
    left: 10px;
}
.abs_discount > p{
    border: 1px solid #f2595e;
    padding: 2px 6px;
    background: #fef3f4;
    border-radius: 30px;
    color: #f2595e;
    font-weight: 500;
    font-size: 14px;
}
.abs_heart{
    position: absolute;
    top: 8px;
    right: 10px;
}


.delivery_time{
    padding: 0px 8px;
    width: 100%;
    margin: 15px auto 0;
    display: inline-flex;
    flex-wrap: wrap;
}
.delivery_time span{
    width:33%;
    text-align: center;
}
.delivery_time span > img{
    width: 20px;
    height: 20px;
}

.eatable{
    position: absolute;
    top: 80px;
    left: 10px;
}
.veg{
    position: absolute;
    top: 80px;
    right: 10px;
}
.eatable > img{
    width:20px;
}
.red{
    --color: #e92f27;
    color: red;
}
.featured_div .heart{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 17px;
    color: #e72b25;
}
.recipe_main{
    flex:1;
}
.fa {
   color: red;
}
@media screen and (min-width: 475px){
    .featured_div{
        min-width: 28%;
        max-width: 28%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
} 
@media screen and (min-width: 500px){
    
}
@media screen and (min-width: 599px){
    .featured_div{
        min-width: 37%;
        max-width: 37%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
}
@media screen and (max-width: 810px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
}
@media screen and (max-width: 768px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
}
@media screen and (max-width: 500px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 415px){
    .featured_div{
        min-width: 60%; 
    }
}
@media screen and (max-width: 410px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    .featured_div_1 .select_variant{
        width: 100%;
        display: inline-block;
        padding: 0px 10px;
        text-align: center;
    }
    .featured_div_1 .subcategory_price{
        width: 100%;
        display: inline-block;
    }
    
} 

@media screen and (max-width: 390px){
    .featured_div{
        min-width: 65%; 
    }
    .posted_date{
        width: 100%;
    }
} 
@media screen and (max-width: 375px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
        
    }
    .subcategory_price > .price_cont{
        width: 56%;
    }
    .subcategory_price > .actual_price_cont{
        width: 42%;
    }
    .subcategory_price > .actual_price_cont > p {
        font-size: 9px;
    }
} 

@media screen and (max-width: 345px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .featured_main_1{
        text-align:center;
    }
    .subcategory_price > .price_cont > p{
        font-size: 12px;
    }
    .subcategory_price > .price_cont > p > span{
        font-size: 14px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 13px;
        
    }
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
    .featured_div{
        min-width: 70%; 
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 12px;
    }
    .discount_offer{
        position: absolute;
        top: 10px;
        left: 5px;
        z-index: 9999;
        display: inline-block;
        width: auto;
    }
    
} 
.basket_limit{
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    padding: 1px 0px 1px 0px;
    text-align: center;
    background-color: #00800030;
    color: green;
    display: inline-block;
    letter-spacing: 0.5px;
    border: solid 1px green;
    width: 38%;
    border-radius: 15px;
}
.banner_coninr{
    width: 100%;
    padding: 17px 10px 0px 10px;
}
.banner_off{
    border: solid 1px red;
    color: red;
    width: 64px;
    text-align: center;
    border-radius: 15px;
    font-size: 13px;
    background-color: #ea6f6f17;
}
.banner_fvr{
    width: 50%;
    display: inline-block;
    text-align: right
}
.banner_dis_off{
    text-align: left;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}
.banner_dis_fvr{
    text-align: right;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 10px;
}
.banner_fvr>i{
    font-size: 20px;
}
.featured_div.new_fea_div{
    min-width: 95% !important;
    max-width: 100% !important;
    display: inline-block;
}
.new_fea_div .subcategory_price > .price_cont{
    width: max-content;
    display: inline-block;
}
.new_fea_div .subcategory_price > .actual_price_cont{
    width: max-content;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
}





