<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Express Products</ion-title>

        <ion-buttons class="no-outline" slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content #IonContent>
    <ion-grid class="no-padding" *ngIf="mb_product && mb_product.length > 0">
        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="scroll_category" *ngIf="express_category">
                    <!-- <a class="active" class="abc2" (click)="load_category()">All</a> -->
                    <span *ngFor="let express_cat of express_category; let i = index">
                        <a (click)="load_subcategory(express_cat.id, express_cat.name)"
                            [ngClass]="{'abc':true, 'active': express_cat.id == subcategory_id}">
                            {{express_cat.name}}
                        </a>
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="no-padding" *ngIf="mb_product && mb_product.length > 0">
        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="pb-2 pt-10">
                    <div class="pl-10 pr-10">
                        <div class="row">
                            <div class="col-xs-9">
                                <p>{{subcat_name}} &nbsp;<span style="font-size: 12px;"
                                        *ngIf="totalRecords>=0">({{totalRecords}})</span>
                                </p>
                            </div>
                            <div class="col-xs-3 text-right">
                                <p style="position: relative;" (click)="filter_modal()">
                                    <ion-icon name="funnel"></ion-icon>
                                    <ion-badge style="right:32px;top:-8px" id="cart-badge">{{apply_filter_count}}
                                    </ion-badge>&nbsp;&nbsp;&nbsp;Filter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="no-padding" *ngIf="mb_product && mb_product.length > 0">
        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="product-container" *ngFor="let product of mb_product;let indx=index;">
                    <div class="row search_product_{{product.product_id}}">
                        <div class="col-xs-5 p-relative"
                            (click)="route_product_view(product.product_id, product.product_name)">
                            <div class="product-image">
                                <img class="gallery-img" *ngIf="product.gallery && product?.gallery[0]"
                                    src="{{product_placeholder}}"
                                    (load)="download_image($event,product?.gallery[0]?.image,image_url,'product/thumbnails/250')">

                                <img class="product-img" *ngIf="!product.gallery && product.product_image"
                                    src="{{product_placeholder}}"
                                    (load)="download_image($event,product.product_image,image_url,'product/thumbnails/250')">

                                <img class="default-img" *ngIf="!product.gallery && !product.product_image"
                                    src="{{product_placeholder}}">
                            </div>

                            <div class="offer-container">
                                <p class="__offer per-discount"
                                    *ngIf="product.offers_data.offers_type == 'discount' && product.offers_data.discount_type == 'percentage'">
                                    {{product.offers_data.discount}}%</p>
                                <p class="__offer flat-discount"
                                    *ngIf="product.offers_data.offers_type == 'discount' && product.offers_data.discount_type == 'flat'">
                                    {{product.offers_data.discount}} Flat</p>
                                <p class="__offer special-price"
                                    *ngIf="product.offers_data.offers_type == 'special_price' ">Special Price</p>
                                <p class="__offer bogo" *ngIf="product.offers_data.offers_type == 'offer'">OFFER</p>
                            </div>

                            <div class="other-icons">
                                <span class="icon-queue food_icon" *ngIf="product?.food_type == 'veg'"><img
                                        src="assets/image/icon/veg.png" /></span>
                                <span class="icon-queue food_icon" *ngIf="product?.food_type == 'nonveg'"><img
                                        src="assets/image/icon/nonveg.png" /></span>
                                <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'nonfood'"><img
                                        src="assets/image/icon/non_eatable_icon.png" /></span>
                                <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'food'"><img
                                        src="assets/image/icon/eatable_icon.png" /></span>
                                <span class="icon-queue flag_icon" *ngIf="product?.flag"><img
                                        src="{{product.flag}}"></span>
                                <span class="icon-queue weight_icon"
                                    *ngIf="product?.product_weight_type == 'actual'"><img
                                        src="assets/image/icon/weight.png"></span>
                                <span class="icon-queue express_icon" *ngIf="product?.mb_express == 'yes'"><img
                                        src="assets/image/icon/delivery.png"></span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="product-name"
                                (click)="route_product_view(product.product_id, product.product_name)">
                                <p> {{product.product_name}}</p>
                            </div>

                            <div class="product-variant-container" *ngIf="product?.variant_data">
                                <div class="product-variant">
                                    <select class="product-variant-select variant_data"
                                        (change)="load_variant(product.product_id,indx,$event, 'search_product_'+product.product_id)">
                                        <option *ngFor="let variant of product.variant_data" value="{{variant.id}}">
                                            {{variant.product_pec_weight}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="product-price-container">
                                        <p class="product-price" *ngIf="product?.price_for_print"><i
                                                class="fa fa-inr"></i> {{product.price_for_print}}</p>
                                        <p class="product-price cut-price"
                                            *ngIf="product.price_for_print!=product.product_price1"><i
                                                class="fa fa-inr"></i> {{product.product_price1}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="prod-quantity-container">

                                        <div [style.display]="product.in_cart_quantity && product.is_stock == 1 ? 'block' : 'none' "
                                            class="cart-control cart-action-container text-center update_btn">
                                            <button class="cart-action down_btn"
                                                (click)="updateQuantity(product.product_id, 'down','search_product_'+product.product_id)">&minus;</button>
                                            <button
                                                class="cart-quantity product_quantity_count">{{product.in_cart_quantity}}</button>
                                            <button class="cart-action up_btn"
                                                (click)="updateQuantity(product.product_id, 'up','search_product_'+product.product_id)">&#43;</button>
                                        </div>

                                        <div [style.display]="!product.in_cart_quantity && user_id && product.is_stock==1 ? 'block' : 'none' "
                                            class="cart-control add_to_cart_btn add_btn"
                                            (click)="addToCart(product.product_id,'search_product_'+product.product_id)">
                                            <button>+ADD</button>
                                        </div>

                                        <div [style.display]="!user_id && product.is_stock==1 ? 'block' : 'none' "
                                            class="cart-control add_to_cart_btn add_to_cart_btn_login"
                                            (click)="routeLogin()">
                                            <button>+ADD</button>
                                        </div>

                                        <div [style.display]="product.is_stock==0 ? 'block' : 'none' "
                                            class="cart-control add_to_cart_btn add_to_cart_btn_out_stock">
                                            <button>OUT OF STOCK</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list style="padding-top:0px" id="skeleton" *ngIf="is_api_request == false">

        <ion-item style="--border-color:transparent;--padding-start:0px;--inner-padding-end:0px;--padding-bottom:10px">
            <ion-thumbnail animated style="width: 100%;height: 80px;margin-right:0px;" slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 0 auto 5px auto;">
                <ion-thumbnail style="width: 100%;height: 40px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 5px auto;">
                <ion-thumbnail style="width: 100%;height: 25px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;" *ngFor="let item of [1,2]">
            <div style="width: 100%;margin: auto;">
                <ion-thumbnail style="width: 100%;height: 100px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>

                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </div>
        </ion-item>
    </ion-list>

    <!-- Start No-product-section -->
    <ion-grid class="3 no-padding" *ngIf="is_api_request && mb_product.length == 0 ">
        <ion-row class="no-padding">
            <ion-col size="12" class="text-center">
                <div class="text-center" style="width: 100%">Sorry! No product found.</div><br>
                <img style="max-height: 140px;" src="{{no_product_placeholder}}" />
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- End No-product-section -->

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="no_load!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<app-footer-tabs></app-footer-tabs>