<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">My Wallet</ion-title>
        <ion-buttons class="no-outline" slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p *ngIf="wallet_add_money_status" class="wallet-message {{wallet_add_money_status_class}}">
        {{wallet_add_money_message}}</p>
    <ion-grid class="no-padding">
        <ion-row class="no-padding">

            <div class="bg_banner">
                <!-- <div class="banner_inbtn" (click)="GoAddMoney()"> --vikas-->
                <!-- <img src="assets/image/preferred/add.png"> -->
                <!-- <ion-button size="small" color="primary">+</ion-button>
                </div> --vikas-->
                <div class="content_banner">
                    <!-- <div class="image">
                        <img src="assets/image/wallet/wallet.png">
                    </div> -->
                    <div class="wallet_inline">
                        <p>My wallet Balance</p>
                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                            {{ServiceData?.data?.my_wallet?.wallet_total_amount}}</span>
                        <!-- <a routerLink="/terms-condition">Terms & Condition</a> --vikas-->
                    </div>
                    <div class="add_money_btn" (click)="GoAddMoney()">
                        <span>Add Money</span>
                    </div>
                </div>
            </div>
            <!-- <div class="generate_pin">
                <p>Generate New PIN</p>
            </div>
            <div class="generate_pin_btn" *ngIf="OpenFormbtn">
                <button (click)="OpenForm()">Generate PIN</button>
            </div>
            <div *ngIf="RegenerateForm" class="formgenerate">

                <ion-item>
                    <button (click)="GetOTPOnSend()" class="send" style="    bottom: 37px;">Send</button>
                    <ion-label position="floating">Enter OTP</ion-label>
                    <ion-input type="tel" maxlength="6" (ionChange)="GoChangeOTP()" [(ngModel)]="PModel.otp"
                        [ngModelOptions]="{standalone: true}" required></ion-input>

                </ion-item>
                <label class="error">{{ErrorMsgEnterOTP}}</label><br>
                <ion-item>
                    <ion-label position="floating">Enter PIN</ion-label>
                    <ion-input type="tel" type="number" maxlength="4" (ionChange)="GoChange()" [(ngModel)]="PModel.pin"
                        [ngModelOptions]="{standalone: true}" required></ion-input>
                </ion-item>
                <label class="error">{{ErrorMsgEnterPIN}}</label><br>
                <ion-item>
                    <ion-label position="floating">Re-Enter PIN</ion-label>
                    <ion-input type="tel" type="number" maxlength="4" (ionChange)="GoChange()"
                        [(ngModel)]="PModel.repin" [ngModelOptions]="{standalone: true}" required></ion-input>
                </ion-item>
                <label class="error">{{ErrorMsgReEnterPIN}}</label><br>

                <div class="generate_pin_btn">
                    <button (click)="GetGenerateNewPin()">Generate PIN</button>
                    <button *ngIf="RegenerateForm == true" (click)="CancelGetGeneratePin()">Cancel</button>
                </div>
            </div>


            <div *ngIf="Pintext" class="generate_text">
                <span>This pin will be use when you use wallet transaction.</span>
            </div><br><br> --vikas-->

            <div class="transaction">
                <span>Recents</span>
            </div>
            <div class="block_con">
                <div class="refund_block" *ngFor="let trans of ServiceData?.data?.wallet_transaction">

                    <div class="refund_from">
                        <div *ngIf="trans.payment_by == 5">Earned by Redeemed Loyalty Point</div>
                        <div *ngIf="trans.payment_by == 4"><span class="puchase">Purchase</span>Deducted by Place Order
                            #MB{{trans.order_id}}</div>
                        <div *ngIf="trans.payment_by == 3">Added by Return Order #MB{{trans.order_id}}</div>
                        <div *ngIf="trans.payment_by == 2">Added by Cancel Order
                            #MB{{trans.order_id}}</div>
                        <div *ngIf="trans.payment_by == 1"><span class="cashback">Added by PAYTM</span>Transaction Id:
                            {{trans.invoice_id}}
                            <span *ngIf="trans.txn_status =='TXN_SUCCESS' || trans.txn_status =='COMPLETED' "
                                class="badge badge-success">Success</span>
                            <span *ngIf="trans.txn_status =='PENDING'" class="badge badge-warning">Pending</span>
                            <span *ngIf="trans.txn_status =='TXN_FAILURE'" class="badge badge-danger">Failed</span>
                        </div>

                        <div
                            *ngIf="trans.payment_by == 1 && trans.txn_id && (trans.txn_status =='TXN_SUCCESS' || trans.txn_status =='COMPLETED' )">
                            <small>Transaction ID: {{trans.txn_id}}</small>
                        </div>
                        <div style="color: #717171;" class="order_date">
                            {{trans.added_date | date: 'dd/MM/yyyy HH:mm:ss a'}}</div>
                    </div>
                    <div *ngIf="trans.payment_by == 4" class="price">
                        <div><i class="fa fa-minus" aria-hidden="true"></i> &nbsp;<i class="fa fa-inr"
                                aria-hidden="true"></i>{{trans.amount}}</div>
                    </div>

                    <div *ngIf="trans.payment_by != 4 && trans.payment_by != 1" class="pricegreen">

                        <div><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;<i class="fa fa-inr"
                                aria-hidden="true"></i>{{trans.amount}}</div>
                    </div>

                    <div *ngIf="trans.payment_by == 1 && (trans.txn_status =='TXN_SUCCESS' || trans.txn_status == 'COMPLETED')"
                        class="pricegreen">
                        <div><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;<i class="fa fa-inr"
                                aria-hidden="true"></i>{{trans.amount}}</div>
                    </div>

                    <div *ngIf="trans.payment_by == 1 && (trans.txn_status =='PENDING' || trans.txn_status == 'TXN_FAILURE')"
                        class="pricegreen">
                        <div><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;<i class="fa fa-inr"
                                aria-hidden="true"></i>{{trans.amount}}</div>
                    </div>

                </div>

            </div>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer-tabs></app-footer-tabs>