.no-padding{
    padding:0px;
}
a:hover, a:focus{
    text-decoration: none;
}
ion-title{
    font-weight:500;
    font-size: 18px;
    color: #1f1f1f;
}
.scroll_category{
    padding: 10px 10px;
    min-width: auto;
    max-width: 1000px;
    overflow: auto;
    overflow-x: scroll;
	display: flex;
}
.scroll_category > a{
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #1f1f1f;
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
	display: inline-flex;
    border-radius: 30px;
    min-width: max-content;
}
.scroll_category > a.active{
    border-color: #e11f21;
    color: #e11f21;
}
.featured_text{
    padding: 0px 5px;
}
.featured_text > p{
    width: 70%;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    padding-left: 5px;
}
.featured_text > a{
    width: 30%;
    display: inline-block;
    text-align: right;
    color: #e11f21;
    font-weight: 600;
}
.featured_scroll{
    display: flex;
    min-width: 100%;
    max-width: 1000px;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
}
.featured_div{
    min-width: 65%;
    position: relative;
    display: table-cell;
    border: 1px solid #ebebeb;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 10px 0px #00000021;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
.subcategoy_name{
    padding: 0px 2px;
    text-align: left;
}
.subcategoy_name > p{
    color: #1f1f1f;
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 17px;
    max-height: 17px;
    padding-left: 3px;
}
.subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #ed3035;
    font-weight: 600;
}
.subcategory_price > .price_cont > p > span{
    font-size: 14px;
}
.subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.select_variant{
    padding: 0px 7px 0px 0px;
}
.select_variant ion-select{
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    color: #1f1f1f;
    border-radius: 10px;
}
.add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
}
.add_to_cart_btn > button{
    width: 75%;
    /* background: #ccc; */
    border: none;
    background: linear-gradient(to right, #e32121, #ff673d);
    padding: 8px;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);
}
.delivery_time{
    padding: 0px 8px;
    width: 60%;
    margin: 0 auto;
}
.delivery_time > p{
    text-align: center;
    border: 1px solid #00a204;
    padding: 2px 10px;
    border-radius: 30px;
    background: #e9ffea;
    color: #00a204;
    font-size: 13px;
}
.delivery_time > p > span{
    margin-right:5px;
}
.delivery_time > p > span > img{
    width: 18px;
}
.subcategory_price{
    width: 60%;
    display: inline-block;
}
ion-item > ion-label{
    margin-bottom: 0px;
    color: #1f1f1f;
    font-weight: 500;
}
.select_variant{
    width: 40%;
    display: inline-block;
}
.abs_discount{
    position: absolute;
    top: 3px;
    left: 10px;
}
.abs_discount > p{
    border: 1px solid #f2595e;
    padding: 2px 6px;
    background: #fef3f4;
    border-radius: 30px;
    color: #f2595e;
    font-weight: 500;
}
.abs_heart{
    position: absolute;
    top: 8px;
    right: 10px;
}
@media screen and (min-width: 475px){
    .featured_div{
        min-width: 28%;
        max-width: 28%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
} 
@media screen and (min-width: 500px){
    .featured_div{
        min-width: 32%;
        max-width: 32%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
}
@media screen and (min-width: 599px){
    .featured_div{
        min-width: 37%;
        max-width: 37%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
}
@media screen and (max-width: 415px){
    .featured_div{
        min-width: 60%; 
    }
}
@media screen and (max-width: 390px){
    .featured_div{
        min-width: 65%; 
    }
}
@media screen and (max-width: 345px){
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
    .featured_div{
        min-width: 70%; 
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 12px;
    }

}