.footer-tabs
{
    display: flex;
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    height: unset;
    contain: unset;
    z-index: 100;
}