ion-content{
    --padding-start:20px;
    --padding-end:20px;
}
.inline{
    width:50%;
    display:inline-block;
}
.issue_box > p{
    width: max-content;
    display: inline-block;
    border: 1px solid #e7e6e6;
    padding: 12px 12px;
    border-radius: 30px;
    background: #f4f4f4;
    font-weight: 500;
    font-size: 12px;
}
.status > p.pending{
    width: max-content;
    margin: 0 0 0 auto !important;
    padding: 6px 15px;
    background: #f8cb00;
    color: #fff;
    border-radius: 6px;
}
.ticket_id > p > span, .day > p > span{
    font-weight:500;
}
.subject, .desc{
    padding: 0px 5px;
}
.subject > p{
    font-weight: 500;
}
.subject > p > span{
    color:#ed3035;
}
.download_link > a{
    display: inline-block;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
} 
.download_link > a > span > img{
    width: 24px;
} 
.create{
    size: 15px;
    font-weight: 500;
}
.order{
    padding-left: 0px;
}
.padcreate{
    padding-top: 5px;
}
.card-text{
    color: #f1413d;
    text-transform: capitalize;
}
.button_status > button{
    width: max-content;
    margin: 0 0 0 auto !important;
    padding: 6px 15px;
    background: #f8cb00;
    color: #fff;
    border-radius: 6px;
    text-transform: capitalize;
    //box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.23);
    letter-spacing: 1px;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 14px !important;
}
span{
    font-size: 12px !important;
}
span.card-text{
    font-size: 14px !important;
}
.sc-ion-card-md-h {
     border-radius: 7px;
}
span.thread{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
    font-weight: 500;
    text-align: center;
    align-items: center;
    display: block;
}


// ===============================================================
ion-header {
    margin-bottom: 0 !important;
}

ion-header.mb-20.md.header-md.header-collapse-none.hydrated {
    margin-bottom: 0 !important;
}

ion-content {
    --background: #f2f2f2;
}

ion-row.ticket-satus {
    margin-top: 20px;
}

ion-row.ticket-satus ion-col span.card-text {
    color: #000;
}

ion-row.ticket-satus ion-col span {
    font-weight: 500;
}

ion-row.ticket-details {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 15px;
}

ion-col.ticket-id {
    display: flex;
    align-items: center;
    font-weight: 500;
}

ion-col.ticket-id ion-icon {
    color: #6aa105;
    margin: 0 5px;
}

span.ticket-date {
    font-weight: 400;
    margin-left: auto;
    color: #4b7bec;
}

ion-col.ticket-desc span.card-text {
    font-size: 12px !important;
    color: #000;
}

ion-col.ticket-reply .ticket-reply-title {display: block;font-weight: 500;margin-bottom: 10px;}

ion-col.ticket-reply span.card-text {
    font-size: 12px !important;
    color: #000;
}