.scroll_category{
    padding: 5px 0px;
    min-width: auto;
    max-width: 1000px;
    overflow: auto;
    overflow-x: scroll;
    display: flex;
}
.scroll_category span > a{
    padding: 1px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 8px -4px #9E9E9E;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-flex;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}
.scroll_category span > a.active{
    border-bottom: #6aa510 2px solid;
    color: #6aa510;
}