<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
    <ion-grid class="no-padding">
        <ion-row>

            <ion-col size="12">
                <div class="head">
                    <ion-text>Forgot Password?</ion-text>
                </div>
                <div class="signup_line">
                    <ion-text>Please enter your mobile number/email address to reset your password</ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="form">
                    <ion-item>
                        <ion-label position="floating">Mobile No./Email Address</ion-label>
                        <ion-input (ionChange)="ChangeMobile()" [(ngModel)]="PData.username"
                            [ngModelOptions]="{standalone: true}" required></ion-input>
                    </ion-item>
                    <label class="error">{{Errormsg}}</label>
                </div>
                <div class="sign_btn mt-20">
                    <ion-button class="theme-btn" expand="block" (click)="pwd_forgot();">Submit</ion-button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>