<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
    <ion-grid class="no-padding">
        <ion-row>
            <ion-col size="12">
                <div class="head">
                    <ion-text>Sign In</ion-text>
                </div>
                <div class="signup_line1">
                    <ion-text>Enter your mobile number or email address</ion-text>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="form">
                    <ion-item>
                        <ion-label position="floating">Mobile/Email </ion-label>
                        <ion-input [(ngModel)]="PData.mobile" required></ion-input>
                    </ion-item>
                    <label class="error">{{ErrorMobile}}</label>

                    <ion-item>
                        <ion-label position="floating">Password </ion-label>
                        <ion-input type="password" [(ngModel)]="PData.password" required></ion-input>
                    </ion-item>
                    <label class="error">{{ErrorPassword}}</label>

                </div>
                <div class="sign_btn mt-20">
                    <button type="button" (click)="Login()">Log in</button>
                </div>
            </ion-col>
                        
            <ion-col size="12">
                <div class="fblogin">
                    <div class="reward_text mt-25">
                        <ion-text>
                            Don't have an account please <span><a routerLink="/sign-up" routerDirection="forward"
                                    style="font-weight:600">Sign Up</a></span>
                        </ion-text>
                    </div>
                </div>
            </ion-col>

            <ion-col size="12">
                <div class="fblogin">
                    <div class="reward_text mt-25">
                        <ion-text>
                            Don't Know Password ?<span><a (click)="route_forgot()"
                                    style="font-weight:600"> Forgot Password </a></span>
                        </ion-text>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>