ion-title{
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
    text-align: center;
}
.banner_coninr{
    width: 100%;
    padding: 17px 10px 0px 10px;
    position: relative;
}
.banner_coninr .perc{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background: #ff4141;
    border-radius: 50%;
    display: inline-grid;
    align-items: center;
    color: #fff;
    font-size: 12px;
}
.banner_off{
    border: solid 1px red;
    color: red;
    width: 75px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    background-color: #ea6f6f17;
}
.banner_fvr{
    width: 50%;
    display: inline-block;
    text-align: right
}
.banner_dis_off{
    text-align: left;
    width: 50%;
    display: inline-block;
}
.banner_dis_fvr{
    text-align: right;
    width: 50%;
    display: inline-block;
}
.banner_fvr>i{
    font-size: 20px;
}
.backet_limit{
    color: #4e4d4d;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    // margin-top: 0px;
    margin-top: -20px;
}
.market{
    letter-spacing: 0.5px;
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: 500;
}
.price{
    margin: 15px 0px 0px 0px;
}
.price :nth-child(1){
    font-size: 16px;
    color: red;
}
.price :nth-child(2){
    font-size: 20px;
    color: red;
}
.price :nth-child(3){
    color: red;
    margin-right: 15px;
}
.price :nth-child(4){
    font-size: 16px;
    text-decoration: line-through;
}
.total_item{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price :nth-child(2){
    font-size: 13px;
    color: red;
}
.backet_price :nth-child(4){
    font-size: 13px;
    color: red;
}

.add_cart{
    padding: 10px;
    text-align: center;
    padding: 10px 45px 0px 45px;
}
.add_cart > button{
    padding: 18px;
    width: 100%;
    letter-spacing: 1px;
    font-size: 18px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
.basket_details{
    padding: 12px 0px 0px 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.basket_details :nth-child(2){
    border: solid 1px #d40606;
    width: 150px;
    margin-top: 6px;
}
.manufacturer{
    padding: 12px 6px 10px 6px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.no-padding{
    padding:0px;
}
.featured_div{
    min-width: 70%;
    // display: inline-block;
    float: left;
    border: 1px solid rgba(204, 204, 204, 0.52);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom:5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 100px;
    min-height: 70px;
    max-height: 70px;
}
.subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 5px;
    text-align: right;
}
.subcategory_price > .price_cont:last-child{
    text-align: left;
}
.subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
    min-height: 57px;
}
.add_to_cart_btn > button{
    width: 75%;
    border: none;
    background: #fff200;
    padding: 8px;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    color: #000000;
    font-weight: 400;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);
}
.cstm_bskt_add_to_cart > button.cstm_bskt {
    height: auto;
    padding: 10px 40px;
    border-radius: 30px;
    //background: #e11a22;
   // color: #fff;

   //width: 75%;
   border: none;
   background: #fef101;
  // padding: 8px;
   color: #000;
   font-weight: 300;

}
.cstm_options > button{
    padding: 7px 35px;
    margin: 5px 5px;
    border-radius: 30px;
}
.cstm_options > button:first-child{
    background: #1a9614;
    color: #fff;
}
.cstm_options > button:nth-child(2){
    border: 1px solid #e32221;
    background: #fdeeed;
    color: #e32221;
    border-radius: 30px;
}
.cstm_options > button:last-child{
    margin: 10px 0px;
    background: #fef13f;
    border-color: #fef13f;
    color: #000;
}
.add_cart2 {
    width: 50%;
    margin: 0 auto;
}
.new_add_btn_2 button{


 //width: 75%;
 //border: none;
 background: #fef101;
// padding: 8px;
 color: #000;
 //font-weight: 300;

   // background: #e21e21;
   // color: #fff;
    padding: 7px 20px;
    border-radius: 30px;
    font-size: 12px;
}
.new_add_btn_2 button > img{
    width: 20px;
}
.add_to_cart_btn.new_add_btn_2.out_stock > button{
    background: rgba(225, 27, 34, 0.61);
    color: #fff;
}
.add_to_cart_btn .product_qty{
    padding: 3px 0px;
}
.product_qty{    height: 57px;
    display: flex;
}
ion-item{
    text-align: center;
}
// .subcategory_price{
//     width: 60%;
//     display: inline-block;
// }
.select_variant{
    width: 40%;
    display: inline-block;
}
@media screen and (max-width: 810px){
    .featured_div{
        min-width: 32%;
        max-width: 33%;
        // display: inline-block;
        float: left;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 768px){
    .featured_div{
        min-width: 31.5%;
        max-width: 31.5%;
        // display: inline-block;
        float: left;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 500px){
    .featured_div{
        min-width: 47.5%;
        max-width: 47.5%;
        // display: inline-block;
        float: left;
        margin: 0px 5px 10px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 410px){
    .featured_div{
        min-width: 47%;
        max-width: 47%;
        // display: inline-block;
        margin: 0px 5px 10px 5px;
        float: left;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 375px){
    .featured_div{
        min-width: 47%;
        max-width: 47%;
        // display: inline-block;
        margin: 0px 5px 10px 5px;
        float: left;
        
    }
    .subcategory_price > .price_cont{
        width: 50%;
    }
    .subcategory_price > .actual_price_cont{
        width: 42%;
    }
    .subcategory_price > .actual_price_cont > p {
        font-size: 9px;
    }
    
} 

@media screen and (max-width: 345px){
    .featured_div{
        min-width: 95%;
        max-width: 95%;
        display: inline-block;
        margin: 10px auto;
        
    }
    .featured_main{
        text-align:center;
    }
    .subcategory_price > .price_cont > p{
        font-size: 12px;
    }
    .subcategory_price > .price_cont > p > span{
        font-size: 14px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 13px;
        
    }
    
} 
