<ion-header class="header_background">
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light" style="text-transform: capitalize;">{{basketName}} </ion-title>
        <button id="search-btn" ion-button slot="end" routerLink="/search">
            <ion-img [src]="'assets/image/icon/search_icon.png'"></ion-img>
        </button>
        <button id="cart-btn" ion-button slot="end" routerLink="/cart">
            <ion-img [src]="'assets/image/icon/cart_icon.png'"></ion-img>
            <ion-badge id="cart-badge">{{CartNotification?.count}}</ion-badge>
        </button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-slides pager="true">
            <!--start product gallery image -->
            <ion-slide>
                <div class="banner_coninr">
                    <div class="banner-img">
                        <img src={{image_url}}{{ServiceData?.basket_data?.image}} alt="banner 1">
                    </div>
                    <span class="perc"
                        *ngIf="ServiceData?.basket_data?.basket_discount">{{ServiceData?.basket_data?.basket_discount}}%</span>
                </div>
            </ion-slide>
            <!--start product gallery image -->
            <ion-slide *ngFor="let gallery of ServiceData?.basket_data?.gallery_data">
                <div class="banner_coninr">
                    <div class="banner-img">
                        <img src={{image_url}}{{gallery?.image}} alt="banner 1">
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
        <ion-col>
            <div class="backet_limit">
                <span>BASKET LIMIT : {{ServiceData?.basket_data?.basket_size}} ITEM</span>
            </div>
            <div class="market">
                <p style="text-transform: capitalize">{{ServiceData?.basket_data?.title}}</p>
                <!-- <p style="color:#777676;font-size:16px;">G Market</p> -->
            </div>
            <div class="total_item price">
                Basket Price:
                <span class="fa fa-inr"></span><span>{{ServiceData?.basket_data?.basket_price}}</span>
                <!-- <span>.00</span> -->
                <!-- <span>RS.40.00</span> -->
            </div>



            <div class="total_item">
                Available Size:

                <span *ngFor="let avsz of ServiceData?.basket_data?.basket_data ; let im=index;">
                    {{avsz?.basket_size}} <a *ngIf="(ServiceData?.basket_data?.basket_data.length -1) != im"> ,</a>
                </span>
            </div>
            <div class="total_item" *ngIf="ServiceData?.basket_data?.basket_data[1]">
                <span> Basket Upgradable: Yes</span>
            </div>

            <div class="total_item" *ngIf="!ServiceData?.basket_data?.basket_data[1]">
                <span> Basket Upgradable: No</span>
            </div>
            <div class="total_item">
                <span>Current Basket Size: {{ServiceData?.basket_data?.current_basket_size}}</span>
            </div>
            <div class="total_item" *ngIf="total_itm!=0">
                <span>Total items in the Basket:{{total_itm }}</span>
            </div>
            <div class="backet_price">
                <span>Total Basket Price : </span>
                <span class="fa fa-inr"></span><span *ngIf="tot_bprice">{{tot_bprice}}</span>
                <span *ngIf="!tot_bprice">{{ServiceData?.basket_data?.basket_price}}</span>
                <!-- <span> 00</span> -->
            </div>







            <div class="add_cart mt-20">

                <div class="cstm_bskt_add_to_cart" *ngIf="!PData.user_id" (click)="AddCombo_login()">
                    <button class="cstm_bskt"><img src="assets/image/cart_icon.png"></button>
                </div>

                <div class="cstm_bskt_add_to_cart" *ngIf="!ServiceData?.basket_data?.is_in_cart &&  PData.user_id"
                    (click)="add_cart_basket_final(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount)">
                    <button class="cstm_bskt"><img src="assets/image/cart_icon.png"></button>
                </div>
                <div class="cstm_bskt_add_to_cart" *ngIf="ServiceData?.basket_data?.is_in_cart && PData.user_id"
                    style="display:none"
                    (click)="add_cart_basket_final(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount)">
                    <button class="cstm_bskt"><img src="assets/image/cart_icon.png"></button>
                </div>
                <div class="cstm_options" *ngIf="ServiceData?.basket_data?.is_in_cart &&  PData.user_id">
                    <button
                        (click)="update_cart_basket_final(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount)"><span><i
                                class="fa fa-check" aria-hidden="true"></i></span> Update</button>
                    <button (click)="remove_basket(ServiceData?.basket_data?.parent_id)">Remove</button>
                    <button *ngIf="ServiceData?.is_duplicate!='1'"
                        (click)="duplicate_basket(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount);">Generate
                        Duplicate Basket</button>
                </div>
                <div class="cstm_options" *ngIf="!ServiceData?.basket_data?.is_in_cart &&  PData.user_id"
                    style="display:none">
                    <button
                        (click)="update_cart_basket_final(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount)"><span><i
                                class="fa fa-check" aria-hidden="true"></i></span> Update</button>
                    <button (click)="remove_basket(ServiceData?.basket_data?.parent_id)">Remove</button>
                    <button *ngIf="ServiceData?.is_duplicate!='1'"
                        (click)="duplicate_basket(ServiceData?.basket_data?.parent_id,ServiceData?.basket_data?.id,ServiceData?.basket_data?.basket_size,ServiceData?.basket_data?.basket_price,ServiceData?.basket_data?.basket_discount);">Generate
                        Duplicate Basket</button>
                </div>


            </div>



        </ion-col>
        <ion-col>
            <div class="basket_details">
                <span>Basket Details</span>
                <div></div>
            </div>
            <div class="manufacturer">
                <span>
                    {{ServiceData?.basket_data?.description}}


                    <!--We are a recognized manufacturer and supplier of Bamboo Cane Basket based in 
            Guwahati, Assam. This basket also known as Naga Basket can be used as a fruit basket 
            or to display magazines. The handles of the basket are woven to be strong and sturdy.-->
                </span>
            </div>
            <div class="basket_details">
                <span>Add Products to Your Basket</span>
            </div>
        </ion-col>
    </ion-grid>
    <ion-grid class="no-padding">
        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="featured_main">
                    <div class="featured_div" *ngFor="let dt of ServiceData?.productList">
                        <div class="featured_img_container"
                            (click)="route_sub_category_view(dt?.product_id,dt?.product_name)">
                            <img src={{imageProduct}}{{dt?.product_image}}>
                        </div>
                        <ion-item text-wrap lines="none"
                            (click)="route_sub_category_view(dt?.product_id,dt?.product_name)">
                            <ion-label>
                                {{dt.product_name}}
                            </ion-label>
                        </ion-item>
                        <div class="subcategory_price"
                            (click)="route_sub_category_view(dt?.product_id,dt?.product_name)">
                            <div class="price_cont">
                                <p class="price fa fa-inr">
                                    <span>{{dt.product_prices}}</span>
                                </p>
                            </div>
                            <div class="price_cont">
                                <p class="">
                                    <!--Rs.--> <span>{{dt.product_pec_weight}}</span>
                                </p>
                            </div>
                        </div>



                        <div *ngIf="dt.cart_qnty && dt.is_in_stock=='yes' && PData.user_id"
                            class="product_qty text-center after_2{{dt.product_id}}" id="">
                            <div class="add_cart2">
                                <button class="less_item" (click)="dec2(dt?.product_id,dt.vid)">&minus;</button>
                                <button class="count_2{{dt.product_id}}">{{dt.cart_qnty}}</button>
                                <button class="add_item" (click)="inc2(dt.product_id,dt.vid)">&#43;</button>
                            </div>
                        </div>
                        <div *ngIf="!dt.cart_qnty && dt.is_in_stock=='yes' && PData.user_id" style="display: none;"
                            class="product_qty text-center after_2{{dt.product_id}}" id="">
                            <div class="less_item" class="add_cart2">
                                <button (click)="dec2(dt?.product_id,dt.vid)">&minus;</button>
                                <button class="count_2{{dt.product_id}}"></button>
                                <button class="add_item" (click)="inc2(dt.product_id,dt.vid)">&#43;</button>
                            </div>
                        </div>

                        <div class="new_add_btn_2 add_to_cart_btn  new_2{{dt?.product_id}}"
                            *ngIf="dt.cart_qnty && dt?.is_in_stock == 'yes'" style="display: none;">
                            <button (click)="add_in_basketstock(dt.product_id,dt.vid,1);"><img
                                    src="assets/image/cart_icon.png">
                                <!--Add To Cart--></button>
                        </div>
                        <div *ngIf="!dt.cart_qnty && PData.user_id && dt.is_in_stock=='yes'"
                            class="new_add_btn_2 add_to_cart_btn new_2{{dt?.product_id}}"
                            (click)="add_in_basketstock(dt.product_id,dt.vid,1)">
                            <button>
                                <!--Add To Cart--><img src="assets/image/cart_icon.png"></button>
                        </div>

                        <div *ngIf="!dt.cart_qnty && PData.user_id && dt.is_in_stock=='no'"
                            class="new_add_btn_2 add_to_cart_btn new_2{{dt?.product_id}} out_stock">
                            <button style="padding: 8px 20px;"><img src="assets/image/cart_icon_disabled.png"></button>
                        </div>

                        <div *ngIf="!PData.user_id" (click)="AddCombo_login()" class="new_add_btn_2 add_to_cart_btn ">
                            <button>
                                <!--Add To Cart--><img src="assets/image/cart_icon.png"></button>
                        </div>



                    </div>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>