<ion-header class="header_background">
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">Blog Details</ion-title>
        <button id="search-btn" ion-button slot="end" routerLink="/search">
            <ion-img [src]="'assets/image/icon/search_icon.png'"></ion-img>
        </button>
        <button id="cart-btn" ion-button slot="end" routerLink="/cart">
            <ion-img [src]="'assets/image/icon/cart_icon.png'"></ion-img>
            <ion-badge id="cart-badge">{{CartNotification?.count}}</ion-badge>
        </button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding *ngIf="n_image">
        <ion-col size="12">
            <img style="width:100%" src="{{image_url}}/blog/{{blog_details.news_image}}" alt="blog_details" />
        </ion-col>
        <div class="signs_meat" *ngIf="n_title">
            <span> {{blog_details.title}}</span>
        </div>
        <div class="date_mb" *ngIf="n_date_added">
            <div class="date_mb_dt">
                {{blog_details.article_date}}
            </div>
            <div class="date_mb_team">
                Posted By : MB Team
            </div>
        </div>
        <hr />
        <div class="week_test" *ngIf="n_detail">
            <span>{{blog_details.detail}}</span>
        </div>
        <!-- <div class="image_second">
          <img src="assets/image/blog1_details.png" alt="blog1_details">
        </div>
        <div class="spoil">
          <p>1. weekend, spoil your father with a lavish spread and some five-star pampering to honor him and his continual love and support. </p>
          <p>2. Celebrate your superhero, Radisson Noida calling in all fantastic fathers for a special bonding time over.</p>
          <p>3. Weekend, spoil your father with a lavish spread and some five-star pampering to honor him and his continual love and support. And to celebrate your superhero, Radisson .</p>
        </div>
        <div class="spoil">
           <p style="color:black"> This weekend, spoil your father with a lavish spread and some five-star pampering to 
            honor him and his continual love and support. And to celebrate your superhero, Radisson 
            Noida calling in all fantastic fathers for a special bonding time over. This weekend, 
            spoil your father with a lavish spread and some five-star pampering to honor him and his 
            continual love and support. And to celebrate your superhero, Radisson .
           </p>
           <p style="color:black">
            This weekend, spoil your father with a lavish spread and some five-star pampering to 
            honor him and his continual love and support. And to celebrate your superhero, Radisson 
            Noida calling in all fantastic fathers for a special bonding time over. This weekend, 
            spoil your father with a lavish spread and some five-star pampering to honor him and his 
            continual love and support. And to celebrate your superhero, Radisson .
          </p>      
        </div>-->
        <div class="Recent_blog">
            <span>Recent Blog</span>
        </div>
        <ion-slides initialSlide="1">
            <ion-slide *ngFor="let rbl of blog_recent" [hidden]="blog_details.blog_id == rbl.blog_id">
                <div class="banner-img" (click)="go_todetail(rbl.blog_id);">
                    <img src="{{image_url}}/blog/{{rbl.news_image}}" alt="banner 1">
                    <div class="image_cont_re">
                        <div class="image_cont">
                            {{rbl.title}}
                        </div>
                        <div class="date_img">
                            {{rbl.article_date}}
                        </div>
                    </div>
                </div>
            </ion-slide>

            <!-- <ion-slide>
                <div class="banner-img">
                    <img src="assets/image/banner.png" alt="banner 1">
                    <div class="image_cont_re">
                        <div class="image_cont">
                            Signs Your Meat Is Dying On
                            You Even In The Deep Fridge
                        </div>
                        <div class="date_img">
                          18-DEC-2017
                        </div>
                    </div>
                  </div> 
            </ion-slide>
        
            <ion-slide>
                <div class="banner-img">
                    <img src="assets/image/banner.png" alt="banner 1">
                    <div class="image_cont_re">
                        <div class="image_cont">
                            Signs Your Meat Is Dying On
                            You Even In The Deep Fridge
                        </div>
                        <div class="date_img">
                          18-DEC-2017
                        </div>
                    </div>
                  </div> 
            </ion-slide>-->
        </ion-slides>
    </ion-grid>
</ion-content>