ion-title{
    font-weight: 500;
    font-size: 18px;
    color: #1f1f1f;
    text-align: center;
}
.banner_coninr{
    width: 100%;
    padding: 17px 10px 0px 10px;
}
.banner_off{
    border: solid 1px red;
    color: red;
    width: 75px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    background-color: #ea6f6f17;
}
.banner_fvr{
    width: 50%;
    display: inline-block;
    text-align: right
}
.banner_dis_off{
    text-align: left;
    width: 50%;
    display: inline-block;
}
.banner_dis_fvr{
    text-align: right;
    width: 50%;
    display: inline-block;
}
.banner_fvr>i{
    font-size: 20px;
}
.backet_limit{
    color: #4e4d4d;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    // margin-top: 0px;
    margin-top: -20px;
}
.market{
    letter-spacing: 0.5px;
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: 500;
}
.price{
    margin: 15px 0px 0px 5px;
}
.price :nth-child(1){
    font-size: 16px;
    color: red;
}
.price :nth-child(2){
    font-size: 20px;
    color: red;
}
.price :nth-child(3){
    color: red;
    margin-right: 15px;
}
.price :nth-child(4){
    font-size: 16px;
    text-decoration: line-through;
}
.total_item{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price{
    letter-spacing: 0.5px;
    padding: 10px 0px 0px 5px;
    font-size: 17px;
    font-weight: 500;
}
.backet_price :nth-child(2){
    font-size: 13px;
    color: red;
}
.backet_price :nth-child(4){
    font-size: 13px;
    color: red;
}

.add_cart{
    padding: 10px;
    text-align: center;
    padding: 10px 45px 0px 45px;
}
.add_cart > button{
    padding: 18px;
    width: 100%;
    letter-spacing: 1px;
    font-size: 18px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
.basket_details{
    padding: 12px 0px 0px 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.basket_details :nth-child(2){
    border: solid 1px #d40606;
    width: 150px;
    margin-top: 6px;
}
.manufacturer{
    padding: 12px 6px 10px 6px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.no-padding{
    padding:0px;
}
.featured_div{
    min-width: 70%;
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 0.52);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom:5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 100px;
    min-height: 70px;
    max-height: 70px;
}
.subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
}
.add_to_cart_btn > button{
    width: 75%;
    border: none;
    background: #fff200;
    padding: 8px;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    color: #000000;
    font-weight: 400;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);
}
.cstm_bskt_add_to_cart > button.cstm_bskt {
    height: auto;
    padding: 10px 40px;
    border-radius: 30px;
    background: #e11a22;
    color: #fff;
}
.cstm_options > button{
    padding: 7px 35px;
    margin: 5px 5px;
    border-radius: 30px;
}
.cstm_options > button:first-child{
    background: #1a9614;
    color: #fff;
}
.cstm_options > button:nth-child(2){
    border: 1px solid #e32221;
    background: #fdeeed;
    color: #e32221;
    border-radius: 30px;
}
.cstm_options > button:last-child{
    margin: 10px 0px;
    background: #fef13f;
    border-color: #fef13f;
    color: #000;
}
.add_cart2 {
    width: 50%;
    margin: 0 auto;
}
.new_add_btn_2 button{
    background: #e21e21;
    color: #fff;
    padding: 7px 20px;
    border-radius: 30px;
}
.add_to_cart_btn .product_qty{
    padding: 3px 0px;
}
ion-item{
    text-align: center;
}
// .subcategory_price{
//     width: 60%;
//     display: inline-block;
// }
.select_variant{
    width: 40%;
    display: inline-block;
}
@media screen and (max-width: 810px){
    .featured_div{
        min-width: 32%;
        max-width: 33%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 768px){
    .featured_div{
        min-width: 31.5%;
        max-width: 31.5%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
}
@media screen and (max-width: 500px){
    .featured_div{
        min-width: 47.5%;
        max-width: 47.5%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 410px){
    .featured_div{
        min-width: 47%;
        max-width: 47%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 375px){
    .featured_div{
        min-width: 47%;
        max-width: 47%;
        display: inline-block;
        margin: 0px 5px 10px 5px;
        
    }
    .subcategory_price > .price_cont{
        width: 56%;
    }
    .subcategory_price > .actual_price_cont{
        width: 42%;
    }
    .subcategory_price > .actual_price_cont > p {
        font-size: 9px;
    }
    
} 

@media screen and (max-width: 345px){
    .featured_div{
        min-width: 95%;
        max-width: 95%;
        display: inline-block;
        margin: 10px auto;
        
    }
    .featured_main{
        text-align:center;
    }
    .subcategory_price > .price_cont > p{
        font-size: 12px;
    }
    .subcategory_price > .price_cont > p > span{
        font-size: 14px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 13px;
        
    }
    
} 
/*************************Start Product View ******************************/
.swiper-slide img {
    margin-bottom: 40px;
}
.swiper-pagination-bullet{
    --bullet-background: transparent !important;
    border: 1px solid #e11a22;
}
.swiper-pagination-bullet-active{
    --bullet-background-active: #e11a22 !important;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: --bullet-background !important;
}
.slides-md{
    --bullet-background: transparent;
    --bullet-background-active: #e11a22;
}
.product_img{
    width: 80%;  
}
.discount_offer{
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 9999;
    display: inline-block;
    width: auto;
}
.discount_count{
    color: #e21a22;
    border: 1px solid #e21a22;
    border-radius: 50px;
    background: #fef3f4;
    padding: 4px 10px;
    font-size: 12px;
}
.wishlist_select{
    position: absolute;
    right: 8px;
    display: inline-block;
    width: auto;
    top: 5px;
    z-index: 999;
}
.wishlist_icon {
    color: #b2b2b2;
    font-size: 18px;
}
.wishlist_icon .fa-heart-o{
    color: #b2b2b2;
}
.wishlist_icon .fa-heart{
    color: #ed3035;
}
.prod_main_heading{
    color: #1f1f1f;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 !important;
    font-size: 15px;
}
.prod_main_heading img{
    vertical-align: super;
    width: 15px;
}
.prod_sub_heading{
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    margin: 0 !important;
    font-size: 13px;
}
.prod_price{
    color: #ed3035;
    font-size: 13px;
}
.final_price{font-size: 18px;}
.mrp_price{
    font-size: 14px;
    margin-left: 10px;
    color: #1f1f1f;
    font-weight: 200;
    text-decoration: line-through;
}
.prod_quantity{
    margin: 4px 0;
    font-size: 14px;
}
.prod_quantity button:first-child, .prod_quantity button:last-child{
    background: #fde8e9;
    border-radius: 4px;
    padding: 1px 8px;
}
.prod_quantity button:nth-child(2){
    background: #fff;
}
.weight_selection{
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 8px;
    margin-right: 8px;
    font-weight: 200;
    color: #1f1f1f;
}
.add_to_cart button{
    background: linear-gradient(to right, #e32121 , #ff673d);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 7px 15px;
    border-radius: 60px;
    width: 100%;
    box-shadow: 1px 4px 8px 0px #00000070;
    font-weight: 200;
    max-width: 160px;
}

.express_delivery_btn{
    color: #00a204;
    border: 1px solid #00a204;
    border-radius: 50px;
    background: #e9ffea;
    padding: 4px 10px;
    font-size: 12px;
    display: inline-block;
    margin: 3px 0;
    width: 100%;
    max-width: 150px;
    text-align: center;
}
.express_delivery_btn img{
    width: 25px;
    margin: 0 10px 0 0;
}
.nav-tabs>li>a{
    color: rgba(31, 31, 31, 0.5);
    font-weight: 600;
    font-family: AvenirNextLTPro-Medium;
    display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #1f1f1f;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-color: #fff;
    border-bottom: 3px solid #e11a22;
    display: inline-block;
    outline: 0;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: max-content;
}
.delivery_time{
    padding: 0px 8px;
    width: 100%;
    margin: 5px auto 0;
    display: inline-flex;
    flex-wrap: wrap;
}
.delivery_time span{
    width:33%;
    text-align: center;
}
.delivery_time span > img{
    width: 20px;
    height: 20px;
}
.icons_relative{
    position: relative;
}
.eatable{
    position: absolute;
    top: 90%;
    left: 10px;
}
.veg{
    position: absolute;
    top: 90%;
    right: 10px;
}
.eatable > img{
    width:25px;
}
.select_variant select{
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    font-size: 13px;
}
/*************************End Product View ******************************/