<ion-header class="header_background">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>

        <!-- <ion-title>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="next-timeslot-container" *ngIf="nextTimeSlotData">
                        <div class="next-timeslot no-shaddow">
                            <p class="timeslot-title">Your Next Available Slot</p>
                            <p class="timeslot-time" style="font-size: 8px;">
                                {{nextTimeSlotData.timeslot_date}} {{nextTimeSlotData.timeslot_time}}</p>
                        </div> 
                    </div>
                </div>
            </div>
        </ion-title> -->
        <div class="logo-container">
            <img src="../../assets/image/logo.png" alt="">
        </div>

        <ion-buttons class="no-outline" slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-slider">
        <div *ngIf="!home_slider">
            <div class="banner-img">
                <img src="{{home_banner_placeholder}}">
            </div>
        </div>

        <ion-slides pager="true" #transactionSlider (ionSlideTouchEnd)="slideChanged()"
            *ngIf="home_slider && home_slider.length>0" [options]="slideOptsOne">
            <ion-slide *ngFor="let single_slider of home_slider">
                <div class="banner-img" (click)="go_to_url(single_slider.category, single_slider.cat_name)">
                    <img src="{{home_banner_placeholder}}"
                        (load)="download_image($event,single_slider.androidbanner,image_url,'banner/compress')"
                        alt="banner 1">
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- Next time slot -->
    <div class="next-timeslot-container" *ngIf="user_address">
        <div class="next-timeslot ion-activatable ripple-parent" style="outline: none;user-select: none;"
            routerLink='/select-ordertype' routerDirection="forward">

            <p style="font-size: 15px;margin:0px !important;">Your Location</p>
            <p *ngIf="user_address" class="user-location">{{user_address | slice:0:45}} <ion-icon name="create">
                </ion-icon>
            </p>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </div>

    <!-- <button ion-button (click)="animateElem()">Animate it!</button>
    <ion-card #myElement>
        <ion-card-header>My Animation Card</ion-card-header>
        <ion-card-content>So much awesome content and animations. AMAZING!</ion-card-content>
    </ion-card> -->

    <!-- Shop By Category Section Starts -->
    <div class="popular_categories_div">
        <div class="pc_head__">
            <div class="pc_head">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 class="category-heading"> <i class="fa fa-list"></i> Shop By Category </h3>
                    </div>
                    <div class="col-xs-4 tex-right">
                        <h4 class="category-view-more" (click)="route_category();">View All</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="category_container" *ngIf="shop_by_category">
            <ion-row #catAnim>
                <ion-col size="6" *ngFor="let sp_cat of shop_by_category;" [hidden]="sp_cat.is_product!=1">
                    <div class="animatedParent1 animateOnce1">
                        <div class="category_type animated1 fadeInUp1 ion-activatable ripple-parent"
                            (click)="goto_category_page(sp_cat.id, sp_cat.name)">
                            <div class="category_img">
                                <img src="{{category_placeholder}}"
                                    (load)="download_image($event,sp_cat.category_banner,image_url,'category/thumbnails/200')">
                            </div>
                            <div class="category_name">
                                <p>{{sp_cat.name}}</p>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <div class="featured-product-container" *ngIf="productList">
        <div class="feature-product-title">
            <p>Featured Products</p>
        </div>
        <div class="product-container" *ngFor="let product of productList;let indx=index;">
            <div class="row home_featured_product_{{product.product_id}}">
                <div class="col-xs-5 p-relative" (click)="route_product_view(product.product_id, product.product_name)">
                    <div class="product-image">
                        <img class="gallery-img" *ngIf="product.gallery && product?.gallery[0]"
                            src="{{product_placeholder}}"
                            (load)="download_image($event,product?.gallery[0]?.image,image_url,'product/thumbnails/250')">

                        <img class="product-img" *ngIf="!product.gallery && product.product_image"
                            src="{{product_placeholder}}"
                            (load)="download_image($event,product.product_image,image_url,'product/thumbnails/250')">

                        <img class="default-img" *ngIf="!product.gallery && !product.product_image"
                            src="{{product_placeholder}}">
                    </div>

                    <div class="offer-container">
                        <p class="__offer per-discount"
                            *ngIf="product.offers_data.offers_type == 'discount' && product.offers_data.discount_type == 'percentage'">
                            {{product.offers_data.discount}}%</p>
                        <p class="__offer flat-discount"
                            *ngIf="product.offers_data.offers_type == 'discount' && product.offers_data.discount_type == 'flat'">
                            {{product.offers_data.discount}} Flat</p>
                        <p class="__offer special-price" *ngIf="product.offers_data.offers_type == 'special_price' ">
                            Special Price</p>
                        <p class="__offer bogo" *ngIf="product.offers_data.offers_type == 'offer'">OFFER</p>
                    </div>

                    <div class="other-icons">
                        <span class="icon-queue food_icon" *ngIf="product?.food_type == 'veg'"><img
                                src="assets/image/icon/veg.png" /></span>
                        <span class="icon-queue food_icon" *ngIf="product?.food_type == 'nonveg'"><img
                                src="assets/image/icon/nonveg.png" /></span>
                        <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'nonfood'"><img
                                src="assets/image/icon/non_eatable_icon.png" /></span>
                        <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'food'"><img
                                src="assets/image/icon/eatable_icon.png" /></span>
                        <span class="icon-queue flag_icon" *ngIf="product?.flag"><img src="{{product.flag}}"></span>
                        <span class="icon-queue weight_icon" *ngIf="product?.product_weight_type == 'actual'"><img
                                src="assets/image/icon/weight.png"></span>
                        <!-- <span class="icon-queue express_icon" *ngIf="product?.mb_express == 'yes'"><img
                                src="assets/image/icon/delivery.png"></span> -->
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="product-name" (click)="route_product_view(product.product_id, product.product_name)">
                        <p> {{product.product_name}}</p>
                    </div>

                    <div class="product-variant-container" *ngIf="product?.variant_data">
                        <div class="product-variant">
                            <select class="product-variant-select variant_data"
                                (change)="load_variant(product.product_id,indx,$event, 'home_featured_product_'+product.product_id)">
                                <option *ngFor="let variant of product.variant_data" value="{{variant.id}}">
                                    {{variant.product_pec_weight}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5">
                            <div class="product-price-container">
                                <p class="product-price" *ngIf="product?.price_for_print">{{currency}}
                                    {{product.price_for_print}}</p>
                                <p class="product-price cut-price"
                                    *ngIf="product.price_for_print!=product.product_price1">{{currency}}
                                    {{product.product_price1}}</p>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="prod-quantity-container">

                                <div [style.display]="product.in_cart_quantity && product.is_stock == 1 ? 'block' : 'none' "
                                    class="cart-control cart-action-container text-center update_btn">
                                    <button class="cart-action down_btn"
                                        (click)="updateQuantity(product.product_id, 'down','home_featured_product_'+product.product_id)">&minus;</button>
                                    <button
                                        class="cart-quantity product_quantity_count">{{product.in_cart_quantity}}</button>
                                    <button class="cart-action up_btn"
                                        (click)="updateQuantity(product.product_id, 'up','home_featured_product_'+product.product_id)">&#43;</button>
                                </div>

                                <div [style.display]="!product.in_cart_quantity && user_id && product.is_stock==1 ? 'block' : 'none' "
                                    class="cart-control add_to_cart_btn add_btn"
                                    (click)="addToCart(product.product_id,'home_featured_product_'+product.product_id)">
                                    <button>+ADD</button>
                                </div>

                                <div [style.display]="!user_id && product.is_stock==1 ? 'block' : 'none' "
                                    class="cart-control add_to_cart_btn add_to_cart_btn_login" (click)="routeLogin()">
                                    <button>+ADD</button>
                                </div>

                                <div [style.display]="product.is_stock==0 ? 'block' : 'none' "
                                    class="cart-control add_to_cart_btn add_to_cart_btn_out_stock">
                                    <button>OUT OF STOCK</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start 1 offer banner show by defualt if any -->
    <div class="offer-banner-container single-offer-banner">
        <ion-row
            *ngIf="small_offer_banner_list && small_offer_banner_list.length > 0 && small_offer_banner_list[0]?.android_ios_image && small_offer_banner_list[0]?.banner_position == 1">
            <ion-col
                (click)="goto_dynamic_page(small_offer_banner_list[0].offer_name, small_offer_banner_list[0].cat_id, small_offer_banner_list[0].subcat_id)"
                size="12" class="no-padding">
                <div class="small-banner-container">
                    <div class="small-banner-content">
                        <img src="{{small_banner_placeholder}}"
                            (load)="download_image($event, small_offer_banner_list[0]?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row
            *ngIf="big_offer_banner_list && big_offer_banner_list.length > 0 && big_offer_banner_list[0]?.android_ios_image && big_offer_banner_list[0]?.banner_position == 1">
            <ion-col
                (click)="goto_dynamic_page(big_offer_banner_list[0].offer_name, big_offer_banner_list[0].cat_id, big_offer_banner_list[0].subcat_id)"
                size="12" class="no-padding">
                <div class="big-banner-container">
                    <div class="big-banner-content">
                        <img src="{{small_banner_placeholder}}"
                            (load)="download_image($event, big_offer_banner_list[0]?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <!-- End 1 offer banner show by defualt if any -->

    <div class="category-banner-container">
        <div *ngIf="homeCategorySubcatList" class="__category-container">
            <div class="__category" *ngFor="let catData of homeCategorySubcatList; let cat_index = index">
                <div class="category-box">
                    <div class="category-heading">
                        <div class="category-heading-bar ion-activatable ripple-parent">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3 class="category-heading-title"> {{catData.name}} </h3>
                                </div>
                                <div class="col-xs-4 tex-right outlinenone">
                                    <h4 class="category-view-more outlinenone"
                                        (click)="goto_category_page(catData.id, catData.name);">View All</h4>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>

                        <!-- <div class="row">
                            <div class="col-xs-12">
                                <div class="category-images ion-activatable ripple-parent"
                                    (click)="goto_category_page(catData.id, catData.name, catData.parent_id);">
                                    <img src="{{category_banner_placeholder}}"
                                        (load)="download_image($event,catData.category_image_app,image_url,'category/thumbnails/200')">
                                    <ion-ripple-effect></ion-ripple-effect>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <ion-row>
                        <ion-col size="4" *ngFor="let subcatData of catData.sub_cats; let subcat_index = index"
                            [ngClass]="{'pl-0':subcat_index == 0 || subcat_index == 3,'pr-0':subcat_index == 2 || subcat_index == 5}">
                            <div class="category-body ion-activatable ripple-parent"
                                (click)="goto_subcategory_page(subcatData.parent_id, subcatData.id, catData.name);">
                                <div class="category-block">
                                    <div class="category-content {{subcat_index}}">
                                        <img src="{{subcategory_placeholder}}"
                                            (load)="download_image($event,subcatData.android_ios_image,image_url,'category/thumbnails/200')">
                                    </div>
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </ion-col>
                    </ion-row>
                    <!-- <div class="row" *ngIf="catData.category_banner != ''">
                        <div class="col-xs-12">
                            <div class="category-images-large ion-activatable ripple-parent"
                                (click)="goto_category_page(catData.id, catData.name, catData.parent_id);">
                                <img src="{{category_banner_placeholder}}"
                                    (load)="download_image($event,catData.category_banner,image_url,'category/thumbnails/200')">
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div *ngIf="small_offer_banner_list && small_offer_banner_list.length > 1">
                    <div *ngFor="let sm_offer_banner of small_offer_banner_list; let sm_index = index">
                        <ion-row
                            *ngIf="sm_offer_banner?.android_ios_image && sm_offer_banner?.banner_position == (cat_index+2)">
                            <ion-col
                                (click)="goto_dynamic_page(sm_offer_banner.offer_name, sm_offer_banner.cat_id, sm_offer_banner.subcat_id)"
                                size="12" class="no-padding">
                                <div class="small-banner-container">
                                    <div class="small-banner-content">
                                        <img src="{{small_banner_placeholder}}"
                                            (load)="download_image($event, sm_offer_banner?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>

                <div *ngIf="big_offer_banner_list && big_offer_banner_list.length > 1">
                    <div *ngFor="let big_offer_banner of big_offer_banner_list; let big_index = index">
                        <ion-row
                            *ngIf="big_offer_banner?.android_ios_image && big_offer_banner?.banner_position == (cat_index+2)">
                            <ion-col
                                (click)="goto_dynamic_page(big_offer_banner.offer_name, big_offer_banner.cat_id, big_offer_banner.subcat_id)"
                                size="12" class="no-padding">
                                <div class="big-banner-container">
                                    <div class="big-banner-content">
                                        <img src="{{small_banner_placeholder}}"
                                            (load)="download_image($event, big_offer_banner?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="hide less-category-iteration small"
        *ngIf="homeCategorySubcatList && small_offer_banner_list && homeCategorySubcatList.length < (small_offer_banner_list.length)">
        <div class="small-banner-iteration" *ngFor="let small_offer of small_offer_banner_list; let sm_index = index;">
            <div class="offer-banner-container small-banner"
                *ngIf="sm_index > (homeCategorySubcatList.length) && small_offer?.android_ios_image">
                <ion-row>
                    <ion-col
                        (click)="goto_dynamic_page(small_offer.offer_name, small_offer.cat_id, small_offer.subcat_id)"
                        size="12" class="no-padding">
                        <div class="small-banner-container">
                            <div class="small-banner-content">
                                <!-- <img src="{{ image_url+'offerbanner/'+small_offer?.android_ios_image}}" /> -->
                                <img src="{{small_banner_placeholder}}"
                                    (load)="download_image($event, small_offer?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>

    <div class="hide less-category-iteration big"
        *ngIf="homeCategorySubcatList && big_offer_banner_list && homeCategorySubcatList.length < big_offer_banner_list.length">
        <div class="big-banner-iteration" *ngFor="let big_offer of big_offer_banner_list; let lg_index = index;">
            <div class="offer-banner-container big-banner"
                *ngIf="lg_index > (homeCategorySubcatList.length) && big_offer?.android_ios_image">
                <ion-row>
                    <ion-col (click)="goto_dynamic_page(big_offer.offer_name, big_offer.cat_id, big_offer.subcat_id)"
                        size="12" class="no-padding">
                        <div class="big-banner-container">
                            <div class="big-banner-content">
                                <!-- <img src="{{ image_url+'offerbanner/'+big_offer?.android_ios_image}}" /> -->
                                <img src="{{small_banner_placeholder}}"
                                    (load)="download_image($event, big_offer?.android_ios_image, image_url, 'offerbanner/thumbnails/200')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</ion-content>
<app-footer-tabs></app-footer-tabs>