.no-padding{
    padding:0px;
}
a:hover, a:focus{
    text-decoration: none;
}
ion-title{
    font-weight:400;
    font-size: 18px;
}
.scroll_category{
    padding: 5px 10px;
    min-width: auto;
    max-width: 1000px;
    overflow: auto;
    overflow-x: scroll;
	display: flex;
}
.scroll_category > a{
    padding: 6px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 8px -4px #9E9E9E;
    // color: #1f1f1f;
    // font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
	display: inline-flex;
    // border-radius: 2px;
    min-width: max-content;
}
.scroll_category > a.active{
    border-bottom: #6aa510 2px solid;
    color: #6aa510;
}
#dynamic-category:not(.category-fix-top) .featured_text,
.featured_text.subcategory_title
{
    box-shadow: 0px 2px 3px #ddd;
    margin-bottom: 2px;
}

.featured_text
{
    padding: 0px 5px;
   
}
.featured_text  p{
    // width: 70%;
    display: inline-block;
    // font-weight: 500;
    font-size: 15px;
    padding-left: 5px;
    word-break: break-word;
    font-weight: 500;
}
.featured_text  a{
    // width: 30%;
    font-size: 12px;
    display: inline-block;
    text-align: right;
    color: #6aa510;
    // font-weight: 600;
    line-height: 19px;
    margin: 5px 0 !important;
    border: 1px solid #6aa510;
    padding: 2px 10px;
}
.featured_scroll{
    display: flex;
    min-width: 100%;
    max-width: 1000px;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
}
.featured_div{
    min-width: 65%;
    position: relative;
    display: table-cell;
    border: 1px solid #ebebeb;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 10px 0px #00000021;
}
.featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_img_container > img{
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
.subcategoy_name{
    padding: 0px 2px;
    text-align: left;
}
.subcategoy_name > p{
    color: #1f1f1f;
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 17px;
    max-height: 17px;
    padding-left: 3px;
}
.delivery_time{
    padding: 0px 8px;
    width: 60%;
    margin: 0 auto;
}
.delivery_time > p{
    text-align: center;
    border: 1px solid #00a204;
    padding: 2px 10px;
    border-radius: 30px;
    background: #e9ffea;
    color: #00a204;
    font-size: 13px;
}
.delivery_time > p > span{
    margin-right:5px;
}
.delivery_time > p > span > img{
    width: 18px;
}
.subcategory_price{
    width: 60%;
    display: inline-block;
}
ion-item > ion-label{
    margin-bottom: 0px;
    color: #1f1f1f;
    font-weight: 500;
}
.select_variant{
    width: 40%;
    display: inline-block;
}
.select_variant select{
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    font-size: 13px;
    max-width: 80px;
}
.abs_discount{
    position: absolute;
    top: 3px;
    left: 10px;
}
.featured_main{position: relative;}
//.prod_quantity{height: 50px;}
.prod_quantity{
    height: 55px;
    display: flex;
    align-items: center;
 
    justify-content: center;
}
.abs_discount > p{
    border: 1px solid #f2595e;
    padding: 2px 6px;
    background: #fef3f4;
    border-radius: 30px;
    color: #f2595e;
    font-weight: 500;
}
.abs_heart{
    position: absolute;
    top: 8px;
    right: 10px;
}
.featured_div_1{
    min-width: 70%;
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 0.52);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    padding-bottom:5px;
    box-shadow: 0px 2px 6px 1px #ccc;
}
.featured_div_1 .featured_img_container{
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.featured_div_1 .featured_img_container > img{
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
.featured_div_1 .subcategory_price > .price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: right;
}
.featured_div_1 .subcategory_price > .price_cont > p{
    font-size: 12px;
    color: #e11f21;
    font-weight: 600;
}
.featured_div_1 .subcategory_price > .actual_price_cont{
    width: 50%;
    display: inline-block;
    padding: 0px 2px;
    text-align: center;
}
.featured_div_1 .subcategory_price > .actual_price_cont > p{
    font-size: 12px;
    text-align: left;
    color: #a09e9e;
    text-decoration: line-through;
}
.featured_div_1 .select_variant{
    padding: 0px 7px 0px 0px;
}
.featured_div_1 .select_variant ion-select{
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    color: #1f1f1f;
    border-radius: 10px;
}
.featured_div_1 .add_to_cart_btn{
    padding: 10px 8px;
    text-align: center;
}
.featured_div_1 .add_to_cart_btn > button{
    width: 75%;
    /* background: #ccc; */
    border: none;
    background: #fef101;
    padding: 8px;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    // box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.48);
}
.featured_div_1 .add_to_cart_btn.out_stock > button{
    background: rgba(225, 27, 34, 0.61);
    color: #fff;
}
.delivery_time{
    padding: 0px 8px;
    width: 100%;
    margin: 15px auto 0;
    display: inline-flex;
    flex-wrap: wrap;
    min-height: 15px;
}
.delivery_time span{
    width:33%;
    text-align: center;
}
.delivery_time span > img{
    width: 20px;
    height: 20px;
}
.featured_div_1 .delivery_time > p{
    text-align: center;
    border: 1px solid #00a204;
    padding: 2px 10px;
    border-radius: 30px;
    background: #e9ffea;
    color: #00a204;
    font-size: 13px;
}
.featured_div_1 .delivery_time > p > span{
    margin-right:5px;
}
.featured_div_1 .delivery_time > p > span > img{
    width: 18px;
}
.featured_div_1 .subcategory_price{
    width: 60%;
    display: inline-block;
}
.featured_div_1 .select_variant{
    width: 40%;
    display: inline-block;
}
.eatable{
    position: absolute;
    top: 80px;
    left: 10px;
}
.veg{
    position: absolute;
    top: 80px;
    right: 10px;
}
.eatable > img{
    width:20px;
}
.red{
    --color: #e92f27;
    color: red;
}
.featured_div .heart{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 17px;
    color: #e72b25;
}
.modal.in {
    overflow-y: hidden;
}
button.reset{
    max-width: 100px;
    background: #969696;
    font-weight: 400;
    font-family: AvenirNextLTPro-Regular;
}
button.apply{
    max-width: 100px;
    font-family: AvenirNextLTPro-Regular;
}
@media screen and (min-width: 475px){
    .featured_div{
        min-width: 28%;
        max-width: 28%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
} 
@media screen and (min-width: 500px){
    
}
@media screen and (min-width: 599px){
    .featured_div{
        min-width: 37%;
        max-width: 37%;
        display: table-cell;
        border: 1px solid #ccc;
        margin: 0px 5px 0px 5px;
    }
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
}
@media screen and (max-width: 810px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
}
@media screen and (max-width: 768px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
}
@media screen and (max-width: 500px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    
} 
@media screen and (max-width: 415px){
}
@media screen and (max-width: 410px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .subcategory_price > .price_cont > p{
        font-size: 11px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 11px;
        
    }
    .featured_div_1 .select_variant{
        width: 100%;
        display: inline-block;
        padding: 0px 10px;
        text-align: center;
    }
    .featured_div_1 .subcategory_price{
        width: 100%;
        display: inline-block;
    }
    
} 

@media screen and (max-width: 390px){
    .featured_div{
        min-width: 65%; 
    }
}
@media screen and (max-width: 375px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
        
    }
    .subcategory_price > .price_cont{
        width: 56%;
    }
    .subcategory_price > .actual_price_cont{
        width: 42%;
    }
    .subcategory_price > .actual_price_cont > p {
        font-size: 9px;
    }
    
} 

@media screen and (max-width: 345px){
    .featured_div_1{
        min-width: 99%;
        max-width: 99%;
        display: inline-block;
        margin: 0px 0.5% 10px 0.5%;
    }
    .featured_main_1{
        text-align:center;
    }
    .subcategory_price > .price_cont > p{
        font-size: 12px;
    }
    .subcategory_price > .price_cont > p > span{
        font-size: 14px;
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 13px;
        
    }
    .subcategory_price > .price_cont > p{
        font-size: 10px;
    }
    .featured_div{
        min-width: 70%; 
    }
    .subcategory_price > .actual_price_cont > p{
        font-size: 12px;
    }
    .discount_offer{
        position: absolute;
        top: 10px;
        left: 5px;
        z-index: 9999;
        display: inline-block;
        width: auto;
    }
    
} 

.no_data{
    font-size: 18px;
    height: 72vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.selected_01{
    border-color: #e11f21;
    color: #e11f21;
}

//*****************************************//
.prod_quantity button{
    background: none;
    padding: 5px 15px;
  }
  .prod_quantity button:first-child, .prod_quantity button:last-child{
    background: #fde8e9;
    border-radius: 2px;
    padding: 5px 15px;
  }
.subcategory-banner
{
    padding: 10px 0;
}
.category-fix-top
{
    position: fixed;
    z-index: 9999999999999;
    top: 50px;
    background: white;
    left: 0;
    box-shadow: 0px 2px 4px -2px #777;
    width: 100%;
}
.pb-5
{
    padding-bottom: 5px !important;
}
.pb-2
{
    padding-bottom: 2px !important;
}
.pl-5
{
    padding-left: 5px !important;
}
.all_folks
{
    padding: 20px;
    text-align: center;
    background: #d3d3d336;
    border-top: 1px solid #e6e4e4;
    margin: 0px !important;
}