<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">My Favorite</ion-title>

        <ion-buttons slot="end" routerLink="/search">
            <ion-icon style="font-size: 24px;" color="light" md="md-search"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="no-padding" *ngIf="productList && productList.length > 0">

        <ion-row class="no-padding">
            <ion-col size="12">
                <div class="title-container">
                    <!-- -------------------------------- -->
                    <img src="assets/image/icon/my-wishlist.png" />
                    <!-- ---------------------------------------- -->
                    <p>My Wishlist</p>
                    <!-- <span class="title2"> <ion-icon  name="lock"></ion-icon> Private {{productList.length}} items</span> --vikas-->
                </div>
                <div class="product-wrapper">
                    <div class="product-container" *ngFor="let product of productList;let indx=index;">
                        <div class="row search_product_{{product.product_id}}">
                            <div class="offer-container">
                                <p class="__offer per-discount"
                                    *ngIf="product.offers_data?.offers_type == 'discount' && product.offers_data.discount_type == 'percentage'">
                                    {{product.offers_data.discount}}% Off</p>
                                <p class="__offer flat-discount"
                                    *ngIf="product.offers_data?.offers_type == 'discount' && product.offers_data.discount_type == 'flat'">
                                    {{product.offers_data.discount}} Flat</p>
                                <p class="__offer special-price"
                                    *ngIf="product.offers_data?.offers_type == 'special_price' ">Special Price</p>
                                <p class="__offer bogo" *ngIf="product.offers_data?.offers_type == 'offer'">OFFER
                                </p>
                            </div>
                            <div class="col-xs-5 p-relative"
                                (click)="route_product_view(product.product_id, product.product_name)">
                                <div class="product-image">
                                    <img class="gallery-img" *ngIf="product.gallery && product?.gallery[0]"
                                        src="{{product_placeholder}}"
                                        (load)="download_image($event,product?.gallery[0]?.image,image_url,'product/thumbnails/250')">

                                    <img class="product-img" *ngIf="!product.gallery && product.product_image"
                                        src="{{product_placeholder}}"
                                        (load)="download_image($event,product.product_image,image_url,'product/thumbnails/250')">

                                    <img class="default-img" *ngIf="!product.gallery && !product.product_image"
                                        src="{{product_placeholder}}">
                                </div>



                                <!-- <div class="other-icons">
                                    <span class="icon-queue food_icon" *ngIf="product?.food_type == 'veg'"><img
                                            src="assets/image/icon/veg.png" /></span>
                                    <span class="icon-queue food_icon" *ngIf="product?.food_type == 'nonveg'"><img
                                            src="assets/image/icon/nonveg.png" /></span>
                                    <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'nonfood'"><img
                                            src="assets/image/icon/non_eatable_icon.png" /></span>
                                    <span class="icon-queue food_icon" *ngIf="product?.product_nature == 'food'"><img
                                            src="assets/image/icon/eatable_icon.png" /></span>
                                    <span class="icon-queue flag_icon" *ngIf="product?.flag"><img
                                            src="{{product.flag}}"></span>
                                    <span class="icon-queue weight_icon"
                                        *ngIf="product?.product_weight_type == 'actual'"><img
                                            src="assets/image/icon/weight.png"></span>
                                    <span class="icon-queue express_icon" *ngIf="product?.mb_express == 'yes'"><img
                                            src="assets/image/icon/delivery.png"></span>
                                </div> -->
                            </div>
                            <div class="col-xs-7">

                                <div class="product-name"
                                    (click)="route_product_view(product.product_id, product.product_name)">
                                    <p> {{product.product_name}}</p>
                                </div>
                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <p class="product-price" *ngIf="product?.final_price"><i class="fa fa-inr"></i>
                                            {{product.final_price}}</p>
                                        <p class="product-price cut-price"
                                            *ngIf="product.final_price != product.product_price1">M.R.P : <i
                                                class="fa fa-inr"></i>{{product.product_price1}}</p>
                                    </div>
                                </div>
                                <div *ngIf="product.final_price != product.product_price1" class="price_saved">
                                    <p>You Save
                                        {{currency}} <span>{{product.product_price1 - product.final_price}}</span>
                                    </p>
                                </div>


                                <!-- <div class="product-variant-container" *ngIf="product?.product_pec_weight1">
                                <div class="product-variant">
                                    <select class="product-variant-select variant_data">
                                        <option value="{{product.vid}}">{{product.product_pec_weight1}}</option>
                                    </select>
                                </div>
                            </div>--vikas -->
                                <div class='stock-availability'>
                                    <div [style.display]="product.is_in_stock==1 ? 'block' : 'none' " class="stock-in">
                                        <button>Availability: In Stock</button>
                                    </div>
                                    <div [style.display]="product.is_in_stock==0 ? 'block' : 'none' " class="stock-out">
                                        <button>Availability: Out Of Stock</button>
                                    </div>
                                </div>

                                <div>
                                    <!-- <div class="col-xs-5">
                                    <div class="product-price-container">
                                        <p class="product-price" *ngIf="product?.final_price"><i class="fa fa-inr"></i>
                                            {{product.final_price}}</p>
                                        <p class="product-price cut-price"
                                            *ngIf="product.final_price != product.product_price1"><i
                                                class="fa fa-inr"></i> {{product.product_price1}}</p>
                                    </div>
                                </div> --vikas-->
                                    <div class="col-xs-5 product-variant-container"
                                        *ngIf="product?.product_pec_weight1">
                                        <div class="product-variant">
                                            <select class="product-variant-select variant_data single-variant" disabled>
                                                <option value="{{product.vid}}">{{product.product_pec_weight1}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 product-add-button">
                                        <div class="prod-quantity-container">

                                            <div [style.display]="product.in_cart_quantity && product.is_in_stock == 1 ? 'block' : 'none' "
                                                class="cart-control cart-action-container text-center update_btn">
                                                <button class="cart-action down_btn"
                                                    (click)="updateQuantity(product.product_id, 'down','search_product_'+product.product_id)">&minus;</button>
                                                <button
                                                    class="cart-quantity product_quantity_count">{{product.in_cart_quantity}}</button>
                                                <button class="cart-action up_btn"
                                                    (click)="updateQuantity(product.product_id, 'up','search_product_'+product.product_id)">&#43;</button>
                                            </div>

                                            <div [style.display]="!product.in_cart_quantity && user_id && product.is_in_stock==1 ? 'block' : 'none' "
                                                class="cart-control add_to_cart_btn add_btn"
                                                (click)="addToCart(product.product_id,'search_product_'+product.product_id)">
                                                <div><button><span style="width: 100%;"> ADD </span><span
                                                            class="add">&#43;</span> </button>
                                                </div>
                                            </div>

                                            <div [style.display]="!user_id && product.is_in_stock==1 ? 'block' : 'none' "
                                                class="cart-control add_to_cart_btn add_to_cart_btn_login"
                                                (click)="routeLogin()">
                                                <div><button><span style="width: 100%;"> ADD </span><span
                                                            class="add">&#43;</span> </button>
                                                </div>
                                            </div>

                                            <div [style.display]="product.is_in_stock==0 ? 'block' : 'none' "
                                                class="cart-control add_to_cart_btn add_to_cart_btn_out_stock">
                                                <!-- <button>NOTIFY ME</button> -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list style="padding-top:0px" id="skeleton" *ngIf="is_api_request == true && productList.length == 0">
        <ion-item>
            <p>No product in your wishlist</p>
        </ion-item>
    </ion-list>

    <ion-list style="padding-top:0px" id="skeleton" *ngIf="is_api_request == false">

        <ion-item style="--border-color:transparent;--padding-start:0px;--inner-padding-end:0px;--padding-bottom:10px">
            <ion-thumbnail animated style="width: 100%;height: 80px;margin-right:0px;" slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 0 auto 5px auto;">
                <ion-thumbnail style="width: 100%;height: 40px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;">
            <div style="width: 100%;margin: 5px auto;">
                <ion-thumbnail style="width: 100%;height: 25px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
            </div>
        </ion-item>

        <ion-item style="--border-color:transparent;" *ngFor="let item of [1,2]">
            <div style="width: 100%;margin: auto;">
                <ion-thumbnail style="width: 100%;height: 100px;" slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>

                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </div>
        </ion-item>
    </ion-list>

</ion-content>

<app-footer-tabs></app-footer-tabs>