<ion-header>
    <ion-toolbar>
        <ion-back-button color="light" slot="start" mode="md" defaultHref='home'></ion-back-button>
        <ion-title color="light">My Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <ion-col size="12" class="profile_completion">
                <div class="profile_main">
                    <div class="progress_bar">
                        <ion-progress-bar value="{{ stats_bar/100 }}"></ion-progress-bar>
                        <p>{{stats_bar}}% Complete</p>
                    </div>

                    <div class="profile_div pt-10 pb-10">

                        <div class="account_info">
                            <div class="name">
                                <div class="student_name">
                                    <ion-text style="text-transform: capitalize;">{{first_name}} {{last_name}}
                                    </ion-text>
                                </div>
                                <div class="edit" >
                                    <ion-text style="text-transform: capitalize;"><span
                                        *ngIf="gender != ''">{{gender}}</span><span
                                        *ngIf="!gender">&ndash;</span></ion-text>
                                </div>
                            </div>
                            <div class="form">
                                <div class="form_div">
                                    <div class="part_1 inline2">
                                        <ion-text>Email Address</ion-text>
                                    </div>
                                    <div class="part_2 inline">
                                        <ion-text><span *ngIf="email != ''">{{email}}</span><span
                                                *ngIf="email == ''">&ndash;</span>
                                            &nbsp; &nbsp; <span (click)="edit_email(1);"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></span>
                                        </ion-text>
                                    </div>
                                </div>
                                <div class="form_div">
                                    <div class="part_1 inline2">
                                        <ion-text>Mobile Number</ion-text>
                                    </div>
                                    <div class="part_2 inline">
                                        <ion-text><span *ngIf="mobile != ''">{{mobile}}</span><span
                                                *ngIf="mobile == ''">&ndash;</span></ion-text>
                                        &nbsp; &nbsp;<span (click)="edit_mobile(2);"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form_div">
                                    <div class="part_1 inline2">
                                        <ion-text>DOB</ion-text>
                                    </div>
                                    <div class="part_2 inline" *ngIf="dob!='1/1/1970'">
                                        <ion-text> <span *ngIf="dob != ''">{{dob}}</span><span
                                                *ngIf="!dob ">&ndash;</span></ion-text>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>

            <ion-col size="12">
                <div class="myaccount-wrapper">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="goto_profile(0)">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-profile.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Profile</p>
                                            <p class="description"><small>Edit Name, Email, Mobile and others.</small></p>
                                        </div>
                                    </div>
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
    
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('my-address')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/address-map-pin.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Address</p>
                                            <p class="description"><small>Add and edit your delivery address.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('change-password')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/sign-in-lock.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Change Password</p>
                                            <p class="description"><small>Change your login password.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('order-list')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-order.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Orders</p>
                                            <p class="description"><small>Manage your order, retrun, Re-order.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('my-wishlist')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-wishlist.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Wishlist</p>
                                            <p class="description"><small>See added item to your wishlist.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('cart')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-cart.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Cart</p>
                                            <p class="description"><small>See added item to your cart.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('notifications')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-notification-bell.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Notification</p>
                                            <p class="description"><small>See all notification of your account.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('shopping-preferenes')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-preferences.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Shopping Prefences</p>
                                            <p class="description"><small>Set your shopping preferences you like.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('refer-freind')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/referafriend.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Refer A Friend</p>
                                            <p class="description"><small>Refer a friend & earn loyalty points.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('order-issue')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/orderissue_active.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Order Issue Ticket</p>
                                            <p class="description"><small>Issue store tickets for your stores.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('store-issue')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/storeissue_active.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">Store Issue Ticket</p>
                                            <p class="description"><small>Issue store tickets for your stores.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="account-tile ion-activatable ripple-parent" (click)="route_user('offers')">
                                <div class="row no-margin">
                                    <div class="col-xs-3 no-padding">
                                        <div class="account-icon">
                                            <img src="assets/image/icon/my-notification-bell.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <div class="account-text">
                                            <p class="title">My Offer</p>
                                            <p class="description"><small>See all offer of your product.</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </div>
                        </div>

                    </div>
                </div>
            </ion-col>

            
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer-tabs></app-footer-tabs>