.inline2{
    width:35%;
    display: inline-block;
    vertical-align: top;
}
.inline{
    width:65%;
    display: inline-block;
    vertical-align: top;
}
--progress-background
{
    background: green !important;
}
.profile_main{
    padding: 5px;
}
.profile_main > .text > ion-text{
    color: #5f5f5f;
    font-weight: 500;
}
.profile_main > .progress_bar{
    width: 100%;
}
.profile_main > .progress_bar > ion-progress-bar{
    height: 5px;
    border-radius: 2px;
    overflow: hidden;
    width: calc(100% - 120px);
    display: inline-block;
}
.profile_main > .progress_bar > p{
    width: 120px;
    display: inline-block;
    text-align: center;
}
.profile_main > .profile_div > .image{
    width: 60px;
    display: inline-block;
}
.profile_main > .profile_div > .account_info{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.profile_main > .profile_div > .image > ion-avatar{
    font-size: 21px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    color: #ea1241;
    box-shadow: 0px 5px 15px #00000038;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ea1241;
    font-weight: bold;
    letter-spacing: 1px;
}
.name{
    margin: 0px 0px 10px 0px;
}
.name > .student_name, .name > .edit{
    width:50%;
    display: inline-block;;
}
.name > .edit{
    text-align: right;
}
.name > .student_name{
    font-size: 15px;
    color: #1f1f1f;
    font-weight: 500;
}
.name > .edit > a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}
.name > .edit > a > span > i{
    color:#999999;
}
.form{
    font-size: 14px;
}
.form > .form_div > .part_1{
    color: rgba(31, 31, 31, 0.7);
}
.form > .form_div > .part_2{
    text-align: left;
    // font-weight: 500;
}
.profile_div{
    border-bottom: 1px solid #e32320;
}
.list{
    padding: 0px 10px;
}
.list > ul > li{
    padding:20px 0px;
    border-bottom: 1px solid #ccc;
    color: #1f1f1f;
    font-weight: 500;
}
.list > ul > li:focus{
    outline:none;
}
.list > ul > li > span:first-child{
    display: inline-block;
    width:20px;
}
.list > ul > li > span:last-child{
    float:right;
    font-size: 18px;
    color:#999999;
}
.list > ul > li > span:first-child > img{
    width:15px;
}
.myaccount-wrapper
{
    padding: 1px;
}
.myaccount-wrapper .col-xs-6:nth-child(odd)
{
    padding-right: 0px;
}
.myaccount-wrapper .account-tile
{
    padding: 10px;
    border:1px solid #ddd;
    margin-bottom: 10px;
}
.myaccount-wrapper .account-tile .account-icon
{
    display: flex;
    align-items: center;
    justify-items: center;
}

.myaccount-wrapper .account-tile .account-text
{
    padding-left: 10px;
}
.myaccount-wrapper .account-tile .account-text .title
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 25px;
    max-height: 25px;
}