ion-content{
   background-image: url("../../assets/image/form_bg.png");
  background-size: 100% 100%;
    --background: transparent;
    background-attachment: fixed;
    --padding-start: 20px;
    --padding-end: 20px;
}

.text{
    font-size: 16px;
}
.sign_btn{
    padding: 10px;
    text-align: center;
}
.sign_btn > button{
    padding: 10px;
    width: 200px;
    background: linear-gradient(to right, #e32221, #e8461a);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
.form > ion-item > ion-label::after{
    content:"";
}
.error {
    color: #e7401b;
    font-weight: 500;
}