.create{
    size: 15px;
    font-weight: 500;
}
.order{
    padding-left: 10px;
}
.padcreate{
    padding-top: 5px;
}
.card-text{
    color: #f1413d;
    text-transform: capitalize;
}
.button_status > button{
    border: none;
    background: linear-gradient(to right, #e2d815, #e8b45a);
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;
    //box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.23);
    letter-spacing: 1px;
}
span.tickets{
    padding-right: 14px;
    padding-top: 10px !important;
    font-size: 16px !important;
}
span{
    font-size: 16px !important;
}
.sc-ion-card-md-h {
     border-radius: 7px;
}